<template>
    <div class="padding-div" id="admin-detail">
      <el-form label-position="right" label-width="80px" :model="admin" ref="adminForm" :rules="rules">
        <el-form-item label="头像">
          <img :src="getAvatar()" width="64" height="64"></img>
        </el-form-item>

        <el-form-item label="工号" prop="userNo" :error="errors.userNo">
          <el-input v-model="admin.userNo" placeholder="工号"  :disabled="true"></el-input>
        </el-form-item>
        
        <el-form-item label="姓名" prop="name" :error="errors.name" >
          <el-input v-model="admin.name" placeholder="姓名"  :autofocus="true"></el-input>
        </el-form-item>
        
        <el-form-item label="邮箱" prop="email" :error="errors.email">
          <el-input v-model="admin.email" placeholder="邮箱" ></el-input>
        </el-form-item>
        
        <el-form-item label="性别" prop="sex" :error="errors.sex">
          <el-radio-group v-model="admin.sex">
            <el-radio label="0">男</el-radio>
            <el-radio label="1">女</el-radio>
          </el-radio-group>
        </el-form-item>
        
        <el-form-item label="密码" prop="password" :error="errors.password">
          <el-input v-model="admin.password" placeholder="密码"></el-input>
        </el-form-item>
        
        <el-form-item label="微信" prop="wechat">
          <el-input v-model="admin.wechat" placeholder="微信"></el-input>
        </el-form-item>

        <el-form-item label="电话" prop="phone">
          <el-input v-model="admin.phone" placeholder="电话"></el-input>
        </el-form-item>

        <el-form-item label="入学年份" prop="phone">
          <el-input v-model="admin.admission_year" placeholder="入学年份"></el-input>
        </el-form-item>

        <el-form-item label="个人简介" prop="description">
          <el-input 
          type="textarea"
          :rows="2"
          v-model="admin.description" placeholder="电话"></el-input>
        </el-form-item>

        <el-form-item label="状态" prop="status">
          <el-select v-model="admin.status" placeholder="请选择">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        
        <el-form-item label="出生" prop="birthday">
          <el-date-picker
            v-model="admin.birthday"
            type="date"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('adminForm', true)" :loading="loading">保存后退出</el-button>
            <el-button type="info" @click="submitForm('adminForm', false)" :loading="loading">保存修改</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
  </template>
<script>
 
  import {showUserAction, storeUserAction, updateUserAction} from 'api/users'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../../config'
  
  export default {
    name: 'notification-detail',
    // components: { summernote },
    data() {
      return {
        id: '',
        admin: {
          name: '',
          userNo: '',
          email: '',
          avatar: '',
          password: '',
          admission_year: '',
          role: 0,
          wechat: '',
          birthday: '',
          phone: '',
          sex: '0',
          description: '',
          status: 1,
        },
        statusOptions: [{
          value: 0,
          label: '停用'
        }, {
          value: 1,
          label: '正常'
        }, {
          value: 2,
          label: '归档'
        }],
        rules: {
          name: {required: true, message: '姓名是必须的', trigger: 'blur'},
          userNo: {required: true, message: '工号是必须的', trigger: 'blur'},
          email: {required: true, message: '邮箱是必须的', trigger: 'blur'},
        },
        loading: false,
        editMode: false,
        errors: {}
      }
    },

    mounted() {
      this.id = this.$route.query.id
      
      if(this.id) {
        let loadingDialog = Loading.service()
        
        showUserAction(this.id).then(response => {
          this.admin = response.user
          this.admin.sex = '' + this.admin.sex
          loadingDialog.close()
        }).catch(err => {
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      }
    },

    methods: {
      cancel() {
        history.back()
      },

      getAvatar() {
        return imageUrl + this.admin.avatar 
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}
            updateUserAction(this.id, this.admin).then(response => {
              this.$message.success('保存成功')
              if(shouldExit) {
                this.$router.push({path: '/admin/admins/index'})
              }
              this.loading = false
            }).catch(err => {
              this.errors = err
              console.log(err)
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>