<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="激活选中管理员" placement="bottom">
                <el-button size="small" @click="activeAdmins">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
                <el-tooltip class="item" effect="dark" content="停用选中管理员" placement="bottom">
                <el-button size="small" @click="disableAdmins">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="归档选中管理员" placement="bottom">
                <el-button size="small" @click="archiveAdmins"><i class="fa fa-archive" aria-hidden="true"></i></el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="删除选中管理员" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteAdmins"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center paginator-div" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <router-link :to="{path: '/admin/admins/create'}">
              <el-button type="success" icon="plus" @click="createAdmin">添加新管理员</el-button>
            </router-link>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="adminForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 75px">
              <el-option label="工号" value="userNo"></el-option>
              <el-option label="姓名" value="name"></el-option>
              <el-option label="邮箱" value="email"></el-option>
              <el-option label="微信" value="wechat"></el-option>
              <el-option label="手机" value="phone"></el-option>
              <el-option label="入职年份" value="admission_year"></el-option>
            </el-select>
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="searchForm.status" placeholder="状态" size="small" style="width: 100px;" @visible-change="changeStatus">
            <el-option label="所有状态" value="All"></el-option>
            <el-option label="停用" value="0"></el-option>
            <el-option label="正常" value="1"></el-option>
            <el-option label="归档" value="2"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="admins"
      tooltip-effect="dark"
      empty-text="暂无任何管理员"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="userNo"
        width="120"
        label="工号">
      </el-table-column>
      <el-table-column
        prop="name"
        width="100"
        label="姓名">
      </el-table-column>
      <el-table-column
        prop="email"
        show-overflow-tooltip
        label="邮箱">
      </el-table-column>

      <el-table-column
        prop="wechat"
        show-overflow-tooltip
        label="微信">
      </el-table-column>
      
      <el-table-column
        prop="phone"
        show-overflow-tooltip
        label="手机">
      </el-table-column>

      <el-table-column
        prop="admission_year"
        width="100"
        show-overflow-tooltip
        label="学年">
      </el-table-column>

      <el-table-column
        prop="status"
        label="状态"
        width="100">
        <template scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{scope.row.status | statusLabel}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该管理员" placement="bottom">
            <el-button
              @click="editAdmin(scope.$index)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getAdminsAction, archiveUsersAction, deleteUsersAction, disableUsersAction, activeUsersAction} from 'api/users'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        admins: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        searchForm: {
          status: '1', 
          keywords: '',
          select: 'name',
          admission_year: ''
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
          select: {required: true, message: '必须选择一项'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'userNo', order: 'ascending'},
            label: '按工号升序'
          },
          {
            value: {prop: 'userNo', order: 'descending'},
            label: '按工号降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按名字升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按名字降序'
          },
          {
            value: {prop: 'admission_year', order: 'ascending'},
            label: '按入职时间升序'
          },
          {
            value: {prop: 'admission_year', order: 'descending'},
            label: '按入职时间降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.init() 
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          0: 'primary',
          1: 'success',
          2: 'danger'
        };
        return statusMap[status]
      },

      statusLabel(status) {
        const statusMap = {
          0: '停用',
          1: '正常',
          2: '归档'
        };
        return statusMap[status]
      }
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        getAdminsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.admins  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      changeStatus(hide) {
        if(!hide) {
          const path = this.$route.path
          let query = this.$route.query
          if(this.searchForm.status == 'All') {
            query.status = ''
          } else {
            query.status = this.searchForm.status
          }
          
          const queryStr = query2Str(query)
          this.loadData(1, queryStr) 
        }
      },
      
      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 
        
        if(query.select) {
          this.searchForm.select = query.select
        }

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      createAdmin() {
        this.$router.push({path: '/admin/admins/create'})
      },
      
      editAdmin(row) {
        const adminId = this.admins[row].id
        this.$router.push({path: '/admin/admins/show', query: {id : adminId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      disableAdmins() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要停用的管理员')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          disableUsersAction(ids).then(response => {
            this.admins = this.admins.map(admin=> {
              if(idsArray.includes(admin.id)) {
                admin.status = 0
              }
              return admin
            })
            this.$message.success('成功停用管理员')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      activeAdmins() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要激活的管理员')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          activeUsersAction(ids).then(response => {
            this.admins = this.admins.map(admin=> {
              if(idsArray.includes(admin.id)) {
                admin.status = 1
              }
              return admin
            })
            this.$message.success('成功激活管理员')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        } 
      },

      archieveAdmin(row) {
        const admin = this.admins[row]
        archiveUsersAction(admin.id).then(response => {
          admin.status = 2
          this.$message.success('成功归档管理员')
        }).catch(err => {
          this.$message.error(err.response.error)
        })
      },

      archiveAdmins() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要归档的管理员')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          archiveUsersAction(ids).then(response => {
            this.admins = this.admins.map(admin=> {
              if(idsArray.includes(admin.id)) {
                admin.status = 2
              }
              return admin
            })
            this.$message.success('成功归档管理员')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      deleteAdmin(row) {
        this.$confirm('此操作将永久删除该管理员, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => { 
          const adminId = this.admins[row].id
          deleteUsersAction(adminId).then(response => {
            this.admins = this.admins.filter(admin => {
              return admin.id != adminId
            })
            this.$message.success('成功删除管理员')
          }).catch(err => {
            this.$message.error(err.response)
          })
        }).catch(() => {
          this.$message({ type: 'info', message: '已取消删除' });          
        });
      },
      
      deleteAdmins() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的管理员')
        } else {
          this.$confirm('此操作将永久删除管理员, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteUsersAction(ids).then(response => {
              this.admins = this.admins.filter(admin => {
                return !idsArray.includes(admin.id)
              })
              this.$message.success('成功删除管理员')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'admins-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
