<template>
  <div class="padding-div" >
    <calendar></calendar>
  </div>
</template>

<script>
  import calendar from '../Calendar'

  export default {
    name: 'teacher-schedules',
    components: {
      calendar
    }
  }
</script>