<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中教室申请" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteClassroomApplies"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
              <el-button type="success" icon="plus" @click="applyClassroom">申请使用教室</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="clForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="classroom_applies"
      tooltip-effect="dark"
      empty-text="暂无任何教室申请"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="classroom_name"
        label="教室名">
      </el-table-column>

      <el-table-column
        prop="start"
        label="起始时间">
      </el-table-column>

      <el-table-column
        prop="end"
        label="起始时间">
      </el-table-column>

      <el-table-column
        prop="result"
        label="状态"
        width="100">
        <template scope="scope">
          <el-tag :type="scope.row.result | statusFilter">{{scope.row.result | statusLabel}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group v-show="scope.row.result == 2">
          <el-tooltip class="item" effect="dark" content="编辑该教室申请" placement="bottom" >
            <el-button
              @click="editClassroomApply(scope.row)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getStudentClassroomAppliesAction, deleteClassroomApplyAction} from 'api/classroom_applies'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        classroom_applies: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        dialogVisible: false,
        searchForm: {
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'classroom_name', order: 'ascending'},
            label: '按教室名升序'
          },
          {
            value: {prop: 'classroom_name', order: 'descending'},
            label: '按教室名降序'
          },
          {
            value: {prop: 'start', order: 'ascending'},
            label: '按起始时间升序'
          },
          {
            value: {prop: 'start', order: 'descending'},
            label: '按起始时间降序'
          },
          {
            value: {prop: 'result', order: 'ascending'},
            label: '按结果升序'
          },
          {
            value: {prop: 'result', order: 'descending'},
            label: '按结果降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.init() 
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          0: 'danger',
          1: 'success',
          2: 'info'
        };
        return statusMap[status]
      },

      statusLabel(status) {
        const statusMap = {
          0: '拒绝',
          1: '接受',
          2: '等待审核中'
        };
        return statusMap[status]
      }
    },

    methods: {
      applyClassroom () {
        this.$router.push({path: '/classroom_applies/create'})
      },

      editClassroomApply(apply) {
        this.$router.push({path: '/classroom_applies/edit', query: {applyId: apply.id}})
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        getStudentClassroomAppliesAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.classroom_applies  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query.keywords = this.searchForm.keywords
        
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteClassroomApplies() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的教室申请')
        } else {
          this.$confirm('此操作将永久删除教室申请, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteClassroomApplyAction(ids).then(response => {
              this.classroom_applies = this.classroom_applies.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除教室申请')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'classroom_applies-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
