<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
      </el-row>
    </div>


    <el-form :inline="true" :model="searchForm" class="" ref="searchForm" :rules="rules">
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 110px">
              <el-option label="实践名称" value="taskName"></el-option>
              <el-option label="学生" value="studentName"></el-option>
            </el-select>
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>

        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  

    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="feedbacks"
      tooltip-effect="dark"
      empty-text="暂无任何反馈"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      >
      <el-table-column
        prop="id"
        width="100"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="task_title"
        label="实践名称">
        <template scope="scope">
          <router-link :to="{path: '/teacher/tasks/edit', query: {taskId: scope.row.task_id}}">{{scope.row.task_title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="student_name"
        width="120"
        label="学生名">
      </el-table-column>

      <el-table-column
        prop="note"
        width="220"
        label="评分">
        <template scope="scope">
          <el-rate
            v-model="scope.row.note"
            disabled
            show-text
            text-color="#ff9900"
            text-template="{value}">
          </el-rate>
        </template>
      </el-table-column>

      <el-table-column
        prop="created_at"
        width="170"
        label="评论时间"
       >
      </el-table-column>
      
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该反馈" placement="bottom">
            <el-button
              @click="showFeedback(scope.$index)"
              type="primary"
              :page-size="100"
              size="small">
              <i class="fa fa-eye"></i>
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getTeacherFeedbacksAction} from 'api/feedbacks'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        feedbacks: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        loading: true, 
        sortInfo : {},
        searchForm:  {
          keywords: '',
          select: '',
        },
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
          select: {required: true, message: '必须选择一项'},
        },

        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
        ],

        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.init() 
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },
      
      onSubmit() {
        // this.$refs['searchForm'].validate((valid) => {
          // if (valid) {
            const path = this.$route.path
            let query = this.$route.query
            query.keywords = this.searchForm.keywords
            query.select = this.searchForm.select
            query.prop = this.sortInfo && this.sortInfo.prop
            query.order = this.sortInfo && this.sortInfo.order
            const queryStr = query2Str(query)
            this.$router.push({path: path + queryStr})
          // } else {
            // this.$message.error('您还未完成该表单')
            // return false;
          // }
        // });
      },
      
      setPage(pageNumber) {
        this.init(pageNumber)
      },

      loadData(page, queryStr) {
        this.loading = true
        getTeacherFeedbacksAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.feedbacks  = response.data
          this.feedbacks.map(feedback => {
            feedback.note = Number(feedback.note)
          })
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.loading = false
          this.$message.error('加载失败，请重新加载')
        })    
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }

        if(query.select) {
          this.searchForm.select = query.select
        }

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        const queryStr = query2Str(query)
        
        this.loadData(page, queryStr) 
      },

      showFeedback(row) {
        const feedbackId = this.feedbacks[row].id
        this.$router.push({path: '/feedbacks/show', query: {feedbackId: feedbackId}})
      },
    },
    name: 'teacher-feedbacks-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
  
  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }

  .pointer {
    cursor: pointer;
  }

  a:hover {
    color: #20a0ff
  }
</style>
