<template>
  <div>
    <div class="text-right margin-bottom">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
            <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
          </el-tooltip>
        </el-col>
      </el-row>
    </div>
    <div id="calendar"></div>
  </div>
</template>

<script>
  import 'fullcalendar'
  import 'fullcalendar/dist/fullcalendar.min.css'
  import 'fullcalendar/dist/locale/zh-cn'
  
  import {getSchedulesAction}  from 'api/schedules'
  import moment from 'moment'
  import {Loading} from 'element-ui'
  
  export default {
    props: {
      droppable : {
        type: Boolean,
        required: false,
        default: false 
      },
      editable: {
        type: Boolean,
        required: false,
        default: false
      },
    },
    data() {
      return {
        cal: null,
        config: {},
        sourceEvents: [],

        start_at: moment().startOf('month').format('YYYYMMDD'),
        end_at: moment().endOf('month').format('YYYYMMDD'),

        loading: false,
      }
    },
    mounted() {
      var self = this
      // self.cal = $(self.$el)
      self.cal = $('#calendar')
      
      this.config = {
        lang: 'zh-cn',
        header: {
          left:   'prev,next today',
          center: 'title',
          right:  'agendaWeek,agendaDay'
        },
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        defaultView: 'agendaWeek',
        minTime: '05:00:00',
        maxTime: '22:00:00',
        
        events: self.events,
        
        dayClick: (date) => {
          self.cal.fullCalendar('gotoDate', date.start)
          self.cal.fullCalendar('changeView', 'agendaDay')
        },

        eventClick: (event) => {
        }
      }
      
      this.cal.fullCalendar(this.config)
      this.init() 
    },

    methods: {
      init () {
        let loadingInstance1 = Loading.service({target: '.fc-view-container'});
        let role = this.$store.getters.role
        if(role == 'superAdmin') {
          role = 'admin'
        }

        getSchedulesAction(this.start_at, this.end_at, role).then(response => {
          this.events = response.map(event => {
            event.title = event.course
            event.start = new Date(event.start)
            event.end = new Date(event.end)
            return event
          })
          this.cal.fullCalendar('removeEventSources')
          this.cal.fullCalendar('addEventSource', {
            events: this.events
          })
          loadingInstance1.close()
        }).catch(err => {
          console.log(err)
          this.$message.error('加载课程表失败，请尝试重新连接或者联系管理员')
          loadingInstance1.close()
        }) 
      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
