<template>
    <div>
        <el-button @click="toggleClick">
          <i class="fa fa-bars" :class="{'is-active':isActive}"></i>
        </el-button>
    </div>
</template>

<script>
    export default {
      name: 'toggle',
      props: {
        isActive: {
          type: Boolean,
          default: false
        },
        toggleClick: {
          type: Function,
          default: null
        }
      }
    }
</script>

<style scoped>
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: 20px;
        transform: rotate(0deg);
        transition: .38s;
        transform-origin: 50% 50%;
    }
    .hamburger.is-active {
        transform: rotate(90deg);
    }
</style>
