<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中资源" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteResources"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createResource">添加新资源</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="clForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="resources"
      tooltip-effect="dark"
      empty-text="暂无任何资源"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        label="资源名">
      </el-table-column>

      <el-table-column
        prop="level"
        label="等级">
        <template scope="scope">
          <el-tag :type="scope.row.level | levelFilter">{{scope.row.level | levelLabel }}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该资源" placement="bottom">
            <el-button
              @click="editResource(scope.row)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>

    <el-dialog
      title="创建资源"
      :visible.sync="dialogVisible"
      size="large">

      <el-form :model="newResource" ref="newResource" label-width="120px">
        <el-form-item
          label="资源名称"
          prop="name"
          :rules="[{required: true, message: '资源名称不能为空'}]">
          <el-input v-model="newResource.name" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item
          label="资源描述"

          prop="description">
          <el-input v-model="newResource.description" rows="5" type="textarea" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item
          label="等级"
          prop="level">
          <el-select v-model="newResource.level" placeholder="请选择">
            <el-option
              v-for="item in levelOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveResource">{{btnLabel}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {getResourcesAction, deleteResourceAction, updateResourceAction, storeResourceAction} from 'api/resources'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        resources: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        dialogVisible: false,
        searchForm: {
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'level', order: 'ascending'},
            label: '按等级名升序'
          },
          {
            value: {prop: 'level', order: 'descending'},
            label: '按等级降序'
          },
        ],
        levelOptions: [{
          value: 0,
          label: '学生可用'
        }, {
          value: 1,
          label: '老师可用'
        }, {
          value: 2,
          label: '全部可用'
        }],
        sortInfo: {prop: 'id', order: 'descending'},
        createMode: true,
        newResource: {
          description: '',
          name: '',
          quantity: 1,
          level: '2'
        },
      }
    },
     filters: {
      levelFilter(status) {
        const statusMap = {
          0: 'success',
          1: 'info',
          2: 'primary'
        };
        return statusMap[status]
      },

      levelLabel(status) {
        const statusMap = {
          0: '学生可用',
          1: '老师可用',
          2: '都可使用'
        };
        return statusMap[status]
      }
    },


    mounted() {
      this.init() 
    },

    computed: {
      btnLabel () {
        return this.createMode ? '创 建' : '修 改' 
      }
    },

    methods: {
      createResource() {
        this.dialogVisible = true 
        this.createMode = true
      },

      editResource(resource) {
        this.newResource.id = resource.id
        this.newResource.name = resource.name
        this.newResource.level = resource.level
        this.newResource.description = resource.description
        this.newResource.quantity = resource.quantity
        this.dialogVisible = true
        this.createMode = false
      },

      saveResource() {
        this.loading = true
        this.dialogVisible = false
        if(this.createMode) {
          storeResourceAction(this.newResource).then(response => {
            this.resources.push(response)
            this.newResource.name = ''
            this.newResource.quantity= 0
            this.newResource.level = '2',
            this.newResource.description = ''
            this.loading = false
          })
        } else {
          updateResourceAction(this.newResource).then(response => {
            this.loading = false
            this.newResource.name = ''
            this.newResource.quantity = 0
            this.newResource.level = '2',
            this.newResource.description = ''
            this.init()
          })
        }
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        const role = this.$store.getters.role
        getResourcesAction(role, page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.resources  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query.keywords = this.searchForm.keywords
        
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteResources() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的资源')
        } else {
          this.$confirm('此操作将永久删除资源, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteResourceAction(ids).then(response => {
              this.resources = this.resources.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除资源')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'resources-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
