<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中教室" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteClassrooms"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createClassroom">添加新教室</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="clForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="classrooms"
      tooltip-effect="dark"
      empty-text="暂无任何教室"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        label="教室名">
      </el-table-column>

      <el-table-column
        prop="room"
        label="教室容量">
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该教室" placement="bottom">
            <el-button
              @click="editClassroom(scope.row)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>

    <el-dialog
      title="创建教室"
      :visible.sync="dialogVisible"
      size="small">

      <el-form :model="newClassroom" ref="newClassroom" label-width="120px">
        <el-form-item
          label="教室名称"
          prop="name"
          :rules="[{required: true, message: '教室名称不能为空'}]">
          <el-input v-model="newClassroom.name" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="教室容量" 
          prop="room"
          :rules="[{required: true, message: '教室容量不能为空'}, {type: 'number', min: 1, message: '教室容量必须为数字'}]">
          <el-input v-model="newClassroom.room" auto-complete="off"></el-input>
        </el-form-item>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveClassroom">{{btnLabel}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {getClassroomsAction, deleteClassroomAction, updateClassroomAction, storeClassroomAction} from 'api/classrooms'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        classrooms: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        dialogVisible: false,
        searchForm: {
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按教室名升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按教室名降序'
          },
          {
            value: {prop: 'room', order: 'ascending'},
            label: '按教室容量升序'
          },
          {
            value: {prop: 'room', order: 'descending'},
            label: '按教室容量降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
        createMode: true,
        newClassroom: {
          name: '',
          room: '',
        }
      }
    },

    mounted() {
      this.init() 
    },

    computed: {
      btnLabel () {
        return this.createMode ? '创 建' : '修 改' 
      }
    },

    methods: {
      createClassroom() {
        this.dialogVisible = true 
        this.createMode = true
      },

      editClassroom(cl) {
        this.newClassroom.id = cl.id
        this.newClassroom.name = cl.name
        this.newClassroom.room = cl.room
        this.dialogVisible = true
        this.createMode = false
      },

      saveClassroom() {
        this.loading = true
        this.dialogVisible = false
        if(this.createMode) {
          storeClassroomAction(this.newClassroom).then(response => {
            this.classrooms.push(response)
            this.newClassroom.name = ''
            this.newClassroom.room = ''
            this.loading = false
          })
        } else {
          updateClassroomAction(this.newClassroom).then(response => {
            this.loading = false
            this.newClassroom.name = ''
            this.newClassroom.room = ''
            this.init()
          })
        }
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        getClassroomsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.classrooms  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query.keywords = this.searchForm.keywords
        
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteClassrooms() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的教室')
        } else {
          this.$confirm('此操作将永久删除教室, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteClassroomAction(ids).then(response => {
              this.classrooms = this.classrooms.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除教室')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'classrooms-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
