<template>
    <div class="padding-div" id="resource_apply-detail">
        <div class="text-right" v-show="resource_apply.result === 2">
            <el-button type="primary" @click="acceptApply" :loading="loading">批准</el-button>
            <el-button type="danger" @click="refuseApply" :loading="loading">拒绝</el-button>
        </div>
        <el-form label-position="right" label-width="120px" :model="resource_apply" ref="resource_applyForm">

            <el-form-item label="申请资源" prop="resource" :error="errors.resource">

                <div>{{resource_apply.resource}}</div>
            </el-form-item>

            <el-form-item label="申请人">
                <div>{{resource_apply.demand_name}}</div>
            </el-form-item>

            <el-form-item label="申请结果">
                <div>
                   <el-tag type="success" v-show="resource_apply.result === 1">已批准</el-tag> 
                   <el-tag type="danger" v-show="resource_apply.result === 0">已拒绝</el-tag> 
                   <el-tag type="info" v-show="resource_apply.result === 2">待处理</el-tag> 
                </div>
            </el-form-item>

            <el-form-item label="处理人" v-show="resource_apply.result !== 2">
                <div>{{resource_apply.admin_name}}</div>
            </el-form-item>

            <el-form-item label="起始日期" prop="start" :error="errors.start">
                <div>{{resource_apply.start}}</div>
            </el-date-picker>
            </el-form-item>

            <el-form-item label="终止日期" prop="end" :error="errors.end">
                <div>{{resource_apply.end}}</div>
            </el-form-item>

            <el-form-item label="资源使用情况">
                <div id="calendar"></div>
            </el-form-item>

            
        </el-form>
    </div>
</template>

<script>
import 'fullcalendar'
import 'fullcalendar/dist/fullcalendar.min.css'
import 'fullcalendar/dist/locale/zh-cn'

import {updateResourceApplyAction, showResourceApplyAction, acceptResourceApplyAction, refuseResourceApplyAction} from 'api/resource_applies'
import {getResourcesAction, getResourceAppliesByIdAction} from 'api/resources'
import {Loading} from 'element-ui'
import moment from 'moment'

export default {
    name: 'resource_apply-detail',
    data() {
        return {
            id: '',
            resource_apply: {
                start: '',
                end: '',
                resource: '',
                resource_id: ''
            },

            loading: false,
            errors: {},
            
            schedules: [],
            scheduleLoading: false,

            //calendar
            cal: null,
            config: {},
            sourceEvents: [],
            start_at: moment().startOf('week').format('YYYYMMDD'),
            end_at: moment().endOf('week').format('YYYYMMDD'),
            events: [],
        }
    },

    mounted() {
        this.cal = $('#calendar')

        this.config = {
            lang: 'zh-cn',
            header: {
                left:   'prev,next today',
                center: 'title',
                right:  'month,agendaWeek,agendaDay'
            },
        // defaultView: 'agendaWeek',
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        
        events: this.events,

        minTime: '05:00:00',
        maxTime: '22:00:00',

        dayClick: (date) => {
            this.cal.fullCalendar('gotoDate', date.start)
            this.cal.fullCalendar('changeView', 'agendaDay')
        },
      }

      let loadingInstance1 = Loading.service({target: '#resource_apply-detail'})
      const id = this.$route.query.applyId
      if(id) {
          showResourceApplyAction(id).then(response => {
            this.resource_apply.start = moment(response.start).format('LLLL')
            this.resource_apply.end = moment(response.end).format('LLLL')
            this.resource_apply.id = response.id
            this.resource_apply.resource = response.resource_name
            this.resource_apply.resource_id = response.resource_id
            this.resource_apply.result = response.result
            this.resource_apply.admin_id = response.admin_id
            this.resource_apply.admin_name = response.admin_name
            this.resource_apply.demand_id = response.demand_id
            this.resource_apply.demand_name = response.demand_name

            this.events = response.applies
            this.config.events = this.events
            this.cal.fullCalendar(this.config)
            loadingInstance1.close()
          }).catch(err => {
            console.log(err)
            this.$message.error('加载失败，请重新加载')
            loadingInstance1.close()
          })
        }
    },

    methods: {
        acceptApply() {
            this.loading = true
            acceptResourceApplyAction(this.resource_apply.id).then(response => {
                this.$router.push({path: '/admin/resource_applies/index'})
                this.loading = false
                this.$message.success('批准了该申请')
            }).catch(err => {
                console.log(err)
                this.loading = false
               this.$message.error('批准失败，请重新再试') 
            })
        },

        refuseApply() {
            this.loading = true
            refuseResourceApplyAction(this.resource_apply.id).then(response => {
                this.$router.push({path: '/admin/resource_applies/index'})
                this.$message.success('拒绝了该申请')
                this.loading = false
            }).catch(err => {
                console.log(err)
                this.loading = false
               this.$message.error('批准失败，请重新再试') 
            })
        },

        setResource (resource) {
            this.resource_apply.resource_id = resource.id 
            this.resource_apply.resource = resource.name
            this.resourceDialog = false
            this.loadResourceSchedules(resource.id)
        },

        loadResourceSchedules(resourceId) {
            const role = this.$store.getters.role
            let loadingInstance1 = Loading.service({target: '.fc-view-container'});

            getResourceAppliesByIdAction(role, resourceId).then(response => {
                this.events = response
                this.cal.fullCalendar(this.config)
                this.cal.fullCalendar('removeEventSources')
                this.cal.fullCalendar('addEventSource', {
                    events: this.events
                })
                loadingInstance1.close()
            }).catch(err => {
                console.log(err)
                loadingInstance1.close()
                this.$message.error('加载失败，请重新加载')
            })
        },

        cancel() {
            history.back()
        },

        clearResourceSearch() {
            this.resourceForm.keywords = ''
            this.loadResources(1) 
        },

        setResourcePage (pageNumber) {
            this.loadResources(pageNumber) 
        },

        loadResources (pageNumber) {
            let queryStr = ''
            if(this.resourceForm.keywords) {
                queryStr = '?name=' + this.resourceForm.keywords
            }
            this.resourceLoading = true
            const role = this.$store.getters.role
            getResourcesAction(role, pageNumber, queryStr).then(response => {
                this.loading = false
                this.resourceTotalPages = response.last_page
                this.resourceCurrentPage = response.current_page
                this.resources  = response.data
                this.resourceTotal = response.total
                this.resourcePageSize = parseInt(response.per_page)
                this.resourceLoading = false
            }).catch(err => {
                this.$message.error('加载失败，请重新加载')
            })     
        },

        chooseResource () {
            this.resourceDialog = true
            if(this.resources.length === 0) {
                this.loadResources(1)
            }
        },


        submitForm(formName, shouldExit) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true
                    this.errors = {}
                    updateResourceApplyAction(this.resource_apply).then(response => {
                        const resource_apply = response
                        this.$message.success('保存成功')
                        this.loading = false
                        if(shouldExit) {
                            this.$router.push({path: '/resource_applies/index'})
                        }
                    }).catch(err => {
                        this.errors = err
                        console.log(err)
                        this.$message.error('保存失败')
                        this.loading = false
                    })
                } else {
                    this.$message.error('您还未完成该表单')
                    return false;
                }
            });
        },

        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    }
}
</script>