<template>
    <div class="padding-div" id="work-detail">
      <el-form label-position="left" label-width="80px" :model="work" ref="workForm" :rules="rules">
        <el-form-item label="实践名称" prop="title">
          <span>{{work.task.title}}</span>
        </el-form-item>
        
        <el-form-item label="作品名称" prop="title">
          <el-input v-model="work.title"></el-input>
        </el-form-item>
        
        <el-form-item label="内容" prop="description" :error="errors.description">
          <vue-summernote ref="editer" :height="300"></vue-summernote>
        </el-form-item>
        
        <el-form-item label="相关文件" prop="files">
          <el-upload
            class="upload-demo"
            drag
            :action="action"
            :http-request="uploadFile"
            :on-remove="handleRemove"
            :file-list="work.files">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">上传文件不得超过5M</div>
          </el-upload>
        </el-form-item>
                
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel" icon="arrow-left">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('workForm', true)" :loading="loading">保存并退出</el-button>
            <el-button type="info" @click="submitForm('workForm', false)" :loading="loading">保存</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {storeWorkAction, updateWorkAction, showWorkAction} from 'api/works'
  import {uploadImageAction, uploadFileAction } from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl, uploadUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'student-work-create',
    data() {
      return {
        id: '',
        work : {
          task_id: '',
          title: '',
          description: '',
          task: {
            title: ''
          },
          files: [],
        },
        title: '',
        action: uploadUrl,
        errors: {},
        rules: {
          title: {required: true, message: '必须填写作品名称', trigger: 'blur'},
          description: {required: true, message: '必须填写内容', trigger: 'blur'},
        },
        loading: false,
      }
    },

    mounted() {
      const query = this.$route.query
      
      this.work.task_id = query.id
      
      const editer = this.$refs.editer
      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      const self = this
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.work.description = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })

      if(query.workId) {
        let loadingDialog = Loading.service()
        
        const workId = query.workId
        showWorkAction(workId).then(response => {

          if(response.files != '') {
            const files = JSON.parse(response.files)
            response.files = Object.keys(files).map(key=> {
              return files[key]
            })
          } else {
            response.files = []
          }
          this.work = response
          this.setVal(this.work.description)
          loadingDialog.close()
        }).catch(err => {
          console.log(err)
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      }
    },

    methods: {
      handleRemove(file, files) {
        this.work.files = this.work.files.filter(file => {
          return file.uid != file.uid
        })
      },
      
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      
      cancel() {
        history.back()
      },
      
      uploadFile(obj) {
        const file = obj.file
        const size = file.size

        const maxSize = 5 * 1024 * 1024 //5M
        if(size > maxSize) {
          this.$message.error('上传文件的大小超过5M')
        } else {
          let data = new FormData()
          data.append('file', file)
          
          uploadFileAction(data).then(response => {
            const url = response.data
            this.work.files.push({
              url: url,
              name: file.name
            })
          }).catch(err => {
            if(err.response && err.response.data && err.response.data.errors) {
              let errors = err.response.data.errors;
              let errStr = JSON.stringify(errors);
              this.$message.error('上传失败' + errStr)
            } else {
              this.$message.error('文件上传失败，请重新再试或联系管理员') 
            }
          })
        }
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}

            this.work.description = this.work.description.replace(/\"/g, "'")
            // this.work.files = JSON.stringify(this.work.files)
            updateWorkAction(this.work).then(response => {
              const work = response
              this.$message.success('保存成功')
              if(shouldExit) {
                this.cancel() 
              }
              this.loading = false
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>