<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中作品" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteWorks"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="works"
      tooltip-effect="dark"
      empty-text="暂无任何作品"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="task.title"
        show-overflow-tooltip
        width="200"
        label="实践名称">
        <template scope="scope">
          <router-link :to="{path: '/student/tasks/show', query: {taskId: scope.row.task.id}}">{{scope.row.task.title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="title"
        show-overflow-tooltip
        label="作品名称">
        <template scope="scope">
          <router-link :to="{path: '/student/works/edit', query: {workId: scope.row.id}}">{{scope.row.title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="note"
        width="170"
        label="分数"
       >
        <template scope="scope">
          <span v-if="scope.row.note">{{scope.row.note}}</span>
          <span v-else>尚未评分</span>
        </template>
      </el-table-column>

      <el-table-column
        prop="comment"
        width="170"
        show-overflow-tooltip
        label="评语"
       >
        <template scope="scope">
          <span v-if="scope.row.comment">{{scope.row.comment}}</span>
          <span v-else>暂无评语</span>
        </template>
      </el-table-column>

      <el-table-column
        prop="created_at"
        width="170"
        label="发布时间"
       >
      </el-table-column>
      
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该作品" placement="bottom">
            <el-button
              @click="editWork(scope.$index)"
              type="primary"
              :page-size="100"
              size="small">
              <i class="fa" :class="scope.row.note ? ' fa-eye' : ' fa-pencil'"></i>
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getWorksAction, deleteWorksAction} from 'api/works'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        works: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        loading: true, 
        sortInfo : {}
      }
    },

    mounted() {
      this.init() 
    },

    methods: {
      setPage(pageNumber) {
        if(pageNumber != this.currentPage) {
          const path = this.$route.path
          let query = this.$route.query
          query.page = pageNumber
          const queryStr = query2Str(query)
          this.$router.push(path + queryStr)   
        }
      },
      
      init() {
        this.loading = true
        let query = this.$route.query

        let page = 1
        if(query.page) {
          page = query.page
        }

        if(query.order) {
          this.sortInfo.order = query.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        }
        
        const queryStr = query2Str(query)
        
        getWorksAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.works  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })    
      },

      editWork(row) {
        const work = this.works[row]
        const workId = work.id
        if(work.note) {
          this.$router.push({path: '/student/works/show', query: {workId: workId}})
        } else {
          this.$router.push({path: '/student/works/edit', query: {workId: workId}})
        }
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteWorks() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的作品')
        } else {
          this.$confirm('此操作将永久删除作品, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteWorksAction(ids).then(response => {
              this.works = this.works.filter(work => {
                return !idsArray.includes(work.id)
              })
              this.$message.success('成功删除作品')
            }).catch(err => {
              this.$message.error(err)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'works-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
  
  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }

  .pointer {
    cursor: pointer;
  }

  a:hover {
    color: #20a0ff
  }
</style>
