<template>
  <div class="padding-div" id="work-detail">
    <h1>作品: {{work.task.title}}</h1>
    
    <div class="info">
      <div><span class="author">学生</span>{{work.student.name}}</div>
      <div class="publish_at"><i class="fa fa-clock-o" aria-hidden="true"></i>{{work.created_at}}</div>
    </div>

          
    <div class="info">
      <p v-html="work.description" class="content"></p>

      <div class="attachements" v-if="work.files.length > 0">
        <h3>附件：</h3>
        <div class="files">
          <ul class="mailbox-attachments clearfix">
            <li v-for="file in work.files" class="text-center">
              <span class="mailbox-attachment-icon"><i class="fa" :class="getExtensionIcon(file.url)"></i></span>
              <div class="mailbox-attachment-info text-left">
                <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{file.name}}</a>
                  <div class="mailbox-attachment-size">
                    <span>{{getFileSize(file.size)}}&nbsp;</span>
                    <a :href="serverUrl + file.url" :download="file.name" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr>
    
    <h4>老师评价</h4> 
    <div class="info" v-show="work.note">
      <div><span class="author">老师</span>{{work.teacher.name}}</div>
      <div>分数: {{work.note}}</div>
      <div v-show="work.comment">评语：{{work.comment}}</div>
    </div>
  </div>
</template>

<script>
  // import summernote from '../Summernote.vue'
  import {showWorkAction} from 'api/works'
  import {Loading} from 'element-ui'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  import {baseUrl} from '../../../config'
  
  export default {
    name: 'teacher-work-create',
    data() {
      return {
        serverUrl : baseUrl,
        work : {
          task_id: '',
          title: '',
          description: '',
          task: {
            title: ''
          },
          student: {
            name: ''
          },
          files: [],
        },
        title: '',
        loading: false,
      }
    },

    mounted() {
      const query = this.$route.query
      
      if(query.workId) {
        let loadingDialog = Loading.service()
        
        const workId = query.workId
        showWorkAction(workId).then(response => {
          this.work = response
          if(this.work.files) {
            const works = JSON.parse(this.work.files)
            this.work.files = Object.keys(works).map(key=> {
              return works[key]
            })
          }
          loadingDialog.close()
        }).catch(err => {
          console.log(err)
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      }
    },

    methods: {
      getExtensionIcon(url) {
        const extension = url.split('.').pop()
        switch(extension) {
          case 'pdf': return 'fa-file-pdf-o'
          case 'doc': case 'docx': return 'fa-file-word-o'
          case 'jpg': case 'jpeg': case 'png': return 'fa-file-image-o'
          case 'zip': case 'tar': case '7z': case 'rar': return 'fa-file-archive-o'
          default: return 'fa-file-text-o'
        }
      },

      getFileSize(size) {
        if(size) {
          const kb = size / 1024
        } else {
          return ''
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }

  .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      width: 200px;
      border: 1px solid #eee;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .mailbox-attachment-icon {
      text-align: center;
      font-size: 65px;
      color: #666;
      padding: 20px 10px;
    }

    .mailbox-attachment-info {
      padding: 10px;
      background: #f4f4f4;
    }

    .mailbox-attachment-name {
      font-size: 12px;
      font-weight: bold;
      color: #666;
    }

    .mailbox-attachment-size {
      color: #999;
      font-size: 12px;
    }

    .attachements {
      margin-top: 25px;
    }
  }

  .clearfix:before {
    display: table;
    content: " ";
  }
</style>