<template>
  <div class="padding-div">
    <el-row :gutter="40">
       <el-col :md="12" :sm="12" :xs="24">
        <h3>最新采购计划</h3>
        <el-table
          :data="plannings"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100"
            >
          </el-table-column>
          
          <el-table-column
            prop="title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/admin/plannings/edit', query: {planningId: scope.row.id}}">{{scope.row.title}}</router-link>
            </template>
          </el-table-column>

           <el-table-column
            prop="buyer"
            show-overflow-tooltip
            label="采购人" >
            <template scope="scope">
              <router-link :to="{path: '/admin/buyers/edit', query: {id: scope.row.id}}">{{scope.row.buyer && scope.row.buyer.name}}</router-link>
            </template>
          </el-table-column>
        </el-table> 
      </el-col>

      <el-col :md="12" :sm="12" :xs="24">
        <h3>最新签订合同</h3>
        <el-table
          :data="contracts"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100">
          </el-table-column>
          
          <el-table-column
            prop="title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/admin/contracts/edit', query: {contractId: scope.row.id}}">反馈：{{scope.row.title}}</router-link>
            </template>
          </el-table-column>
          
         <el-table-column
            prop="supplier.name"
            show-overflow-tooltip
            label="供应商" >
          </el-table-column> 
        </el-table>
      </el-col>
    </el-row>

    <el-row :gutter="40">
       <el-col :md="12" :sm="12" :xs="24">
        <h3>最新出库操作</h3>
        <el-table
          :data="stockouts"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100"
            >
          </el-table-column>
          
          <el-table-column
            prop="product.name"
            show-overflow-tooltip
            label="产品名称" >
            <template scope="scope">
              <router-link :to="{path: '/admin/stockouts/edit', query: {stockId: scope.row.id}}">{{scope.row.product && scope.row.product.name}}</router-link>
            </template>
          </el-table-column>
          
          <el-table-column
            prop="type.name"
            show-overflow-tooltip
            label="出库类型" >
          </el-table-column>

          <el-table-column
            prop="quantity"
            show-overflow-tooltip
            label="出库数量" >
          </el-table-column>
        </el-table> 
      </el-col>

      <el-col :md="12" :sm="12" :xs="24">
        <h3>最新</h3>
        <el-table
          :data="stockins"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100"
            >
          </el-table-column>
          
          <el-table-column
            prop="product.name"
            show-overflow-tooltip
            label="产品名称" >
            <template scope="scope">
              <router-link :to="{path: '/admin/stockins/edit', query: {stockId: scope.row.id}}">{{scope.row.product && scope.row.product.name}}</router-link>
            </template>
          </el-table-column>
          
          <el-table-column
            prop="type.name"
            show-overflow-tooltip
            label="入库类型" >
          </el-table-column>

          <el-table-column
            prop="quantity"
            show-overflow-tooltip
            label="入库数量" >
          </el-table-column>
        </el-table> 
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import {getDashboardAction} from 'api/dashboard'
  import echarts from 'echarts'
  import moment from 'moment'
     
  export default {
    name: 'admin-dashboard',

    data() {
      return {
        plannings: [],
        stockins: [],
        stockouts: [],
        contracts: [],
        loading: false,
      }
    },

    mounted() {
      moment.locale('zh-cn')
      this.loading = true
      getDashboardAction().then(response => {
        this.plannings = response.plannings.map(planning => {
          planning.created_at = moment(planning.created_at).fromNow()
          return planning
        })

        this.stockins = response.stockins.map(stockin => {
          stockin.created_at = moment(stockin.created_at).fromNow()
          return stockin
        })

        this.stockouts = response.stockouts.map(stockout => {
          stockout.created_at = moment(stockout.created_at).fromNow()
          return stockout
        })

        this.contracts = response.contracts.map(contract => {
          contract.created_at = moment(contract.created_at).fromNow()
          return contract
        })

        this.loading = false
      }).catch(err => {
        this.$message.error('加载失败')
        this.loading = false
      })
    },
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .task-icon {
    margin-right: 10px;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
  } 

  .blue {
    background-color: #20a0ff;
  }

  .red {
    background-color: #FF4949;
  }

  .yellow {
    background-color: #F7BA2A;
  }

  .green {
    background-color: #13CE66;
  }

  .number-content {
    background: #ECF0F5;
    padding-top: 7px;
    height: 92px;
  }  

  .el-col {
    margin-bottom: 15px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
