<template>
  <div class="padding-div">
  </div>
</template>

<script>
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .task-icon {
    margin-right: 10px;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
  } 

  .blue {
    background-color: #20a0ff;
  }

  .red {
    background-color: #FF4949;
  }

  .yellow {
    background-color: #F7BA2A;
  }

  .green {
    background-color: #13CE66;
  }

  .number-content {
    background: #ECF0F5;
    padding-top: 7px;
    height: 92px;
  }  

  .el-col {
    margin-bottom: 15px;
  }
</style>
