<template>
  <div>
    <component v-bind:is="currentDashboard"> </component>
  </div>
</template>

<script>
  import AdminDashboard from './AdminDashboard'
  import BuyerDashboard from '../Buyer/Plannings/Index'

  export default {
    components: { AdminDashboard, BuyerDashboard },
    data() {
      return {
        currentDashboard: 'AdminDashboard'
      }
    },
    created() {
      const role = this.$store.getters.role
      switch(role) {
        case 'buyer': {
          this.currentDashboard = 'BuyerDashboard'
          break
        }
        case 'admin': case 'superAdmin': {
          this.currentDashboard = 'AdminDashboard'
          break
        }
      }
    },
    name: 'dashboard'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
