<template>
    <div class="sendpwd-container" id="particles-js">
        <el-form autoComplete="on" :model="resetForm" :rules="resetRules" ref="resetForm" label-position="left"
                 label-width="0px"
                 class="card-box reset-form">
            <h3 class="title">重置密码</h3>
            <el-form-item prop="email" :error="errors.email">
                <span class="svg-container"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <el-input name="email" type="text" v-model="resetForm.email"
                          placeholder="邮箱"></el-input>
            </el-form-item>

            <el-form-item prop="token" :error="errors.token">
                <span class="svg-container"><i class="fa fa-code" aria-hidden="true"></i></span>
                <el-input name="token" type="text" v-model="resetForm.token" :autofocus="true"
                          placeholder="验证码"></el-input>
            </el-form-item>

            <el-form-item prop="password" :error="errors.password">
                <span class="svg-container"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <el-input name="password" :type="passwordType" @keyup.enter.native="handleLogin" v-model="resetForm.password"
                          autoComplete="on" placeholder="密码" ></el-input>
                    <el-button slot="append" icon="eye"></el-button>
            </el-form-item>

            <el-form-item prop="password_confirmation" :error="errors.password_confirmation">
                <span class="svg-container"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <el-input name="password_confirmation" :type="passwordType" @keyup.enter.native="handleLogin" v-model="resetForm.password_confirmation"
                          autoComplete="on" placeholder="密码" ></el-input>
                    <el-button slot="append" icon="eye"></el-button>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" style="width:100%;" :loading="loading" @click.native.prevent="handleResetPwd" v-waves>
                    重置密码
                </el-button>
            </el-form-item>
            <router-link to="/login">
                <el-button style="width:100%;" class="green" v-waves>
                    返回登录页面
                </el-button>
            </router-link>
        </el-form>
    </div>
</template>

<script>
    import { resetPwdAction } from 'api/auth';
    // import particles from 'particles.js'
    // import particlesConfig from './LoginView/particles'

    export default {
      name: 'resetPassword',
      data() {
        const validatePass = (rule, value, callback) => {
          if (value.length < 6) {
            callback(new Error('密码不能小于6位'))
          } else {
            callback()
          }
        }
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
            callback(new Error('请再次输入密码'))
            } else if (value !== this.resetForm.password) {
            callback(new Error('两次输入密码不一致!'))
            } else {
            callback()
            }
        }
        return {
          resetForm: { 
            email: '',
            password: '',
            token : '',
            password_confirmation: '',
          },
          resetRules: {
            email: [
              { required: true, trigger: 'blur', message: '请输入邮箱地址' },
              { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur,change' }
            ],
            token: [
              { required: true, trigger: 'blur', message: '请从邮箱取得验证码' },
            ],
            password: [
              { required: true, trigger: 'blur', validator: validatePass },
            ],

            password_confirmation: [
              { validator: validatePass2, trigger: 'blur' }
            ],
          },
          loading: false,
          errors: {},
          passwordType: 'password'
        }
      },
      mounted() {
        this.resetForm.email = this.$route.query && this.$route.query.email
        // this.$nextTick(() => {
          // this.initParticleJS()	
        // })
      },
      methods: {
        // initParticleJS() {
          // particlesJS("particles-js", particlesConfig);
        // },
        handleResetPwd () {
          this.$refs.resetForm.validate(valid => {
            if (valid) {
                this.loading = true
              resetPwdAction(this.resetForm).then(() => {
                this.$message.success('密码已修改，请登录')
                this.$router.push({path: '/login', query: {email: this.resetForm.email}})
              }).fail(err => {
                conso.log(err)
                this.$message.error('密码修改失败')
                this.loading = false
              })
            } else {
              this.$message.error('错误提交!!')
            }
          })
        }
      }
    }
</script>

<style rel="stylesheet/scss" lang="scss">
    .sendpwd-container {
        height: 100vh;
        height: 100%;
        background: url(./LoginView/assets/background.jpg) bottom no-repeat transparent;
        background-size: cover;
        overflow: hidden;
        
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
            -webkit-text-fill-color: #3E3E3E !important;
        }
        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: #eeeeee;
            height: 47px;
        }
        .el-input {
          display: inline-block;
          height: 47px;
          width: 85%;
        }
        .el-form-item {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          color: #454545;
        }
        .svg-container {
          padding: 6px 5px 6px 15px;
          color: #889aa4;
        }
        .title {
          font-size: 26px;
          font-weight: 400;
          color: #eeeeee;
          margin: 0px auto 40px auto;
          text-align: center;
          font-weight: bold;
        }
        .back-icon{
            float: left;
            margin-top: 5px;
            color: #fff;
        }
        .reset-form {
            position: absolute;
            left: 0;
            right: 0;
            width: 400px;
            padding: 35px 35px 15px 35px;
            margin: 120px auto;
            background: rgba(255, 255, 255, 0.1);
        }
    }
</style>
