<template>
    <div class="sendpwd-container" id="particles-js">
        <el-form autoComplete="on" :model="resetForm" :rules="resetRules" ref="resetForm" label-position="left"
                 label-width="0px"
                 class="card-box reset-form">
            <h3 class="title">发送验证码至邮箱</h3>
            <el-form-item prop="email" :error="errors.email">
                <span class="svg-container"><i class="fa fa-envelope" aria-hidden="true"></i></i></span>
                <el-input name="email" type="text" v-model="resetForm.email" :autofocus="true"
                          placeholder="邮箱"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" style="width:100%;" :loading="loading" @click.native.prevent="handleSendPWD" v-waves>
                    发送验证码至邮箱
                </el-button>
            </el-form-item>
            <router-link to="/login">
                <el-button style="width:100%;" class="green" v-waves>
                    返回登录页面
                </el-button>
            </router-link>
        </el-form>
    </div>
</template>

<script>
    import { sendResetPwdEmail } from 'api/auth'
    // import particles from 'particles.js'
    // import particlesConfig from './LoginView/particles'

    export default {
      name: 'sendResetEmail',
      data() {
        
        return {
          resetForm: { email: '' },
          resetRules: {
            email: [
              { required: true, trigger: 'blur', message: '请输入邮箱地址' },
              { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur,change' }
            ]
          },
          loading: false,
          errors: {}
        }
      },
      mounted() {
        this.$nextTick(() => {
          // this.initParticleJS()	
        }) 
      },
      methods: {
        initParticleJS() {
          // particlesJS("particles-js", particlesConfig);
        },

        handleSendPWD () {
          this.$refs.resetForm.validate(valid => {
            if (valid) {
              this.loading = true
              this.errors = {}
              sendResetPwdEmail(this.resetForm.email).then(response => {
                this.$message.success('验证码已发送至邮箱，请查收')
                this.$router.push({path: '/resetPwd', query: {email: this.resetForm.email}})
              }).catch(err => {
                this.errors = {
                  email: '该邮箱并未与任何账号绑定'
                }
                this.loading = false
              })
            } else {
              this.$message.error('邮箱是必填项')
            }
          })
        }
      }
    }
</script>

<style rel="stylesheet/scss" lang="scss">
    .sendpwd-container {
        overflow: hidden;
        height: 100%;
        background: url(./LoginView/assets/background.jpg) bottom no-repeat transparent;
        background-size: cover;
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
          -webkit-text-fill-color: #3E3E3E !important;
        }
        input {
          background: transparent;
          border: 0px;
          -webkit-appearance: none;
          border-radius: 0px;
          padding: 12px 5px 12px 15px;
          color: #eeeeee;
          height: 47px;
        }
        .el-input {
          display: inline-block;
          height: 47px;
          width: 85%;
        }
        .el-form-item {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          color: #454545;
        }
        .svg-container {
          padding: 6px 5px 6px 15px;
          color: #889aa4;
        }
        .title {
          font-size: 26px;
          font-weight: 400;
          color: #eeeeee;
          margin: 0px auto 40px auto;
          text-align: center;
          font-weight: bold;
        }
        .back-icon{
          float: left;
          margin-top: 5px;
          color: #fff;
        }
        .reset-form {
          position: absolute;
          left: 0;
          right: 0;
          width: 400px;
          padding: 35px 35px 15px 35px;
          margin: 120px auto;
          background: rgba(255, 255, 255, 0.1);
        }
    }
</style>
