<template>
    <div class="padding-div" id="contract-detail">
      <el-form label-position="right" label-width="80px" :model="contract" ref="contractForm" :rules="rules">
        <el-form-item label="合同名称" prop="title">
          <el-input v-model="contract.title"></el-input>
        </el-form-item>
        
        <el-form-item label="内容" prop="content" :error="errors.content">
          <vue-summernote ref="editer" :height="300"></vue-summernote>
        </el-form-item>

        <el-form-item label="有效日期" prop="validDate" :error="errors.validDate">
          <el-date-picker
            v-model="contract.validDate"
            type="daterange"
            placeholder="选择日期范围">
          </el-date-picker>
        </el-form-item>

        <el-form-item label="供货商" prop="supplier">
          <el-input v-model="contract.supplier" :disabled="true" @click="chooseSupplier">
            <template slot="append">
              <el-button type="primary" @click="chooseSupplier">请选择</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="签订人" prop="operator">
          <el-input v-model="contract.operator" :disabled="true" @click="chooseOperator">
            <template slot="append">
              <el-button type="primary" @click="chooseOperator">请选择</el-button>
            </template>
          </el-input>
        </el-form-item>
        
        <el-form-item label="相关文件" prop="files">
          <el-upload
            :drag="true"
            class="upload-demo"
            :action="action"
            :http-request="uploadFile"
            :on-remove="handleRemove"
            :file-list="contract.files">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">上传文件不得超过5M</div>
          </el-upload>
        </el-form-item>
                
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel" icon="arrow-left">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('contractForm', true)" :loading="loading">保存并退出</el-button>
            <el-button type="info" @click="submitForm('contractForm', false)" :loading="loading">保存</el-button>
            <el-button @click="resetForm('contractForm')" :loading="loading">重置</el-button>
          </div>
        </el-form-item>
      </el-form>

      <el-dialog title="选择签订人" :visible.sync="operatorDialog" size="full">
        <div class="text-center" v-show="operatorTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setOperatorPage"
            :current-page="operatorCurrentPage"
            :page-size="operatorPageSize"
            :total="operatorTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="operatorForm" class="" ref="operatorForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="operatorForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setOperatorPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearOperatorSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <!-- 选择签订人 -->
        <el-table :data="operators"
          v-loading.body="operatorLoading"
          tooltip-effect="dark"
          empty-text="暂无任供货商"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="姓名" ></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setOperator(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>

        <div class="text-center paginator-div" v-show="operatorTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setOperatorPage"
            :current-page="operatorCurrentPage"
            :page-size="operatorPageSize"
            :total="operatorTotal">
          </el-pagination>
        </div>
      </el-dialog>

      <!-- 选择供货商 -->
      <el-dialog title="选择供货商" :visible.sync="supplierDialog" size="full">
        <div class="text-center paginator-div" v-show="supplierTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setSupplierPage"
            :current-page="supplierCurrentPage"
            :page-size="supplierPageSize"
            :total="supplierTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="supplierForm" class="" ref="supplierForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="supplierForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setSupplierPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearSupplierSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <el-table 
          :data="suppliers"
          v-loading.body="supplierLoading"
          tooltip-effect="dark"
          empty-text="暂无任供货商"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="名称"></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setSupplier(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>
        <div class="text-center paginator-div" v-show="supplierTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setSupplierPage"
            :current-page="supplierCurrentPage"
            :page-size="supplierPageSize"
            :total="supplierTotal">
          </el-pagination>
        </div>
      </el-dialog>
    </div>
</template>

<script>
  // import summernote from '../Summernote.vue'
  import {storeContractAction, updateContractAction} from 'api/contracts'
  import {uploadImageAction, uploadFileAction } from 'api/upload'
  import {getSuppliersAction} from 'api/suppliers'
  import {getBuyersAndAdminsAction} from 'api/users'
  import {Loading} from 'element-ui'
  import {imageUrl, uploadUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'admin-contract-create',
    data() {
      return {
        id: '',
        contract : {
          operator_id: '',
          operator: '无',
          supplier_id: '',
          supplier: '无',
          title: '',
          amount: 0,
          content: '',
          files: [],
          validDate: null,
          
        },
        title: '',
        action: uploadUrl,
        errors: {},
        rules: {
          title: {required: true, message: '必须填写合同名称', trigger: 'blur'},
          content: {required: true, message: '必须填写内容', trigger: 'blur'},
          validDate: {required: true, type: 'array', message: '必须填写合同生效时间', trigger: 'blur'}
        },

        supplierForm: {
          keywords: ''
        },

        operatorForm: {
         keywords: '',
         section: 'name'
        },

        subFormRules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        loading: false,

        //dialog
        operators: [],
        operatorLoading: false,
        operatorDialog: false,
        operatorTotalPages: 0,
        operatorCurrentPage: 1,
        operatorTotal: 0,
        operatorPageSize: 0,

        suppliers: [],
        supplierLoading: false,
        supplierDialog: false,

        supplierTotalPages: 0,
        supplierCurrentPage: 1,
        supplierTotal: 0,
        supplierPageSize: 0,
      }
    },

    mounted() {
      const query = this.$route.query
      
      const editer = this.$refs.editer
      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        console.log(contents)
        this.contract.content = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })
    },

    methods: {
      clearSupplierSearch() {
        this.supplierForm.keywords = ''
        this.loadSuppliers(1)
      },

      clearOperatorSearch() {
        this.operatorForm.keywords = ''
        this.loadOperators(1) 
      },

      setOperatorPage (pageNumber) {
        this.loadOperators(pageNumber) 
      },

      loadOperators (pageNumber) {
        let queryStr = ''
        if(this.operatorForm.keywords) {
          queryStr = '?name=' + this.operatorForm.keywords
        }
        this.operatorLoading = true
        getBuyersAndAdminsAction(pageNumber, queryStr).then(response => {
          this.loading = false
          this.operatorTotalPages = response.last_page
          this.operatorCurrentPage = response.current_page
          this.operators  = response.data
          this.operatorTotal = response.total
          this.operatorPageSize = parseInt(response.per_page)
          this.operatorLoading = false
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })     
      },

      chooseOperator () {
        this.operatorDialog = true
        if(this.operators.length === 0) {
          this.loadOperators(1)
        }
      },

      setOperator (operator) {
        this.contract.operator_id = operator.id 
        this.contract.operator = operator.name
        this.operatorDialog = false
      },

      setSupplier (supplier) {
        this.contract.supplier_id = supplier.id
        this.contract.supplier = supplier.name
        this.supplierDialog = false
      },

      setSupplierPage (pageNumber) {
        this.loadSuppliers(pageNumber)
      },
      
      loadSuppliers (page) {
        let queryStr = ''
        if(this.supplierForm.keywords) {
          queryStr = '?keywords=' + this.supplierForm.keywords
        }
        this.supplierLoading = true
        getSuppliersAction(page, queryStr).then(response => {
          this.supplierLoading = false
          this.supplierTotalPages = response.last_page
          this.supplierCurrentPage = response.current_page
          this.suppliers  = response.data
          this.supplierTotal = response.total
          this.supplierPageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        }) 
      },

      chooseSupplier () {
        this.supplierDialog = true
        if(this.suppliers.length === 0) {
          this.loadSuppliers(1)
        }
      },
      
      handleRemove (file, files) {
        this.contract.files = this.contract.files.filter(file => {
          return file.uid != file.uid
        })
      },
      
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      
      cancel () {
        history.back()
      },
      
      uploadFile(obj) {
        const file = obj.file
        const size = file.size

        const maxSize = 5 * 1024 * 1024 //5M
        if(size > maxSize) {
          this.$message.error('上传文件的大小超过5M')
        } else {
          let data = new FormData()
          data.append('file', file)
          
          uploadFileAction(data).then(response => {
            const url = response.data
            this.contract.files.push({
              url: url,
              name: file.name,
              size: size
            })
          }).catch(err => {
            if(err.response && err.response.data && err.response.data.errors) {
              let errors = err.response.data.errors;
              let errStr = JSON.stringify(errors);
              this.$message.error('上传失败' + errStr)
            } else {
              this.$message.error('文件上传失败，请重新再试或联系管理员') 
            }
          })
        }
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}
            
            storeContractAction(this.contract).then(response => {
              const contract = response
              this.$message.success('保存成功')
              
              if(shouldExit) {
                this.$router.push({path: '/admin/contracts/index'})
              } else {
                this.$router.push({path: '/admin/contracts/edit', query: {contractId: contract.id}})
              }
              this.loading = false
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

