<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中合同" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteContracts"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init(1)"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>

        <el-col :span="8" class="text-right">
          <div class="button-group">
            <router-link :to="{path: '/admin/contracts/create'}">
              <el-button type="success" icon="plus">添加合同</el-button>
            </router-link>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="adminForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 400px">
            <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 100px">
              <el-option label="合同名称" value="title"></el-option>
              <el-option label="签订人" value="operator_name"></el-option>
              <el-option label="供货商" value="supplier_name"></el-option>
            </el-select>
            <el-button icon="search" slot="append" @click="onSearchSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
      </el-form>  
    </div>

    <el-table
      ref="multipleTable"
      :data="contracts"
      v-loading.body="loading"
      tooltip-effect="dark"
      empty-text="暂无任何合同"
      :stripe="true"
      class-name="pointer"
      style="width: 100%"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="title"
        show-overflow-tooltip
        label="合同名称">
        <template scope="scope">
          <router-link :to="{path: '/admin/contracts/edit', query: {contractId: scope.row.id}}">{{scope.row.title}}</router-link>
        </template>
      </el-table-column>
      
      <el-table-column
        prop="task.title"
        show-overflow-tooltip
        width="200"
        label="供应商名称">
        <template scope="scope">
          <router-link v-if="scope.row.supplier" :to="{path: '/admin/suppliers/edit', query: {supplierId: scope.row.supplier.id}}">{{scope.row.supplier.name}}</router-link>
          <div v-else>无</div>
        </template>
      </el-table-column>

      <el-table-column
        prop="task.title"
        show-overflow-tooltip
        width="200"
        label="签订者">
        <template scope="scope">
          <router-link v-if="scope.row.operator" :to="{path: '/admin/buyers/show', query: {id: scope.row.operator.id}}">{{scope.row.operator.name}}</router-link>
          <div v-else>无</div>
        </template>
      </el-table-column>

      <el-table-column
        prop="valid_at"
        width="170"
        label="生效时间"
       >
      </el-table-column>

      <el-table-column
        prop="expired_at"
        width="170"
        label="终止时间"
       >
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该合同" placement="bottom">
            <el-button
              @click="editContract(scope.$index)"
              type="primary"
              :page-size="100"
              size="small">
              <i class="fa" :class="scope.row.note ? ' fa-eye' : ' fa-pencil'"></i>
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getContractsAction, deleteContractsAction} from 'api/contracts'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        contracts: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        loading: true, 
        sortInfo : {},
        searchForm: {
          keywords: '',
          select: 'title',
        },
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
          select: {required: true, message: '必须选择一项'},
        },
      }
    },

    mounted () {
      this.init() 
    },

    methods: {
      clear () {
        this.loading = true
        getContractsAction(1).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.contracts  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })
      },

      onSearchSubmit () {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select

        const queryStr = query2Str(query)
        
        this.loading = true
        getContractsAction(1, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.contracts  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })
      },
      
      setPage (pageNumber) {
        this.init(pageNumber)  
      },
      
      init (pageNumber) {
        this.loading = true
        let query = this.$route.query

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        }
        
        const queryStr = query2Str(query)
        
        getContractsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.contracts  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })
      },

      editContract(row) {
        const contract = this.contracts[row]
        const contractId = contract.id
        this.$router.push({path: '/admin/contracts/edit', query: {contractId: contractId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteContracts() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的合同')
        } else {
          this.$confirm('此操作将永久删除合同, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteContractsAction(ids).then(response => {
              this.contracts = this.contracts.filter(contract => {
                return !idsArray.includes(contract.id)
              })
              this.$message.success('成功删除合同')
            }).catch(err => {
              this.$message.error(err)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'contract-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }
  
  .width100 {
    width: 100px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
