<template>
  <div class="padding-div">
    <el-row :gutter="40">
      <el-col :md="6" :sm="12" :xs="24">
        <router-link :to="{path: '/admin/tasks'}">
          <div class="text-center task-icon blue pull-left">
            <i class="fa fa-tasks"></i>  
          </div>
          <div class="number-content">
            <div>实践数量</div>
            <strong>{{tasks.allCount}}</strong>
          </div>
        </router-link>
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <router-link :to="{path: '/notifications'}">
          <div class="text-center task-icon green pull-left">
            <i class="fa fa-envelope"></i>  
          </div>
          <div class="number-content">
            <div>通知数量</div>
            <strong>{{notifications.allCount}}</strong>
          </div>
        </router-link>
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <router-link :to="{path: '/admin/feedbacks'}">
          <div class="text-center task-icon yellow pull-left">
            <i class="fa fa-comments"></i>  
          </div>
          <div class="number-content">
            <div>反馈数量</div>
            <strong>{{feedbacks.allCount}}</strong>
          </div>
        </router-link>
      </el-col>
      <el-col :md="6" :sm="12" :xs="24">
        <router-link :to="{path: '/admin/works'}">
          <div class="text-center task-icon red pull-left">
            <i class="fa fa-book"></i>  
          </div>
          <div class="number-content">
            <div>作品数量</div>
            <strong>{{works.allCount}}</strong>
          </div>
        </router-link>
      </el-col>
    </el-row>

    <div class='chart-container'>
       <heatChart height='250px' width='100%' :data="energy"/>
    </div>

<!--
    <div>
      <barStack height="250px" width="100%" :data="bars"/>>
    </div>
    -->
    
    <el-row :gutter="40">
       <el-col :md="12" :sm="12" :xs="24">
        <h3>最新实践内容</h3>
        <el-table
          :data="tasks.data"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="start"
            label="日期"
            show-overflow-tooltip
            width="100"
            >
          </el-table-column>
          
          <el-table-column
            prop="title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/admin/tasks/show', query: {taskId: scope.row.id}}">{{scope.row.title}}</router-link>
            </template>
          </el-table-column>
          
          <el-table-column
            prop="classroom"
            label="地点"
            show-overflow-tooltip
            width="160"
            >
          </el-table-column>
        </el-table> 
      </el-col>

      <el-col :md="12" :sm="12" :xs="24">
        <h3>最新实践反馈</h3>
        <el-table
          :data="feedbacks.data"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100">
          </el-table-column>
          
          <el-table-column
            prop="task.title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/admin/feedbacks/show', query: {feedbackId: scope.row.id}}">反馈：{{scope.row.task && scope.row.task.title}}</router-link>
            </template>
          </el-table-column>
          
          <el-table-column
            prop="note"
            width="220"
            label="评分">
            <template scope="scope">
              <el-rate
                v-model="scope.row.note"
                disabled
                show-text
                text-color="#ff9900"
                text-template="{value}">
              </el-rate>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

    <el-row :gutter="40">
       <el-col :md="12" :sm="12" :xs="24">
        <h3>最新通知</h3>
        <el-table
          :data="notifications.data"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="date"
            label="日期"
            show-overflow-tooltip
            width="100"
            >
          </el-table-column>
          
          <el-table-column
            prop="title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/notifications/show', query: {id: scope.row.id}}">{{scope.row.title}}</router-link>
            </template>
          </el-table-column>
        </el-table> 
      </el-col>

      <el-col :md="12" :sm="12" :xs="24">
        <h3>最新作品</h3>
        <el-table
          :data="works.data"
          v-loading.body="loading"
          style="width: 100%">
          <el-table-column
            prop="created_at"
            label="日期"
            show-overflow-tooltip
            width="100">
          </el-table-column>
          
          <el-table-column
            prop="title"
            show-overflow-tooltip
            label="标题" >
            <template scope="scope">
              <router-link :to="{path: '/admin/works/show', query: {workId: scope.row.id}}">{{scope.row.title}}</router-link>
            </template>
          </el-table-column>
          
          <el-table-column
            prop="note"
            width="220"
            label="评分">
            <template scope="scope">
              <el-rate
                v-model="scope.row.note"
                disabled
                show-text
                text-color="#ff9900"
                text-template="{value}">
              </el-rate>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import heatChart from '../Charts/HeatChart'
  import barStack from '../Charts/BarStack'
  import {getDashboardAction} from 'api/dashboard'
  import echarts from 'echarts'
  import moment from 'moment'
     
  export default {
    components: {heatChart, barStack},
    name: 'admin-dashboard',

    data() {
      return {
        tasks: {
          data: [],
          count: 0,
          monthCount: 0
        },
        feedbacks: {
          data: [],
          count: 0,
          monthCount: 0
        },
        works: {
          data: [],
          count: 0,
          monthCount: 0
        },
        notifications : {
          data: [],
          unreadCount : 0,
        },
        energy: [],
        bars: [],
        loading: false,
      }
    },

    mounted() {
      this.loading = true
      getDashboardAction().then(response => {
        this.tasks = response.tasks

        this.tasks.data = this.tasks.data.map(task => {
          task.start = moment(task.start).fromNow()
          return task
        })
        
        this.feedbacks = response.feedbacks
        this.feedbacks.data = response.feedbacks.data.map(feedback => {
          feedback.note = Number(feedback.note)
          feedback.created_at = moment(feedback.created_at).fromNow()
          return feedback
        })

        this.works = response.works
        this.works.data = response.works.data.map(work => {
          work.note = Number(work.note)
          work.created_at = moment(work.created_at).fromNow()
          return work
        })

        this.notifications = response.notifications
        this.notifications.data = this.notifications.data.map(notification => {
          notification.date = moment(notification.publish_at).fromNow()
          return notification
        })
        this.energy = []
        
        Object.keys(response.energy).map(key => {
          this.energy.push([
            // echarts.format.formatTime('yyyy-MM-dd', key),
            key,
            response.energy[key] 
          ])   
        })

        this.bars = [this.tasks.monthCount, this.feedbacks.monthCount, this.works.monthCount]

        this.loading = false
      }).catch(err => {
        this.$message.error('加载失败')
        this.loading = false
      })
    },
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .task-icon {
    margin-right: 10px;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
  } 

  .blue {
    background-color: #20a0ff;
  }

  .red {
    background-color: #FF4949;
  }

  .yellow {
    background-color: #F7BA2A;
  }

  .green {
    background-color: #13CE66;
  }

  .number-content {
    background: #ECF0F5;
    padding-top: 7px;
    height: 92px;
  }  

  .el-col {
    margin-bottom: 15px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
