<template>
    <div class="login-container" id="particles-js">
        <el-form autoComplete="on" :model="loginForm" :rules="loginRules" ref="loginForm" label-position="right"
                 label-width="0px"
                 class="card-box login-form">
            <h3 class="title">物资管理系统登录</h3>
            <el-form-item prop="userNo" :error="errors.userNo">
                <span class="svg-container"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                <el-input name="userNo" type="text" v-model="loginForm.userNo" autoComplete="on" :autofocus="true" placeholder="学号" :error="errors.userNo"
                          ></el-input>
            </el-form-item>
            <el-form-item prop="password" :error="errors.password">
                <span class="svg-container"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <el-input name="password" type="password" @keyup.enter.native="handleLogin" v-model="loginForm.password" :error="errors.password"
                          autoComplete="on" placeholder="密码" ></el-input>
            </el-form-item>
            <el-checkbox v-model="rememberMe" class="rememberMe">记住我</el-checkbox>
            <el-form-item>
                <el-button type="primary" style="width:100%" :loading="loading" @click.native.prevent="handleLogin" v-waves>
                    登录
                </el-button>
            </el-form-item>
            <router-link to="/sendResetEmail" class="forget-pwd">
                忘记密码?
            </router-link>
        </el-form>
    </div>
</template>


<script>
  // import particles from 'particles.js'
  // import particlesConfig from './LoginView/particles'
  
  export default {
    name: 'login',
    data () {
      const validatePass = (rule, value, callback) => {
        if (value.length < 6) {
          callback(new Error('密码不能小于6位'))
        } else {
          callback()
        }
      }
      return {
        loginForm: {
          userNo : '',
          password: ''
        },
        loginRules: {
          userNo: [
              { required: true, trigger: 'blur', message: '请输入正确的学号' }
          ],
          password: [
              { required: true, trigger: 'blur', validator: validatePass }
          ]
        },
        loading: false,
        errors: {},
        showDialog: false,
        rememberMe: () => {
          
        },
      }
    },

    mounted() {
      const userNo = localStorage.getItem('hacklabe_remember_me')
      this.rememberMe = userNo ? true : false
      this.loginForm.userNo = userNo ? userNo : ''

      this.$nextTick(() => {
        // this.initParticleJS()	
      })
    },
    
    methods: {
      // initParticleJS() {
        // particlesJS("particles-js", particlesConfig);
      // },

      setRememberMe() {
        if(this.rememberMe) {
          localStorage.setItem('hacklabe_remember_me', this.loginForm.userNo)   
        } else {
          localStorage.removeItem('hacklabe_remember_me');
        }
      },
      
      handleLogin () {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.setRememberMe() 
            this.errors = {}
            this.loading = true
            this.$store.dispatch('login', this.loginForm).then(() => {
              this.loading = false
              this.$router.push({ path: '/' })
            }).catch(err => {
              this.loading = false
              if(err.response && err.response.data) {
                this.errors = err.response.data;
              } else {
                this.$message.error('登录失败，请稍后再试或联系管理员');
              }
            })
          } else {
            this.$message.error('信息尚未填写完整');
            this.loading = false
            return false
          }
        })
      },
    },
  }
</script>

<style rel="stylesheet/scss" lang="scss" >
  .login-container {
      height: 100vh;
      height: 100%;
      background: url(./LoginView/assets/background.jpg) bottom no-repeat transparent;
      background-size: cover;
      overflow: hidden;
        
      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #293444 inset !important;
          -webkit-text-fill-color: #fff !important;
      }
      input {
          background: transparent;
          border: 0px;
          -webkit-appearance: none;
          border-radius: 0px;
          padding: 12px 5px 12px 15px;
          color: #eeeeee;
          height: 47px;
      }
      .el-input {
          display: inline-block;
          height: 47px;
          width: 85%;
      }
      .el-form-item {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          color: #454545;
      }
      .svg-container {
          padding: 6px 5px 6px 15px;
          color: #889aa4;
      }
      .title {
          font-size: 26px;
          font-weight: 400;
          color: #eeeeee;
          margin: 0px auto 40px auto;
          text-align: center;
          font-weight: bold;
      }
      .login-form {
          position: absolute;
          left: 0;
          right: 0;
          width: 400px;
          padding: 35px 35px 15px 35px;
          margin: 120px auto;
          background: rgba(255, 255, 255, 0.1);
      }
      .forget-pwd {
          color: #fff;
          padding-bottom: 3px;
          &:hover {
            text-decoration: underline;
          }
      }
      .rememberMe {
        color: white;
        font-weight:500;
        margin-bottom: 10px;
      }
    }
</style>
