<template>
    <el-menu class="navbar" mode="horizontal" theme="dark">
        <SidebarToggle class="sidebar-toggle-container" :toggleClick="toggleSideBar" :isActive="sidebar.opened"></SidebarToggle>
        <el-button @click="goBack" icon="arrow-left" class="back-btn text-white"></el-button>
        <levelbar></levelbar>

        <el-tooltip class="item" effect="dark" content="查看通知" placement="bottom">
            <el-button @click="goNotification" size="small" class="notification-btn">
                <i class="fa fa fa-bell"></i>
                <el-badge :value="unread" :max="99" class="adjust-badge"></el-badge>
            </el-button>
        </el-tooltip>
        
        
        <el-dropdown class="avatar-container" trigger="click">
            <div class="avatar-wrapper">
                <img class="user-avatar" :src="avatar">
            </div>
            <el-dropdown-menu class="user-dropdown" slot="dropdown">
                <router-link  class='inlineBlock' to="/profile">
                    <el-dropdown-item>
                        个人信息
                    </el-dropdown-item>
                </router-link>
                <router-link  class='inlineBlock' to="/settings">
                    <el-dropdown-item>
                        个人设置
                    </el-dropdown-item>
                </router-link>
                <el-dropdown-item divided><span @click="logout" style="display:block;">退出登录</span></el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-menu>
</template<template>
    <el-menu class="navbar" mode="horizontal" theme="dark">
        <SidebarToggle class="sidebar-toggle-container" :toggleClick="toggleSideBar" :isActive="sidebar.opened"></SidebarToggle>
        <el-button @click="goBack" icon="arrow-left" class="back-btn text-white"></el-button>
        <levelbar></levelbar>

        <el-tooltip class="item" effect="dark" content="查看通知" placement="bottom" v-show="isBuyer">
            <el-button @click="goNotification" size="small" class="notification-btn">
                <i class="fa fa fa-bell"></i>
                <el-badge :value="unread" :max="99" class="adjust-badge"></el-badge>
            </el-button>
        </el-tooltip>
        
        <el-dropdown class="avatar-container" trigger="click">
            <div class="avatar-wrapper">
                <img class="user-avatar" :src="avatar">
            </div>
            <el-dropdown-menu class="user-dropdown" slot="dropdown">
                <router-link  class='inlineBlock' to="/profile">
                    <el-dropdown-item>
                        个人信息
                    </el-dropdown-item>
                </router-link>
                <router-link  class='inlineBlock' to="/settings">
                    <el-dropdown-item>
                        个人设置
                    </el-dropdown-item>
                </router-link>
                <el-dropdown-item divided><span @click="logout" style="display:block;">退出登录</span></el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-menu>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Levelbar from './Levelbar'
    import SidebarToggle from './SidebarToggle'

    export default {
      components: {
        Levelbar,
        SidebarToggle
      },
      computed: {
          unread () {
            return this.$store.getters.unread 
          },

          sidebar () {
              return this.$store.getters.sidebar
          },

          name () {
              return this.$store.getters.name
          },

          avatar () {
              return this.$store.getters.avatar
          },

          isBuyer () {
            return this.$store.getters.role === 'buyer'
          }
      },
      methods: {
        goBack () {
          history.back()
        },
        toggleSideBar () {
          this.$store.dispatch('ToggleSideBar')
        },
        logout () {
          this.$store.dispatch('logout').then(() => {
            this.$router.push({ path: '/login' })
          })
        },
        goNotification () {
          this.$router.push('/notifications/index')
        },
      }
    }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
    .sidebar-toggle-container {
        position: relative;
        top: -25px;
        border: none;
        border-radius: 50%;
        height: 60px;
        width: 50px;
        background: transparent;     

        &:hover, &:focus {
            color: white;
        }
    }
    
    .navbar {
        height: 60px;
        background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
        line-height: 60px;
        border-radius: 0px !important;
        
        .errLog-container {
            display: inline-block;
            position: absolute;
            right: 150px;
        }

        .notification-btn {
            position: absolute;
            top: 10px;
            right: 100px;

            background: transparent;
            border: transparent;
            color: white;
            font-size: 20px;

            .adjust-badge {
                margin-left: -10px;
                margin-top: -10px;
            }
        }
        
        .avatar-container {
            height: 50px;
            display: inline-block;
            position: absolute;
            right: 35px;
            .avatar-wrapper {
                cursor: pointer;
                margin-top:-2px;
                position: relative;
                .user-avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .el-icon-caret-bottom {
                    position: absolute;
                    right: -20px;
                    top: 15px;
                    font-size: 12px;
                }
            }
        }
    }

    .back-btn {
        position:relative;
        top: -25px;
        border: none;
        border-radius: 50%;
        height: 60px;
        width: 50px;
        background: transparent;
        margin-left: 0;
    }
</style>



>

<script>
    import Levelbar from './Levelbar'
    import SidebarToggle from './SidebarToggle'

    export default {
      components: {
        Levelbar,
        SidebarToggle
      },
      data() {
          return {
              
          }
      },

      computed: {
          unread() {
            return this.$store.getters.unread 
          },

          sidebar() {
              return this.$store.getters.sidebar
          },

          name() {
              return this.$store.getters.name
          },

          avatar() {
              return this.$store.getters.avatar
          }
      },
      methods: {
        goBack() {
          history.back()
        },
        toggleSideBar() {
          this.$store.dispatch('ToggleSideBar')
        },
        logout() {
          this.$store.dispatch('logout').then(() => {
            this.$router.push({ path: '/login' })
          });
        },
        goNotification() {
          this.$router.push('/notifications/index')
        }
      }
    }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
    .sidebar-toggle-container {
        position: relative;
        top: -25px;
        border: none;
        border-radius: 50%;
        height: 60px;
        width: 50px;
        background: transparent;     

        &:hover, &:focus {
            color: white;
        }
    }
    .navbar {
        height: 60px;
        background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
        line-height: 60px;
        border-radius: 0px !important;
        
        .errLog-container {
            display: inline-block;
            position: absolute;
            right: 150px;
        }

        .notification-btn {
            position: absolute;
            top: 10px;
            right: 100px;

            background: transparent;
            border: transparent;
            color: white;
            font-size: 20px;

            .adjust-badge {
                margin-left: -10px;
                margin-top: -10px;
            }
        }
        
        .avatar-container {
            height: 50px;
            display: inline-block;
            position: absolute;
            right: 35px;
            .avatar-wrapper {
                cursor: pointer;
                margin-top:-2px;
                position: relative;
                .user-avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .el-icon-caret-bottom {
                    position: absolute;
                    right: -20px;
                    top: 15px;
                    font-size: 12px;
                }
            }
        }
    }

    .back-btn {
        position:relative;
        top: -25px;
        border: none;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: transparent;
    }
</style>



