@import './btn.scss';
@import './element-ui.scss';
@import "./mixin.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

code {
  background: #eef1f6;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-container {
  padding: 20px;
}
.components-container {
  margin: 30px 50px;
  position: relative;
}
.pagination-container {
  margin-top: 30px;
}


.editor-container .CodeMirror {
  height: 100%!important;
}

.wscn-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.publishedTag,
.draftTag,
.deletedTag {
  color: #fff;
  background-color: $panGreen;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.draftTag {
  background-color: $yellow;
}

.deletedTag {
  background-color: $red;
}

.input-label {
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 5px 11px 0;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-marginLeft {
  .el-checkbox {
    margin: 0 20px 15px 0;
  }
  .el-checkbox+.el-checkbox {
    margin-left: 0px;
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}


//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//refine simplemde
.simplemde-container{
  .editor-toolbar.fullscreen,.CodeMirror-fullscreen{
    z-index: 1003;
  }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//github-corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.text-left {
  text-align: left;  
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.padding-div {
  padding: 15px 25px;
}

.pointer {
  cursor: pointer;
}

tr.unread {
  font-weight: bold;
}

.el-badge__content {
  border: none;
}

.el-button {
  border-radius: 0;
}

.el-menu--horizontal {
  z-index: 1002;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
  color: white
}

#app {
  height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.fc-event {
    border-radius: 0;
}

.fc button {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    line-height: 1;
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 0 !important;
    height: 30px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #bfcbd9;

    &:hover {
      color: #20a0ff !important;
      border-color: #20a0ff !important;
    }

}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active, .fc-today-button.fc-state-disabled {
  background-color: #eef1f6;
  border-color: #d1dbe5;
  cursor: not-allowed;
  background-image: none;
  color: #bfcbd9; 
  box-shadow: none;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 120px;
}

.clear-btn {
  position: relative;
  margin-left: -5px;
  border-radius: 0;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.diy-toolbar {
  margin-bottom: 25px;
}

.font-14 {
  font-size: 14px;
}

.paginator-div {
  margin-top: 30px;
}

@media print {
  .print-content{
    background-color: white;
    z-index: 9999; 
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
  }

  .button-group {
    display: none;
  }

  .sidebar-wrapper {
    display: none;
  }
}

.el-upload__input {
  display: none !important;
}

.el-menu--dark {
  background-color: #222D32;
}

#nprogress .bar {
  background: #ff9800  !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff9800 !important;
  border-left-color: #ff9800 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ff9800, 0 0 5px #ff9800 !important;
}