<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中班级" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteCls"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createCl">添加新班级</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="clForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="cls"
      tooltip-effect="dark"
      empty-text="暂无任何班级"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        label="班级名">
      </el-table-column>

      <el-table-column
        prop="students"
        label="该班学生数量">
      </el-table-column>

      <el-table-column
        prop="special"
        show-overflow-tooltip
        width="100"
        label="海空班">
         <template scope="scope">
          <el-tag :type="scope.row.special ? 'success' : 'primary'" v-show="scope.row.special">是</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="150">
      <template scope="scope">
          <el-tooltip class="item" effect="dark" content="编辑该班级" placement="bottom">
            <el-button
              @click="editCl(scope.row)"
              type="primary"
              icon="edit"
              size="small">
            </el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="查看学生列表" placement="bottom">
            <router-link :to="{path: '/admin/students/index', query: {class_id: scope.row.id}}">
              <el-button
                size="small">
                <i class="fa fa-graduation-cap"></i>
              </el-button>
            </router-link>
          </el-tooltip>

           <el-tooltip class="item" effect="dark" content="查看课程表" placement="bottom">
            <router-link :to="{path: '/admin/schedules/index', query: {class_id: scope.row.id}}">
              <el-button
                size="small">
                <i class="fa fa-calendar"></i>
              </el-button>
            </router-link>
          </el-tooltip>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>

    <el-dialog
      title="创建班级"
      :visible.sync="dialogVisible"
      size="small">

      <el-form :model="newCl" ref="newCl" label-width="120px">
        <el-form-item
          label="班级名称"
          prop="name"
          :rules="[{required: true, message: '班级名称不能为空'}]">
          <el-input v-model="newCl.name" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="海空班？" prop="special">
          <el-radio-group v-model="newCl.special">
            <el-radio label="1">是</el-radio>
            <el-radio label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveCl">{{btnLabel}}</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {getClsAction, deleteClAction, updateClAction, storeClAction} from 'api/cls'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        cls: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        dialogVisible: false,
        searchForm: {
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按班级名升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按班级名降序'
          },
          {
            value: {prop: 'special', order: 'ascending'},
            label: '按是否是海空班升序'
          },
          {
            value: {prop: 'special', order: 'descending'},
            label: '按是否是海空班降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
        createMode: true,
        newCl: {
          special: '0',
          name: ''
        }
      }
    },

    mounted() {
      this.init() 
    },

    computed: {
      btnLabel () {
        return this.createMode ? '创 建' : '修 改' 
      }
    },

    methods: {
      createCl() {
        this.dialogVisible = true 
        this.createMode = true
      },

      editCl(cl) {
        this.newCl.id = cl.id
        this.newCl.name = cl.name
        this.newCl.special = '' + cl.special 
        this.dialogVisible = true
        this.createMode = false
      },

      saveCl() {
        this.loading = true
        this.dialogVisible = false
        if(this.createMode) {
          storeClAction(this.newCl).then(response => {
            this.cls.push(response)
            this.newCl.name = ''
            this.newCl.special = '0'
            this.loading = false
          })
        } else {
          updateClAction(this.newCl).then(response => {
            this.loading = false
            this.newCl.name = ''
            this.newCl.special = '0'
            this.init()
          })
        }
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        getClsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.cls  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query.keywords = this.searchForm.keywords
        
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteCls() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的班级')
        } else {
          this.$confirm('此操作将永久删除班级, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteClAction(ids).then(response => {
              this.cls = this.cls.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除班级')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'cls-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
