<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中课程" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteCourses"></el-button>
              </el-tooltip>
            </el-button-group>  

<!--
            <el-tooltip class="item" effect="dark" content="加入的课程表" placement="bottom">
              <el-button size="small" @click="addToSchedule"><i class="fa fa-calendar" aria-hidden="true"></i></el-button>
            </el-tooltip>
            -->
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createCourse">添加新课程</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="searchForm" :rules="rules" >
        <el-form-item>
          <el-form-item>
            <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 400px">
              <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 100px">
                <el-option label="课程名称" value="name"></el-option>
                <el-option label="老师名称" value="teacher_name"></el-option>
              </el-select>
              <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
            </el-input>
            <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
          </el-form-item>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="courses"
      tooltip-effect="dark"
      empty-text="暂无任何课程"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        label="课程名">
      </el-table-column>

      <el-table-column
        prop="teacher_name"
        label="教师名">
        <template scope="scope">
          <router-link :to="{path: '/admin/teachers/show', query: {id: scope.row.teacher_id}}">
            {{scope.row.teacher_name}}
          </router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="classHour"
        label="课时数">
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该课程" placement="bottom">
            <el-button
              @click="editCourse(scope.row)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>

    <el-dialog
      title="创建课程"
      :visible.sync="dialogVisible"
      size="large">

      <el-form :model="newCourse" ref="newCourse" label-width="120px" :rules="newCourseRules">
         <el-form-item
          label="课程名称"
          :error="errors.name"
          prop="name">
          <el-input v-model="newCourse.name" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="老师" prop="teacher" :error="errors.teacher_id">
          <el-input v-model="newCourse.teacher" :disabled="true" @click="chooseTeacher">
            <template slot="append">
              <el-button type="primary" @click="chooseTeacher">请选择</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item
          label="课时数"
          :error="errors.classHour"
          prop="classHour">
          <el-input v-model="newCourse.classHour" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item
          label="年级"
          :error="errors.grade"
          prop="grade">
          <el-select v-model="newCourse.grade" placeholder="请选择">
            <el-option
              v-for="item in grades"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item> 

        <el-form-item label="标记颜色" prop="color" :error="errors.color">
          <el-col :span="2" style="width: 100px">
            <el-input v-model="newCourse.color"></el-input>
          </el-col>
          <el-col :span="4">
            <el-color-picker v-model="newCourse.color"></el-color-picker>
          </el-col>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveCourse">{{btnLabel}}</el-button>
      </span>
    </el-dialog>


    <el-dialog title="选择老师" :visible.sync="teacherDialog" size="full">
        <div class="text-center" v-show="teacherTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setTeacherPage"
            :current-page="teacherCurrentPage"
            :page-size="teacherPageSize"
            :total="teacherTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="teacherForm" class="" ref="teacherForm" :rules="teacherFormRules" >
            <el-form-item>
              <el-input v-model="teacherForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setTeacherPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearTeacherSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <!-- 选择老师 -->
        <el-table :data="teachers"
          v-loading.body="teacherLoading"
          tooltip-effect="dark"
          empty-text="暂无任何老师"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="姓名" ></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setTeacher(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>

        <div class="text-center paginator-div" v-show="teacherTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setTeacherPage"
            :current-page="teacherCurrentPage"
            :page-size="teacherPageSize"
            :total="teacherTotal">
          </el-pagination>
        </div>
      </el-dialog>
  </div>
</template>

<script>
  import {getCoursesAction, deleteCourseAction, updateCourseAction, storeCourseAction} from 'api/courses'
  import {getTeachersAction} from 'api/users'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        courses: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        dialogVisible: false,
        searchForm: {
          select: '',
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按课程名升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按课程名降序'
          },
          {
            value: {prop: 'teacher_name', order: 'ascending'},
            label: '按老师名升序'
          },
          {
            value: {prop: 'teacher_name', order: 'descending'},
            label: '按老师名降序'
          },
          {
            value: {prop: 'classHour', order: 'ascending'},
            label: '按课时数升序'
          },
          {
            value: {prop: 'classHour', order: 'descending'},
            label: '按课时数降序'
          },
        ],
        levelOptions: [{
          value: 0,
          label: '学生可用'
        }, {
          value: 1,
          label: '老师可用'
        }, {
          value: 2,
          label: '全部可用'
        }],
        sortInfo: {prop: 'id', order: 'descending'},
        createMode: true,

        newCourse: {
          name: '',
          classHour: '',
          grade: '',
          teacher: '',
          teacher_id: '',
          color: '#000000'
        },
          

        grades: [
          {
            label: '高一',
            value: 1,
          },
          {
            label: '高二',
            value: 2
          },
          {
            label: '高三',
            value: 2
          },
        ],

        newCourseRules: {
          teacher: {required: true, message: '老师不能为空'},
          grade: {required: true, type: 'number', message: '年级不能为空'},
          classHour: [{required: true, message: '课时数不能为空'}],
          name: {required: true, message: '课程名称不能为空'}
        },
        errors : {},

        //dialog
        teachers: [],
        teacherLoading: false,
        teacherDialog: false,
        teacherTotalPages: 0,
        teacherCurrentPage: 1,
        teacherTotal: 0,
        teacherPageSize: 0,

        teacherForm: {
          keywords: '',
          section: 'name'
        },

        teacherFormRules: {
          keywords: {required: true, message: '关键字不能为空'},
        },
      }
    },

    filters: {
      levelFilter(status) {
        const statusMap = {
          0: 'success',
          1: 'info',
          2: 'primary'
        };
        return statusMap[status]
      },

      levelLabel(status) {
        const statusMap = {
          0: '学生可用',
          1: '老师可用',
          2: '都可使用'
        };
        return statusMap[status]
      }
    },

    mounted() {
      this.init() 
    },

    computed: {
      btnLabel () {
        return this.createMode ? '创 建' : '修 改' 
      }
    },

    methods: {
      clearTeacherSearch() {
        this.teacherForm.keywords = ''
        this.loadTeachers(1) 
      },

      setTeacherPage (pageNumber) {
        this.loadTeachers(pageNumber) 
      },

      loadTeachers (pageNumber) {
        let queryStr = ''
        if(this.teacherForm.keywords) {
          queryStr = '?name=' + this.teacherForm.keywords
        }
        this.teacherLoading = true
        getTeachersAction(pageNumber, queryStr).then(response => {
          this.loading = false
          this.teacherTotalPages = response.last_page
          this.teacherCurrentPage = response.current_page
          this.teachers  = response.data
          this.teacherTotal = response.total
          this.teacherPageSize = parseInt(response.per_page)
          this.teacherLoading = false
        }).catch(err => {
          this.loading = false
          this.$message.error('加载失败，请重新加载')
        })     
      },

      chooseTeacher () {
        this.teacherDialog = true
        if(this.teachers.length === 0) {
          this.loadTeachers(1)
        }
      },

      setTeacher (teacher) {
        this.newCourse.teacher_id = teacher.id 
        this.newCourse.teacher = teacher.name
        this.teacherDialog = false
      },

      createCourse() {
        this.emptyNewCourse()
        this.dialogVisible = true 
        this.createMode = true
      },

      emptyNewCourse() {
        this.newCourse.name = ''
        this.newCourse.classHour = ''
        this.newCourse.grade = ''
        this.newCourse.teacher = ''
        this.newCourse.teacher_id = ''
        this.newCourse.id = ''
        this.newCourse.color = '#000000'
      },

      editCourse(course) {
        this.newCourse.id = course.id
        this.newCourse.name = course.name
        this.newCourse.classHour = course.classHour
        this.newCourse.grade = course.grade
        this.newCourse.teacher = course.teacher_name
        this.newCourse.teacher_id = course.teacher_id
        this.newCourse.color = course.color
        this.dialogVisible = true
        this.createMode = false
      },

      saveCourse() {
        this.$refs['newCourse'].validate((valid) => {
          if (valid) {
            this.loading = true
            this.dialogVisible = false
            this.errors = {}
            if(this.createMode) {
              storeCourseAction(this.newCourse).then(response => {
                this.courses.push(response)
                this.emptyNewCourse()
                this.loading = false
              }).catch(err => {
                this.loading = false
                this.errors = err
              })
            } else {
              updateCourseAction(this.newCourse).then(response => {
                this.loading = false
                this.emptyNewCourse()
                this.init()
              }).catch(err => {
                this.loading = false
                this.errors = err
              })
            }
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        })
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = ''
      },

      loadData (page, queryStr) {
        this.loading = true
        getCoursesAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.courses  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query.select = this.searchForm.select
        query.keywords = this.searchForm.keywords
        
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)

        console.log(queryStr)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        if(query.select) {
          this.searchForm.select = query.select
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      addToSchedule() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要加入到课程表的课程')
        } else {
          this.$confirm('此操作执行后不易撤回，是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteCourseAction(ids).then(response => {
              this.courses = this.courses.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除课程')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      deleteCourses() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的课程')
        } else {
          this.$confirm('此操作将永久删除课程, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteCourseAction(ids).then(response => {
              this.courses = this.courses.filter(cl => {
                return !idsArray.includes(cl.id)
              })
              this.$message.success('成功删除课程')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch((err) => {
            console.log(err)
            this.$message.error('出错了')
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'courses-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
