<template>
    <div class="padding-div" id="supplier-detail">
      <el-form label-position="right" label-width="100px" :model="supplier" ref="supplierForm" :rules="rules">
        <el-form-item label="供应商名称" prop="name">
          <el-input v-model="supplier.name" placeholder="标题" :autofocus="true"></el-input>
        </el-form-item>
        
        <el-form-item label="供应商描述" prop="description">
          <vue-summernote ref="editer"></vue-summernote>
        </el-form-item>

        <el-form-item label="等级" prop="level">
          <el-select v-model="supplier.level" placeholder="请选择">
            <el-option
              v-for="item in levelsOptions"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="状态" prop="status">
          <el-select v-model="supplier.status" placeholder="请选择">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
               
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('supplierForm', true)" :loading="loading">{{submitAndExitBtnText}}</el-button>
            <el-button type="info" @click="submitForm('supplierForm', false)" :loading="loading">{{submitBtnText}}</el-button>
            <el-button @click="resetForm('supplierForm')" v-if="!editMode" :loading="loading">重置</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {showSupplierAction, storeSupplierAction, updateSupplierAction} from 'api/suppliers'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'supplier-detail',
    // components: { summernote },
    data() {
      return {
        id: '',
        supplier : {
          description: '',
          name: '',
          level: 1,
          status: 1,
        },
        rules: {
          name: {required: true, message: '产品名称是必须的', trigger: 'blur'},
          description: {required: true, message: '产品描述是必须的', trigger: 'blur'},
        },
        statusOptions: [{
          value: 0,
          label: '停用'
        }, {
          value: 1,
          label: '正常'
        }],
        levelsOptions: [1, 2, 3, 4, 5],
        loading: false,
        editMode: false,
        options: []
      }
    },

    computed: {
      submitBtnText() {
        return this.editMode ? '保存修改' : '创建'
      },
      submitAndExitBtnText() {
        return this.editMode ? '保存后退出' : '创建后退出'
      } 
    },

    mounted() {
      this.id = this.$route.query.id
      const editer = this.$refs.editer

      if(this.id) {
        this.editMode = true
        let loadingDialog = Loading.service({target: '#supplier-detail'})
        
        showSupplierAction(this.id).then(response => {
          this.supplier = response
          this.setVal(this.supplier.description)
          loadingDialog.close()
          
        }).catch(err => {
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      } else {
        this.editMode = false
      }

      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      const self = this
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.supplier.description = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })
    },

    methods: {
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            
            if(this.editMode) {
              updateSupplierAction(this.id, this.supplier).then(response => {
                this.$message.success('保存成功')
                if(shouldExit) {
                  this.$router.push({path: '/admin/suppliers/index'})
                }
                this.loading = false
              }).catch(err => {
                this.$message.error('保存失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            } else {
              storeSupplierAction(this.supplier).then(response => {
                const notif = response
                this.$message.success('保存成功')
                if(shouldExit) {
                  this.$router.push({path: '/admin/suppliers/index'})
                } else {
                  this.$router.push({path: '/admin/suppliers/edit', query: {id : notif.id}})
                }
              }).catch(err => {
                this.$message.error('保存失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            }
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>