<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="激活选中供应商" placement="bottom">
                <el-button size="small" @click="activeSuppliers">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="停用选中供应商" placement="bottom">
                <el-button size="small" @click="disableSuppliers">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="删除选中供应商" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteSuppliers"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createSupplier">添加供应商</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="supplierForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="searchForm.status" placeholder="状态" size="small" style="width: 100px;" @visible-change="changeStatus">
            <el-option label="所有状态" value="All"></el-option>
            <el-option label="停用" value="0"></el-option>
            <el-option label="正常" value="1"></el-option>
          </el-select>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="suppliers"
      tooltip-effect="dark"
      empty-text="暂无任何供应商"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        show-overflow-tooltip
        label="供应商名称">
      </el-table-column>

      <el-table-column
        prop="level"
        width="120"
        label="等级">
      </el-table-column>

      <el-table-column
        prop="status"
        label="状态"
        width="100">
        <template scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{scope.row.status | statusLabel}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="110">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该供应商" placement="bottom">
            <el-button
              @click="editSupplier(scope.$index)"
              type="primary"
              size="small">
              <i class="fa fa-pencil"></i>
            </el-button>
          </el-tooltip>

          <el-tooltip class="item" effect="dark" content="查看相关合同" placement="bottom">
            <router-link :to="{path: '/admin/contracts/index', query: {supplier_id : scope.row.id}}">
              <el-button
                size="small">
                <i class="fa fa-handshake-o"></i>
              </el-button>
            </router-link>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getSuppliersAction, disableSuppliersAction, activeSuppliersAction, deleteSuppliersAction } from 'api/suppliers'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        suppliers: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        searchForm: {
          status: 'All', 
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        sortInfo : {}
      }
    },

    mounted() {
      this.init() 
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          0: 'danger',
          1: 'success',
        };
        return statusMap[status]
      },

      statusLabel(status) {
        const statusMap = {
          0: '停用',
          1: '正常',
        };
        return statusMap[status]
      }
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },

      sortChange(props) {
        const {prop, order} = props
        if(prop != this.sortInfo.prop || order != this.sortInfo.order) {
          this.sortInfo.prop = prop
          this.sortInfo.order = order
          const path = this.$route.path
          let query = this.$route.query
          query.sort = prop        
          query.order = order
          const queryStr = query2Str(query)
          this.$router.push({path: path + queryStr})
        }
      },
      
      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        const queryStr = query2Str(query)
        this.$router.push({path: path + queryStr})
      },

      changeStatus(hide) {
        if(!hide) {
          const path = this.$route.path
          let query = this.$route.query
          if(this.searchForm.status == 'All') {
            query.status = ''
          } else {
            query.status = this.searchForm.status
          }
          
          const queryStr = query2Str(query)
          this.$router.push({path: path + queryStr})
        }
      },
      
      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        
        if(query.order) {
          this.sortInfo.order = query.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        }
        
        const queryStr = query2Str(query)
        getSuppliersAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.suppliers  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })
      },

      createSupplier() {
        this.$router.push({path: '/admin/suppliers/edit'})
      },
      
      editSupplier(row) {
        const supplierId = this.suppliers[row].id
        this.$router.push({path: '/admin/suppliers/edit', query: {id : supplierId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      disableSuppliers() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要停用的供应商')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          disableSuppliersAction(ids).then(response => {
            this.suppliers = this.suppliers.map(supplier=> {
              if(idsArray.includes(supplier.id)) {
                supplier.status = 0
              }
              return supplier
            })
            this.$message.success('成功停用供应商')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      activeSuppliers() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要激活的供应商')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          activeSuppliersAction(ids).then(response => {
            this.suppliers = this.suppliers.map(supplier=> {
              if(idsArray.includes(supplier.id)) {
                supplier.status = 1
              }
              return supplier
            })
            this.$message.success('成功激活供应商')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        } 
      },

      deleteSuppliers() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的供应商')
        } else {
          this.$confirm('此操作将永久删除供应商, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteSuppliersAction(ids).then(response => {
              this.suppliers = this.suppliers.filter(supplier => {
                return !idsArray.includes(supplier.id)
              })
              this.$message.success('成功删除供应商')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'suppliers-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
