<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="激活选中产品" placement="bottom">
                <el-button size="small" @click="activeProducts">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="停用选中产品" placement="bottom">
                <el-button size="small" @click="disableProducts">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="删除选中产品" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteProducts"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createProduct">添加产品</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="productForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="searchForm.status" placeholder="状态" size="small" style="width: 100px;" @change="onSubmit">
            <el-option label="所有状态" value="All"></el-option>
            <el-option label="停用" value="0"></el-option>
            <el-option label="正常" value="1"></el-option>
          </el-select>
        </el-form-item>

      <el-form-item>
        <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
          <el-option
            v-for="item in sortByOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="products"
      tooltip-effect="dark"
      empty-text="暂无任何产品"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        show-overflow-tooltip
        label="产品名称">
      </el-table-column>

      <el-table-column
        prop="in"
        class-name="stockin"
        width="120"
        label="入库量">
      </el-table-column>

      <el-table-column
        prop="out"
        class-name="stockout"
        width="120"
        label="出库量">
      </el-table-column>

      <el-table-column
        prop="stock"
        width="120"
        label="库存量">
      </el-table-column>

      <el-table-column
        prop="status"
        label="状态"
        sortable
        width="100">
        <template scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{scope.row.status | statusLabel}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该产品" placement="bottom">
            <el-button
              @click="editProduct(scope.$index)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getProductsAction, disableProductsAction, activeProductsAction, deleteProductsAction } from 'api/products'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        products: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        searchForm: {
          status: 'All', 
          keywords: '',
          select: 'name',
          admission_year: ''
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
          select: {required: true, message: '必须选择一项'},

        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按产品名称升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按产品名称降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.init() 
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          0: 'primary',
          1: 'success',
          2: 'danger'
        };
        return statusMap[status]
      },

      statusLabel(status) {
        const statusMap = {
          0: '停用',
          1: '正常',
        };
        return statusMap[status]
      }
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },

      loadData(page, queryStr) {
       this.loading = true
        getProductsAction(1, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.products  = response.data.map(product => {
            if(product.in) {
              product.in = product.in.quantity
            } else {
              product.in = 0
            }

            if(product.out) {
              product.out = product.out.quantity 
            } else {
              product.out = 0
            }

            product.stock = product.in - product.out
            return product
          })
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })  
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order

        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

    
      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        
        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr)
      },

      createProduct() {
        this.$router.push({path: '/admin/products/edit'})
      },
      
      editProduct(row) {
        const productId = this.products[row].id
        this.$router.push({path: '/admin/products/edit', query: {id : productId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      disableProducts() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要停用的产品')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          disableProductsAction(ids).then(response => {
            this.products = this.products.map(product=> {
              if(idsArray.includes(product.id)) {
                product.status = 0
              }
              return product
            })
            this.$message.success('成功停用产品')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      activeProducts() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要激活的产品')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          activeProductsAction(ids).then(response => {
            this.products = this.products.map(product=> {
              if(idsArray.includes(product.id)) {
                product.status = 1
              }
              return product
            })
            this.$message.success('成功激活产品')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        } 
      },

      deleteProducts() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的产品')
        } else {
          this.$confirm('此操作将永久删除产品, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteProductsAction(ids).then(response => {
              this.products = this.products.filter(product => {
                return !idsArray.includes(product.id)
              })
              this.$message.success('成功删除产品')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'products-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }

</style>
