<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center">
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-dialog
      title="对该作品进行评价"
      :visible.sync="dialogVisible"
      size="small">
      <div>
        <el-form :model="noteForm" ref="noteForm" :rules="noteRules" label-width="60px" :error="errors.note">
          <el-form-item label="分数" prop="note">
            <el-input v-model="noteForm.note"></el-input>
          </el-form-item>
          
          <el-form-item label="评语" prop="comment" :error="errors.comment">
            <el-input v-model="noteForm.comment" placeholder="输入对该作品的评语" type="textarea"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="onSubmitAddNote">确 定</el-button>
      </span>
    </el-dialog>


    <el-form :inline="true" :model="searchForm" class="" ref="searchForm" :rules="rules">
        <el-form-item prop="select">
          <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 110px">
            <el-option label="实践名称" value="taskName"></el-option>
            <el-option label="学生" value="studentName"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item prop="keywords" >
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px" >
              <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>

        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>  

    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="works"
      tooltip-effect="dark"
      empty-text="暂无任何作品"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      >
      <el-table-column
      prop="id"
      label="ID"
      width="100">
      </el-table-column>
      <el-table-column
        prop="task_title"
        label="实践名称">
        <template scope="scope">
          <router-link :to="{path: '/teacher/tasks/edit', query: {taskId: scope.row.task_id}}">{{scope.row.task_title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="title"
        show-overflow-tooltip
        label="作品名">
        <template scope="scope">
          <router-link :to="{path: '/works/show', query: {workId: scope.row.id}}">{{scope.row.title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="student_name"
        width="120"
        label="学生名">
      </el-table-column>

      <el-table-column
        prop="note"
        width="120"
        label="成绩">
        <template scope="scope">
          <span v-if="scope.row.note">{{scope.row.note}}</span>
          <el-button v-else size="small" type="text" @click="addNote(scope.row)">评分</el-button>
        </template>
      </el-table-column>

      <el-table-column
        prop="created_at"
        width="170"
        label="评论时间"
       >
      </el-table-column>
      
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
        <template scope="scope">
          <el-button-group>
            <el-tooltip class="item" effect="dark" content="编辑该作品" placement="bottom">
              <el-button
                @click="showWork(scope.$index)"
                type="primary"
                :page-size="100"
                size="small">
                <i class="fa fa-eye"></i>
              </el-button>
            </el-tooltip>
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getTeacherWorksAction, addNoteAction} from 'api/works'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        works: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        loading: true, 
        sortInfo : {},
        searchForm:  {
          keywords: '',
          select: '',
        },
        rules: {
          keywords: {required: true, message: '关键词不能为空', trigger: 'change'},
          select: {required: true, message: '必须选择一项', trigger: 'change'},
        },

        dialogVisible: false,
        noteForm: {
          note: '',
          comment: '',
          id: '',
        },
        noteRules: {
          note: {required: true, message: '分数是必填项', trigger: 'change'},
          comment: {required: true, message: '评语是必填项', trigger: 'change'}, 
        },
        errors : {},

        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.init() 
    },

    methods: {
      addNote(work) {
        this.dialogVisible = true
        this.noteForm.id = work.id
      },
      
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },

      onSubmitAddNote() {
         this.$refs['noteForm'].validate((valid) => {
          if (valid) {
            addNoteAction(this.noteForm).then(response => {
              this.$message.success('评分成功')
              this.works.map(work => {
                if(work.id == this.noteForm.id) {
                  work.note = this.noteForm.note
                  work.comment = this.noteForm.comment
                  this.noteForm = {
                    note: '',
                    comment: '',
                    id: ''
                  }
                }
              }) 
            }).catch(err => {
              this.dialogVisible = false
              this.errors = err
              console.log(err)
              this.$message.error('保存失败，请稍后再试或联系管理员')
            })
          } else {
            this.dialogVisible = false
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },
      
      onSubmit() {
        // this.$refs['searchForm'].validate((valid) => {
          // if (valid) {
            const path = this.$route.path
            let query = this.$route.query
            query.keywords = this.searchForm.keywords
            query.select = this.searchForm.select
            query.prop = this.sortInfo && this.sortInfo.prop
            query.order = this.sortInfo && this.sortInfo.order
            const queryStr = query2Str(query)
            this.loadData(1, queryStr) 
          // } else {
            // this.$message.error('您还未完成该表单')
            // return false;
          // }
        // });
      },
      
      setPage(pageNumber) {
         this.init(pageNumber)
      },
      
      loadData(page, queryStr) {
        this.loading = true
        getTeacherWorksAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.works  = response.data
          this.works.map(work => {
            work.note = Number(work.note)
          })
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.loading = false
          this.$message.error('加载失败，请重新加载')
        })    
      },

      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

         let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }

        if(query.select) {
          this.searchForm.select = query.select
        }

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        const queryStr = query2Str(query)
        this.loadData(page, queryStr)
      },

      showWork(row) {
        const workId = this.works[row].id
        this.$router.push({path: '/works/show', query: {workId: workId}})
      },
    },
    name: 'teacher-works-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
  
  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }

  .pointer {
    cursor: pointer;
  }

  a:hover {
    color: #20a0ff
  }
</style>
