<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中入库类型" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteStockTypes"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="newStockType">添加入库类型</el-button>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="stockTypeForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="stockTypes"
      tooltip-effect="dark"
      empty-text="暂无任何入库类型"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="name"
        show-overflow-tooltip
        label="入库类型名称">
      </el-table-column>

    <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该入库类型" placement="bottom">
            <el-button
              @click="editStockType(scope.$index)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>

    <el-dialog
      title="创建入库类型"
      :visible.sync="dialogVisible"
      size="tiny">

      <el-form :model="newInForm" ref="newInForm" label-width="70px">
        <el-form-item
          label="名称"
          prop="name"
          :rules="[{required: true, message: '名称不能为空'}]">
          <el-input v-model="newInForm.name" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="createType">{{btnLabel}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {getStockTypesAction, disableStockTypesAction, activeStockTypesAction, storeStockTypeAction, updateStockTypeAction, deleteStockTypesAction } from 'api/stockTypes'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        stockTypes: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        createMode: true,
        multipleSelection: [],
        dialogVisible: false,
        in: 1,
        searchForm: {
          status: 'All', 
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        newInForm: {
          name: '', 
          status: 1,
          in: 1
        },
        sortInfo : {},
      }
    },

    mounted() {
      this.in = 1
      this.init() 
    },

    computed: {
      btnLabel () {
        return this.createMode ? '创 建' : '修 改' 
      }
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },

      sortChange(props) {
        const {prop, order} = props
        if(prop != this.sortInfo.prop || order != this.sortInfo.order) {
          this.sortInfo.prop = prop
          this.sortInfo.order = order
          const path = this.$route.path
          let query = this.$route.query
          query.sort = prop        
          query.order = order
          const queryStr = query2Str(query)
          this.$router.push({path: path + queryStr})
        }
      },

      newStockType() {
        this.dialogVisible = true 
        this.createMode = true
      },

      editStockType(row) {
        this.newInForm = this.stockTypes[row]
        this.newInForm.in = this.in
        this.dialogVisible = true
        this.createMode = false
      },

      createType() {
        this.loading = true
        this.dialogVisible = false
        if(this.createMode) {
          storeStockTypeAction(this.newInForm).then(response => {
            this.stockTypes.push(response)
            this.newInForm.name = ''
            this.loading = false
          })
        } else {
          updateStockTypeAction(this.newInForm).then(response => {
            this.loading = false
            this.newInForm.name = ''
          })
        }
      },
      
      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        const queryStr = query2Str(query)
        this.$router.push({path: path + queryStr})
      },

      changeStatus(hide) {
        if(!hide) {
          const path = this.$route.path
          let query = this.$route.query
          if(this.searchForm.status == 'All') {
            query.status = ''
          } else {
            query.status = this.searchForm.status
          }
          const queryStr = query2Str(query)
          this.$router.push({path: path + queryStr})
        }
      },
      
      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        
        if(query.order) {
          this.sortInfo.order = query.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        }
        
        const queryStr = query2Str(query)
        getStockTypesAction(this.in, page, queryStr).then(response => {
          this.loading = false
          this.stockTypes  = response
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        }) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      disableStockTypes() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要停用的入库类型')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          disableStockTypesAction(ids).then(response => {
            this.stockTypes = this.stockTypes.map(stockType=> {
              if(idsArray.includes(stockType.id)) {
                stockType.status = 0
              }
              return stockType
            })
            this.$message.success('成功停用入库类型')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      activeStockTypes() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要激活的入库类型')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          activeStockTypesAction(ids).then(response => {
            this.stockTypes = this.stockTypes.map(stockType=> {
              if(idsArray.includes(stockType.id)) {
                stockType.status = 1
              }
              return stockType
            })
            this.$message.success('成功激活入库类型')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        } 
      },

      deleteStockTypes() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的入库类型')
        } else {
          this.$confirm('此操作将永久删除入库类型, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteStockTypesAction(ids).then(response => {
              this.stockTypes = this.stockTypes.filter(stockType => {
                return !idsArray.includes(stockType.id)
              })
              this.$message.success('成功删除入库类型')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'stockTypes-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
</style>
