<template>
  <div class="padding-div">
    <calendar :editable="false" :droppable="false"></calendar>
  </div>
</template>

<script>
  import calendar from '../../Calendar'

  export default {
    name: 'student-tasks-index',
    components: {
      calendar
    }
  }
</script>