<template>
  <div id="student-tasks-show" class="padding-div">
    <div class="button-group">
      <el-button-group>
        <el-tooltip class="item" effect="dark" content="添加反馈" placement="bottom" >
          <el-button size="small" @click="addFeedback" v-if="!task.feedback_id"><i class="fa fa-comments" aria-hidden="true"></i> 添加反馈</el-button> 
        </el-tooltip>
        
        <el-tooltip class="item" effect="dark" content="查看我的反馈" placement="bottom" v-if="task.feedback_id">
          <router-link class="el-button el-button--primary el-button--small" :to="{path: '/student/feedbacks/edit', query: {feedbackId : task.feedback_id}}">查看我的反馈</router-link>
        </el-tooltip>
        
        <el-tooltip class="item" effect="dark" content="上传作品" placement="bottom" v-if="!task.work_id">
          <el-button icon="upload2" size="small" @click="uploadWork">上传作品</el-button>
        </el-tooltip>
        
        <el-tooltip class="item" effect="dark" content="查看我的作品" placement="bottom" v-if="task.work_id">
          <router-link :to="{path: '/student/works/edit', query: {workId: task.work_id}}">
            <el-button type="primary" size="small">查看我的作品</el-button>
          </router-link>
        </el-tooltip>
      </el-button-group>  

      <el-button-group>
        <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
          <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
        </el-tooltip>

        <el-button size="small" @click="print"><i class="fa fa-print" aria-hidden="true"></i></el-button>
      </el-button-group>
    </div>

    <div class="print-content">
      <h1>{{task.title}}</h1>
      
      <div class="info">
        <div><span class="author">发布人</span>{{task.teacher.name}}</div>
        <div><i class="fa fa-map-marker" aria-hidden="true"></i>  {{task.cl}}</div>
        <div class="publish_at"><i class="el-icon-date" aria-hidden="true"></i>  {{task.start}} 到 {{task.end}}</div>
      </div>
        
      <p v-html="task.description" class="content"></p>
    </div>
  </div>
</template>

<script>
  import {showTaskAction} from 'api/tasks'
  import {Loading} from 'element-ui'
  import moment from 'moment'
  
  export default {
    name: 'student-tasks-show',
    data() {
      return {
        task : {
          teacher: {}
        }
      }
    },

    mounted() {
      this.init()
    },

    methods: {
      addFeedback() {
        this.$router.push({path: '/student/feedbacks/create', query: {title: this.task.title, id: this.task.id}})
      },

      uploadWork() {
        this.$router.push({path: '/student/works/create', query: {title: this.task.title, id: this.task.id}})
      },

      print() {
        window.print()
      },
      
      init() {
        const taskId = this.$route.query.taskId
      
        if(taskId) {
          let loadingDialog = Loading.service({target: '#student-tasks-show'});
          showTaskAction(taskId).then(response => {
            this.task = response
            this.task.start = moment(this.task.start).foramt('LLL')
            this.task.end = moment(this.task.end).format('LLL')
            
            loadingDialog.close()
          }).catch(err => {
            loadingDialog.close()
          })
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }
</style>