<template>
  <div class="profile-container">
    <el-row>
      <el-col :span="12" :xs="24" class="profile-left">
        <InfoForm/>
      </el-col>
      <el-col :span="12" :xs="24" class="profile-right">
        <PasswordForm/>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import InfoForm from './ProfileView/InfoForm'
  import PasswordForm from './ProfileView/PasswordForm'
  export default {
    components: {
      InfoForm,
      PasswordForm
    },
    name: 'profile-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .profile-container {
    padding: 25px;

    .profile-left {
      padding-right: 50px;
      border-right: 1px solid lightgrey;
    }

    .profile-right {
      padding-left: 50px;
    }
  }
</style>
