<template>
    <div class="padding-div" id="stock-detail">
      <el-form label-position="right" label-width="80px" :model="stock" ref="stockForm" :rules="rules">
        <el-form-item label="产品" prop="product" :error="errors.product">
          <el-input v-model="stock.product" :disabled="true" @click="chooseProduct" >
            <template slot="append">
              <el-button type="primary" @click="chooseProduct">请选择产品</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="采购者" prop="operator" :error="errors.operator">
          <el-input v-model="stock.operator" :disabled="true" @click="chooseOperator">
            <template slot="append">
              <el-button type="primary" @click="chooseOperator">请选择采购者</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="数量" prop="quantity" :error="errors.quantity" >
          <el-input v-model.number="stock.quantity" auto-complete="off" :autofocus="true"></el-input>
        </el-form-item>

        <el-form-item label="出库类型" prop="type" :error="errors.type">
          <el-select v-model="stock.type" filterable placeholder="请选择出库类型">
            <el-option
              v-for="item in stockTypes"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="其他描述" prop="description" :error="errors.description">
          <vue-summernote ref="editer" :height="300"></vue-summernote>
        </el-form-item>
        
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel" icon="arrow-left">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('stockForm', true)" :loading="loading">保存并退出</el-button>
            <el-button type="info" @click="submitForm('stockForm', false)" :loading="loading">保存</el-button>
          </div>
        </el-form-item>
      </el-form>

      <el-dialog title="选择签订人" :visible.sync="operatorDialog" size="full">
        <div class="text-center" v-show="operatorTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setOperatorPage"
            :current-page="operatorCurrentPage"
            :page-size="operatorPageSize"
            :total="operatorTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="operatorForm" class="" ref="operatorForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="operatorForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setOperatorPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearOperatorSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <!-- 选择签订人 -->
        <el-table :data="operators"
          v-loading.body="operatorLoading"
          tooltip-effect="dark"
          empty-text="暂无任产品"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="姓名" ></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setOperator(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>

        <div class="text-center paginator-div" v-show="operatorTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setOperatorPage"
            :current-page="operatorCurrentPage"
            :page-size="operatorPageSize"
            :total="operatorTotal">
          </el-pagination>
        </div>
      </el-dialog>

      <!-- 选择产品 -->
      <el-dialog title="选择产品" :visible.sync="productDialog" size="full">
        <div class="text-center paginator-div" v-show="productTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setProductPage"
            :current-page="productCurrentPage"
            :page-size="productPageSize"
            :total="productTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="productForm" class="" ref="productForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="productForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setProductPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearProductSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <el-table 
          :data="products"
          v-loading.body="productLoading"
          tooltip-effect="dark"
          empty-text="暂无任何产品"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="名称"></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setProduct(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>
        <div class="text-center paginator-div" v-show="productTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setProductPage"
            :current-page="productCurrentPage"
            :page-size="productPageSize"
            :total="productTotal">
          </el-pagination>
        </div>
      </el-dialog>
    </div>
</template>

<script>
  // import summernote from '../Summernote.vue'
  import {updateStockAction, showStockAction} from 'api/stocks'
  import {uploadImageAction, uploadFileAction } from 'api/upload'
  import {getProductsAction} from 'api/products'
  import {getAllStockTypesAction} from 'api/stockTypes'
  import {getBuyersAction} from 'api/users'
  import {Loading} from 'element-ui'
  import {imageUrl, uploadUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'admin-stock-create',
    data() {
      var checkNotEmpty = (rule, value, callback) => {
        if (!value || value == '无' || value == '') {
          callback(new Error('该项不能为空'));
        } else {
          callback();
        }
      };

      return {
        id: '',
        stock : {
          operator_id: null,
          operator: '无',
          product_id: null,
          product: '无',
          type: '',
          quantity: 0,
          description: '',
          in: 0
        },
        stockTypes: [],
        title: '',
        action: uploadUrl,
        errors: {},
        rules: {
          operator: {required: true,  message: '必须选择一位操作员', trigger: 'change', validator: checkNotEmpty},
          product : {required: true, message: '必须选择一样产品', trigger: 'change', validator: checkNotEmpty},
          type: {required: true, type: 'number', message: '必须选择出库类型', trigger: 'change'},
          quantity: [
            {required: true, type: 'number', message: '必须填写数量', trigger: 'blur'},
            {min: 1, type: 'number', message: '数量必须大于0', trigger: 'blur'}
          ]
        },

        productForm: {
          keywords: ''
        },

        operatorForm: {
         keywords: '',
         section: 'name'
        },

        subFormRules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        loading: false,
        
        //dialog
        operators: [],
        operatorLoading: false,
        operatorDialog: false,
        operatorTotalPages: 0,
        operatorCurrentPage: 1,
        operatorTotal: 0,
        operatorPageSize: 0,

        products: [],
        productLoading: false,
        productDialog: false,

        productTotalPages: 0,
        productCurrentPage: 1,
        productTotal: 0,
        productPageSize: 0,
      }
    },

    mounted() {
      const query = this.$route.query
      
      let loadingDialog = Loading.service({target: '#stock-detail'}) 
      
      getAllStockTypesAction(0).then(response => {
        loadingDialog.close()
        this.stockTypes = response.map(type => {
          return {
            value: type.id,
            label: type.name
          }
        })
      }).catch(err => {
        loadingDialog.close()
      })

      
      const stockId = this.$route.query.stockId
      showStockAction(stockId).then(response => {
        if(response.operator) {
          this.stock.operator = response.operator.name
          this.stock.operator_id = response.operator_id
        }
        if(response.product) {
          this.stock.product = response.product.name
          this.stock.product_id = response.product_id
        }

        this.stock.type = response.type.id
        this.stock.id = response.id
        this.stock.quantity = response.quantity
        this.stock.description = response.description
        this.stock.in = response.in
        loadingDialog.close()
      }).catch(err => {
        console.log(err)
        loadingDialog.close()
        this.$message.error('加载失败，请重新再试或联系管理员')
      })

      const editer = this.$refs.editer
      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.stock.description = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })

    },

    methods: {
      clearProductSearch() {
        this.productForm.keywords = ''
        this.loadProducts(1)
      },

      clearOperatorSearch() {
        this.operatorForm.keywords = ''
        this.loadOperators(1) 
      },

      setOperatorPage (pageNumber) {
        this.loadOperators(pageNumber) 
      },

      loadOperators (pageNumber) {
        let queryStr = ''
        if(this.operatorForm.keywords) {
          queryStr = '?name=' + this.operatorForm.keywords
        }
        this.operatorLoading = true
        getBuyersAction(pageNumber, queryStr).then(response => {
          this.operatorTotalPages = response.last_page
          this.operatorCurrentPage = response.current_page
          this.operators  = response.data
          this.operatorTotal = response.total
          this.operatorPageSize = parseInt(response.per_page)
          this.operatorLoading = false
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.operatorLoading = false
        })     
      },

      chooseOperator () {
        this.operatorDialog = true
        if(this.operators.length === 0) {
          this.loadOperators(1)
        }
      },

      setOperator (operator) {
        this.stock.operator_id = operator.id 
        this.stock.operator = operator.name
        this.operatorDialog = false
      },

      setProduct (product) {
        this.stock.product_id = product.id
        this.stock.product = product.name
        this.productDialog = false
      },

      setProductPage (pageNumber) {
        this.loadProducts(pageNumber)
      },
      
      loadProducts (page) {
        let queryStr = ''
        if(this.productForm.keywords) {
          queryStr = '?keywords=' + this.productForm.keywords
        }
        this.productLoading = true
        getProductsAction(page, queryStr).then(response => {
          this.productLoading = false
          this.productTotalPages = response.last_page
          this.productCurrentPage = response.current_page
          this.products  = response.data
          this.productTotal = response.total
          this.productPageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.productLoading = false
        }) 
      },

      chooseProduct () {
        this.productDialog = true
        if(this.products.length === 0) {
          this.loadProducts(1)
        }
      },
      
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      
      cancel () {
        history.back()
      },
      
      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}
            
            console.log(this.stock)
            updateStockAction(this.stock).then(response => {
              const stock = response
              this.$message.success('保存成功')
              
              if(shouldExit) {
                this.$router.push({path: '/admin/stockouts/index'})
              } 
              this.loading = false
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

