<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中出库记录" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteStocks"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center">
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <router-link :to="{path: '/admin/stockouts/create'}">
              <el-button type="success" icon="plus">添加出库记录</el-button>
            </router-link> 
          </div>
        </el-col>
      </el-row>
    </div>

    <el-form :inline="true" :model="searchForm" class="" ref="searchFrom" :rules="rules" >
      <el-form-item>
        <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 400px">
          <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 100px">
            <el-option label="出库类型" value="type"></el-option>
            <el-option label="签订人" value="operator_name"></el-option>
            <el-option label="产品名称" value="product_name"></el-option>
          </el-select>
          <el-button icon="search" slot="append" @click="onSearchSubmit" class="search-btn"></el-button>
        </el-input>
        <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
      </el-form-item>

       <el-form-item>
        <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSearchSubmit" style="width: 150px">
          <el-option
            v-for="item in sortByOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>  
    <el-table
    
      v-loading.body="loading"
      ref="multipleTable"
      :data="stocks"
      tooltip-effect="dark"
      empty-text="暂无任何出库记录"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="product_name"
        show-overflow-tooltip
        label="产品名称">
        <template scope="scope">
            <router-link v-if="scope.row.product_id" :to="{path: '/admin/products/edit', query: {id: scope.row.product_id}}">{{scope.row.product_name}}
          </router-link>
          <div v-else>无</div>
        </template>
      </el-table-column>

      <el-table-column
        prop="operator_name"
        show-overflow-tooltip
        label="操作者">
      </el-table-column>
      
      <el-table-column
        prop="stock_type_name"
        show-overflow-tooltip
        label="出库类型">
      </el-table-column>

      <el-table-column
        prop="quantity"
        show-overflow-tooltip
        label="出库数量">
      </el-table-column>

    <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该出库记录" placement="bottom">
            <el-button
              @click="editStock(scope.row.id)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getStocksAction, deleteStocksAction } from 'api/stocks'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        stocks: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        createMode: true,
        multipleSelection: [],
        in: 0,
        searchForm: {
          status: 'All', 
          select: 'product_name',
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        newInForm: {
          name: '', 
          status: 1,
          in: 0
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'product_name', order: 'ascending'},
            label: '按产品升序'
          },
          {
            value: {prop: 'product_name', order: 'descending'},
            label: '按产品降序'
          },
          {
            value: {prop: 'operator_name', order: 'ascending'},
            label: '按采购者升序'
          },
          {
            value: {prop: 'operator_name', order: 'descending'},
            label: '按采购者降序'
          }
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.in = 0
      this.init() 
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSearchSubmit ()
      },

      onSearchSubmit () {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)

        this.loading = true
        getStocksAction(this.in, 1, queryStr).then(response => {
          this.loading = false
          this.stocks  = response.data
          this.total = response.total
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.pageSize = parseInt(response.per_page)
          this.loading = false
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        }) 
      },
      
      setPage (pageNumber) {
        this.init(pageNumber) 
      },
      
      editStock (id) {
        this.$router.push({path: '/admin/stockouts/edit', query: {stockId: id}}) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber && !Number.isInteger(pageNumber)) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        
        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        getStocksAction(this.in, page, queryStr).then(response => {
          this.loading = false
          this.stocks  = response.data
          this.total = response.total
          this.currentPage = response.current_page
          this.pageSize = parseInt(response.per_page)
          this.totalPages = response.last_page
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        }) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteStocks() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的出库记录')
        } else {
          this.$confirm('此操作将永久删除出库记录, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteStocksAction(ids).then(response => {
              this.stocks = this.stocks.filter(stock => {
                return !idsArray.includes(stock.id)
              })
              this.$message.success('成功删除出库记录')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'stocks-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
