<template>
    <div :class="className" :id="id" :style="{height:height,width:width}"></div>
</template>
<script>
    // 引入 ECharts 主模块
    import echarts from 'echarts'
    import moment from 'moment'

    export default {
      name: 'heat-chart',
      props: {
        className: {
          type: String,
          default: 'chart'
        },
        id: {
          type: String,
          default: 'chart'
        },
        width: {
          type: String,
          default: '200px'
        },
        height: {
          type: String,
          default: '200px'
        },
        data: {}
      },
      data() {
        return {
        };
      },

      watch: {
        data() {
            this.chart.setOption({
                series: {
                type: 'heatmap',
                coordinateSystem: 'calendar',
                data: this.data
            }})
        }     
      },
      
      mounted() {
        this.initBar();
      },

      methods: {
        initBar() {
          this.chart = echarts.init(document.getElementById(this.id));
          this.chart.setOption({
            title: {
                top: 30,
                left: 'center',
                text: moment().format('YYYY') + '能量图'
            },
            tooltip : {},
            visualMap: {
                min: 0,
                max: 100,
                type: 'piecewise',
                orient: 'horizontal',
                left: 'center',
                top: 65,
                textStyle: {
                    color: '#000'
                }
            },
            calendar: {
                top: 120,
                left: 30,
                right: 30,
                cellSize: ['auto', 13],
                range: moment().format('YYYY'),
                itemStyle: {
                    normal: {borderWidth: 0.5}
                },
                yearLabel: {show: false}
            },
            series: {
                type: 'heatmap',
                coordinateSystem: 'calendar',
                data: this.data
            }
            } 
          )
        }
      }
    }
</script>
