<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="收藏通知" placement="bottom">
                <el-button icon="star-on" size="small" @click="collectNotifications"></el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="删除通知" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteNotifications"></el-button>
              </el-tooltip>
            </el-button-group>  
              <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
                <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
              </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
          <el-pagination v-show="totalPages > 1"
            layout="total, prev, pager, next, jumper"
            @current-change="setPage"
            :current-page="currentPage"
            :page-size="pageSize"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-form :inline="true" :model="searchForm" class="" ref="searchForm" :rules="rules" >
      <el-form-item>
        <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
          <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
        </el-input>
        <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
      </el-form-item>
    </el-form>

    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="notifications"
      tooltip-effect="dark"
      empty-text="暂无任何通知"
      style="width: 100%"
      :row-class-name="tableRowClassName"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column
        width="55">
        <template scope="scope">
          <el-button size="small" :icon="getIcon(scope.$index)" :class="getCollectClass(scope.$index)" @click="collectNotification(scope.$index)" :loading="collectLoading[scope.$index]" >
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        prop="from.name"
        width="100"
        label="发送人">
      </el-table-column>
      <el-table-column
        prop="title"
        show-overflow-tooltip
        label="主题" 
        >
        <template scope="scope">
          <router-link :to="{path: '/notifications/show', query: {id : scope.row.id}}">{{scope.row.title}}</router-link>
        </template>
      </el-table-column>
      <el-table-column
        width="220"
        prop="publish_at"
        label="发布时间" >
      </el-table-column>

      <el-table-column
        fixed="right"
        label="操作"
        width="70">
        <template scope="scope">
          <el-button-group>
            <el-tooltip class="item" effect="dark" content="查看该通知" placement="bottom">
              <el-button
                @click="showNotification(scope.$index)"
                type="primary"
                :page-size="100"
                size="small">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </el-button>
            </el-tooltip>
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>

    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getNotificationsAction, collectNotificationAction, collectNotificationsAction, deleteNotificationAction} from 'api/notifications'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        notifications: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        collectLoading: [],
        loading: true, 
        searchForm: {
          keywords: ''
        },
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
        },
      }
    },
    mounted() {
      this.init() 
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },
      
      onSubmit() {
        this.$refs['searchForm'].validate((valid) => {
          if (valid) {
            const path = this.$route.path
            let query = this.$route.query
            query.keywords = this.searchForm.keywords
            const queryStr = query2Str(query)
            this.loadData(1, queryStr)
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },

      loadData(page, queryStr) {
        this.loading = true
        getNotificationsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
          this.notifications = response.data
        }).catch(err => {
          this.loading = false
          this.$message.error('加载失败，请重新加载')
        })    
      },

      tableRowClassName(row, index) {
        if(this.notifications[index].state == null)  {
          return 'unread'
        } else {
          return ''
        }
      },
      
      init(pageNumber) {
        this.loading = true
        const query = this.$route.query
        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr)
      },

      getIcon(index) {
        const state = this.notifications[index].state
        if(state === 1) {
          return 'star-on' 
        } else {
          return 'star-off' 
        }
      }, 

      getCollectClass(index) {
        const state = this.notifications[index].state
        if(state === 1) {
          return 'collect-btn-active' 
        } else {
          return 'collect-btn'
        }
      },

      showNotification(row) {
        const notification = this.notifications[row]
        const notificationId = notification.id

        if(notification.from === this.$store.getters.userId) {
          this.$router.push({path: '/notifications/edit', query: {id : notificationId}})
        } else {
          this.$router.push({path: '/notifications/show', query: {id : notificationId}})
        }
      },
      
      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      collectNotification(index) {
        const notification = this.notifications[index]
        const id = notification.id
        this.collectLoading[index] = true
        collectNotificationAction(id).then(response => {
          this.collectLoading[index] = false
          if(notification.state) {
            notification.state = 0
            this.$message.success('取消的一封重要通知')
          } else {
            notification.state = 1
            this.$message.success('设置一封重要通知')
          }
        }).catch(err => {
          this.collectLoading[index] = false
          this.$message.error(err.response.error)
        }) 
      },

      deleteNotifications() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的通知')
        } else {
          this.$confirm('此操作将永久删除通知, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            
            deleteNotificationAction(ids).then(response => {
              this.notifications = this.notifications.filter(notif => {
                return !idsArray.includes(notif.id)
              })
              this.$message.success('成功删除通知')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      collectNotifications() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择要标记重要的公告')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          collectNotificationsAction(ids).then(response => {
            this.notifications = this.notifications.map(notif => {
              if(idsArray.includes(notif.id)) {
                notif.state = 1
              }
              return notif
            })
          })
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      }
    },
    name: 'notification-page-index'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }

  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }

  .el-button.el-button--text {
    color: black;
    
    &:hover {
      color: $blue !important; 
    }
  }

  a:hover {
    color: #20a0ff
  }
</style>
