<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除通知" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteNotifications"></el-button>
              </el-tooltip>
            </el-button-group>  
              <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
                <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
              </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center">
          <el-pagination v-show="totalPages > 1"
            layout="total, prev, pager, next, jumper"
            @current-change="setPage"
            :current-page="currentPage"
            :page-size="pageSize"
            :total="total">
          </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="newNotification">发布新通知</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    
    <el-form :inline="true" :model="searchForm" class="" ref="searchForm" :rules="rules" >
      <el-form-item>
        <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
          <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
        </el-input>
        <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
      </el-form-item>
    </el-form>  
  
  <!--
    <el-tabs v-model="activeTabName">
      <el-tab-pane label="发布的通知" name="active"></el-tab-pane>
      <el-tab-pane label="草稿箱" name="drafts"></el-tab-pane>
    </el-tabs>
  -->
    
    <div v-show="activeTabName == 'active'" >
      <el-table
        v-loading.body="loading"
        ref="multipleTable"
        :data="notifications"
        tooltip-effect="dark"
        empty-text="暂无任何通知"
        style="width: 100%"
        :stripe="true"
        @selection-change="handleSelectionChange">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          prop="title"
          show-overflow-tooltip
          label="主题" 
          >
          <template scope="scope">
            <el-button @click="showNotification(scope.$index)" type="text">{{scope.row.title}}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          width="220"
          prop="publish_at"
          label="发布时间" >
        </el-table-column>

        <el-table-column
          width="220"
          prop="created_at"
          label="创建时间" >
        </el-table-column>

        <el-table-column
          fixed="right"
          label="操作"
          width="70">
          <template scope="scope">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="编辑该通知" placement="bottom">
                <el-button
                  @click="editNotification(scope.$index)"
                  type="primary"
                  icon="edit"
                  :page-size="100"
                  size="small">
                </el-button>
              </el-tooltip>
            </el-button-group>
          </template>
        </el-table-column>
      </el-table>

      <div class="text-center paginator-div" v-show="totalPages > 1">
        <el-pagination
          layout="total, prev, pager, next, jumper"
          @current-change="setPage"
          :current-page="currentPage"
          :page-size="pageSize"
          :total="total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
  import {getMyNotificationsAction, getDraftsNotificationsAction, deleteMyNotificationAction} from 'api/notifications'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        notifications: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        activeTabName: 'active',
        collectLoading: [],
        loading: true, 
        searchForm: {
          keywords: ''
        },
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
        },
      }
    },
    mounted() {
      this.init() 
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
      },
      
      onSubmit() {
        this.$refs['searchForm'].validate((valid) => {
          console.log(valid)
          if (valid) {
            const path = this.$route.path
            let query = this.$route.query
            query.keywords = this.searchForm.keywords
            const queryStr = query2Str(query)
            this.loadData(1, queryStr)
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      showNotification(row) {
        const notification = this.notifications[row]
        const notificationId = notification.id

        this.$router.push({path: '/notifications/edit', query: {id : notificationId}})
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },

      loadData(page, queryStr) {
        this.loading = true
        getMyNotificationsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
          this.notifications = response.data
        }).catch(err => {
          this.loading = false
          this.$message.error('加载失败，请重新加载')
        })    
      },

      init(pageNumber) {
        this.loading = true
        const query = this.$route.query
        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      newNotification() {
        this.$router.push({path: '/notifications/create'})
      },
      
      editNotification(row) {
        const notification = this.notifications[row]
        const notificationId = notification.id

        if(notification.from === this.$store.getters.userId) {
          this.$router.push({path: '/notifications/edit', query: {id : notificationId}})
        } else {
          this.$router.push({path: '/notifications/show', query: {id : notificationId}})
        }
      },
      
      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteNotifications() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的通知')
        } else {
          this.$confirm('此操作将永久删除通知, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            
            deleteMyNotificationAction(ids).then(response => {
              this.notifications = this.notifications.filter(notif => {
                return !idsArray.includes(notif.id)
              })
              this.$message.success('成功删除通知')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      }
    },
    name: 'notification-page-mine'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }

  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }
</style>
