<template>
  <div id="feedbacks-showw" class="padding-div">
    <h1>反馈: {{feedback.task.title}}</h1>
    
    <div class="info">
      <div><span class="author">学生</span>{{feedback.student.name}}</div>
      <div class="publish_at"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{feedback.created_at}}</div>
      <p>
        <el-rate
          v-model="feedback.note"
          disabled
          show-text
          text-color="#ff9900"
          text-template="{value}">
        </el-rate>
      </p>
    </div>
          
    <p v-html="feedback.content" class="content"></p>
  </div>
</template>

<script>
  import {showAdminFeedbackAction} from 'api/feedbacks'
  import {Loading} from 'element-ui'
  import moment from 'moment'
  
  export default {
    name: 'feedbacks-showw',
    data() {
      return {
        feedback : {
          student: {},
          task: {}
        }
      }
    },

    mounted() {
      this.init()
    },

    methods: {
      init() {
        const feedbackId = this.$route.query.feedbackId
      
        if(feedbackId) {
          let loadingDialog = Loading.service({target: '#feedbacks-show'});
          showAdminFeedbackAction(feedbackId).then(response => {
            this.feedback = response
            this.feedback.note = Number(this.feedback.note)
            
            loadingDialog.close()
          }).catch(err => {
            loadingDialog.close()
          })
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }
</style>