<template>
  <div class="info-container" id="profile-page" >
    <h3 class="info-title">个人信息</h3>
  
    <div class="info-avatar-container">
      <el-row :gutter="10" type="flex">
        <div>
          <div>
            <img :src="avatar" class="avatar-rect" alt="">
          </div>
          <input type="file" name="avatar" id="avatar" class="inputfile" @change="uploadAvatar">
          <label for="avatar" class="info-avatar-btn" v-html="uploadAvatarText" v-waves></label>
        </div>
        <el-col :span="14">
          <div>{{ruleForm.userNo}}</div>
          <div>{{ruleForm.name}}</div>
        </el-col>
      </el-row>
    </div>
    
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" label-position="left">
      <el-form-item label="出生日期" :error="errors.birthday" prop="birthday">
        <el-date-picker type="date" placeholder="出生日期" v-model="ruleForm.birthday" style="width: 100%;"></el-date-picker>
      </el-form-item>
      <el-form-item label="邮箱" prop="email" :error="errors.email">
        <el-input v-model="ruleForm.email" placeholder="邮箱"></el-input>
      </el-form-item>
      <el-form-item label="个人简介" prop="description" errors.description>
        <el-input type="textarea" v-model="ruleForm.description"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="phone" :error="errors.phone">
        <el-input v-model="ruleForm.phone" placeholder="手机"></el-input>
      </el-form-item>
      <el-form-item label="微信" prop="wechat" :error="errors.wechat">
        <el-input v-model="ruleForm.wechat" placeholder="微信"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click.native.preven="submitForm()" :loading="loading" v-waves>修改资料</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import {getInfoAction}  from 'api/auth'
  import {imageUrl} from '../../config'
  import {Loading} from 'element-ui'
  import moment from 'moment'

  export default {
    data() {
      return {
        ruleForm: {
          id: '',
          userNo: '',
          name: '',
          birthday: '',
          wechat: '',
          phone: '',
          email: '',
          description: ''
        },
        rules: {
          birthday: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
          ],
          email : [
            { type: 'email', required: true, message: '请输入真实的邮箱', trigger: 'change'} 
          ],
        },
        loading: false,
        errors: {},
        onUploadAvatar: false
      };
    },
    mounted() {
      let loadingInstance1 = Loading.service({target: '#profile-page'});
      getInfoAction().then(response => {
        const user = response
        this.loading = false
        this.ruleForm.userNo = user.userNo
        this.ruleForm.name = user.name
        this.ruleForm.birthday = new Date(user.birthday)
        this.ruleForm.wechat = user.wechat
        this.ruleForm.phone = user.phone
        this.ruleForm.email = user.email
        this.ruleForm.description = user.description
        this.ruleForm.id = user.id
        loadingInstance1.close()
      }).catch(err => {
        this.loading = false
        if(err.response && err.response.data) {
          this.errors = err.response.data
        } else {
          this.$message.error('未能连接上服务器，请稍后再试或者联系管理员')
        }
        loadingInstance1.close()
      })
    },

    computed: {
      avatar() {
        return this.$store.getters.avatar 
      },

      uploadAvatarText() {
        return this.onUploadAvatar ? '上传中...' : '上传'
      }
    },

    methods: {
      uploadAvatar(e) {
        this.onUploadAvatar = true

        const avatar = e.target.files[0]
        let data = new FormData()
        data.append('avatar', avatar)
        
        this.$store.dispatch('uploadAvatar', data).then(response => {
          this.onUploadAvatar = false
          this.$message.success('上传成功')
        }).catch(err => {
          console.log(err);
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('未能连接上服务器，请稍后再试或者联系管理员')
          }
        })
      },
      
      submitForm() {
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            this.errors = {}
            this.loading = true
            let data = JSON.parse(JSON.stringify(this.ruleForm)) 
            data.birthday = moment(data.birthday).format()
            this.$store.dispatch('setInfo', data).then(response => {
              this.loading = false
              this.$message({ message: '修改个人信息成功', type: 'success' });
            }).catch(err => {
              this.loading = false
              if(err.response && err.response.data) {
                this.errors = err.response.data
              } else {
                this.$message.error('未能连接上服务器，请稍后再试或者联系管理员')
              }
            })
          } else {
            this.$message.error('信息尚未填写完整')
            this.loading = false
            return false
          }
        })
      },

      handleAvatarSuccess(res, file) {
        this.ruleForm.avatar = URL.createObjectURL(file.raw)
      },
      
      beforeAvatarUpload(file) {
        const isJPGPNG = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt2M = file.size / 1024 / 1024 < 2

        if (!isJPGPNG) {
          this.$message.error('上传头像图片只能是 JPG 或者 PNG 格式!')
        }
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!')
        }
        return isJPGPNG && isLt2M
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .info-title {
    margin-bottom: 20px;
  }
  .info-avatar-container {
    margin-bottom: 20px;
  }
  
  .avatar-rect {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 64px;
    height: 64px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    color: white;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    width: 64px;
    padding: 6px;
    background-color: #20a0ff;
    display: inline-block;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: darken(#20a0ff, 10%);
    color: white;
  }

  .inputfile + label {
    cursor: pointer;
  }

  .info-avatar-btn {
  }
</style>