<template>
  <div>
    <h3 class="info-title">修改密码</h3>
    <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm" label-position="left">
      <el-form-item label="现在密码" prop="oldPass">
        <el-input type="password" v-model="ruleForm2.oldPass" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="新密码" prop="pass">
        <el-input type="password" v-model="ruleForm2.pass" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="确认密码" prop="checkPass">
        <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm2')" :loading="loading">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  export default {
    data() {
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'))
        } else {
          if (this.ruleForm2.checkPass !== '') {
            this.$refs.ruleForm2.validateField('checkPass')
          }
          callback()
        }
      }
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'))
        } else if (value !== this.ruleForm2.pass) {
          callback(new Error('两次输入密码不一致!'))
        } else {
          callback()
        }
      }
      return {
        ruleForm2: {
          oldPass: '',
          pass: '',
          checkPass: '',
        },
        rules2: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          oldPass: [
            { validator: 'required', trigger: 'blur' }
          ]
        },

        loading : false,
      }
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.$store.dispatch('changePwd', this.ruleForm2).then(response => {
              this.$message({ message: '修改密码成功', type: 'success' })
              this.ruleForm2.pass = ''
              this.ruleForm2.checkPass = ''
              this.ruleForm2.oldPass = ''
              this.loading = false
            }).catch(err => {
              this.$message.error('输入的现在密码不正确，请重新再试') 
              this.loading = false
            })
          } else {
            this.$message.error('信息尚未填写完整')
            this.loading = false
            return false
          }
        })
      },
    }
  }
</script>