<template>
  <el-menu :unique-opened='true' mode="vertical" theme="dark" :default-active="$route.path">
  <div class="sidebar-top">
    <img src="../../img/logo.png" alt="" height="60px">
  </div>
  
  <div class="sidebar-info">
    <div class="text-white">{{userName}}</div>
    <div class="userNo">{{userNo}}</div>
  </div>
  
  <div class="nav-item-separator"></div>
  
  <template v-for="item in permissionRoutes" v-if="!item.hidden">
    <el-submenu :index="item.name" v-if="item.children && item.children.length > 1">
        <template slot="title">
            <i :class="item.icon" class="sidebar-icon" aria-hidden="true"></i> {{item.name}}
        </template>
        <router-link v-for="child in item.children" :key="child.path" v-if="!child.hidden" class="title-link" :to="item.path + '/' + child.path">
            <el-menu-item :index="item.path + '/' + child.path">
                <i :class="child.icon" class="sidebar-icon" aria-hidden="true"></i> {{child.name}}
            </el-menu-item>
        </router-link>
    </el-submenu>
    <router-link v-if="item.children && item.children.length == 1":to="item.path + '/' + item.children[0].path">
        <el-menu-item :index="item.path + '/' + item.children[0].path">
            <i :class="item.icon" class="sidebar-icon" aria-hidden="true"></i> {{item.name}}
        </el-menu-item>
    </router-link>
  </template>
  </el-menu>
</template>

<script>
  import permissionRoutes from '../permissions'
  export default {
    name: 'Sidebar',
    data () {
      return {
        permissionRoutes: permissionRoutes.get()
      }
    },

    computed: {
      unread () {
        return this.$store.getters.unread 
      },

      userNo () {
        return this.$store.getters.userNo
      },

      userName () {
        return this.$store.getters.name
      },

      sidebar () {
        return this.$store.getters.sidebar.opened 
      } 
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .el-menu {
    min-height: 100%;
    border-radius: 0;
  }
  .hideSidebar .title-link{
    display: inline-block;
    padding-left: 10px;
  }
  .sidebar-icon {
    margin-right: 10px; 
  }
  .el-badge__content {
    border: none;
  }

  .sidebar-top {
    text-align: center;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .sidebar-info {
    padding-left: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .userNo {
    color: #bbb;  
  }

  .nav-item-separator {
    color: rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.12);
    margin: 8px 0;
    height: 1px;
    border: 0 none;
  }

  .el-dropdown-menu__item {
    width: 120px;
  }
</style>
