<template>
    <div class="padding-div" id="notification-detail">
      <el-form label-position="right" label-width="80px" :model="notification" ref="notificationForm" :rules="rules">
        <el-form-item label="标题" prop="title">
          <el-input v-model="notification.title" placeholder="标题" :autofocus="true"></el-input>
        </el-form-item>
        
        <el-form-item label="内容" prop="content">
          <vue-summernote ref="editer"></vue-summernote>
        </el-form-item>
        
        <el-form-item label="发布时间" prop="publish_at">
          <el-date-picker
            v-model="notification.publish_at"
            type="datetime"
            placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>
        
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('notificationForm', true)" :loading="loading">{{submitAndExitBtnText}}</el-button>
            <el-button type="info" @click="submitForm('notificationForm', false)" :loading="loading">{{submitBtnText}}</el-button>
            <el-button @click="resetForm('notificationForm')" v-if="!editMode" :loading="loading">重置</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {showNotificationAction, storeNotificationAction, updateNotificationAction} from 'api/notifications'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'notification-detail',
    // components: { summernote },
    data() {
      return {
        id: '',
        notification : {
          content: '',
          title: '',
          to: 4,
          publish_at: '',
        },
        rules: {
          title: {required: true, message: '通知标题是必须的', trigger: 'blur'},
          content: {required: true, message: '通知内容是必须的', trigger: 'blur'},
          publish_at: {required: true, type:"date", message: '发布时间是必须的', trigger: 'blur'},
        },
        loading: false,
        editMode: false,
        options: []
      }
    },

    computed: {
      submitBtnText() {
        return this.editMode ? '保存修改' : '创建'
      },
      submitAndExitBtnText() {
        return this.editMode ? '保存后退出' : '创建后退出'
      } 
    },

    mounted() {
      this.id = this.$route.query.id
      const editer = this.$refs.editer

      if(this.id) {
        this.editMode = true
        let loadingDialog = Loading.service({target: '#notification-detail'})
        
        showNotificationAction(this.id).then(response => {
          this.notification = response
          this.notification.publish_at = new Date(this.notification.publish_at)
          this.setVal(this.notification.content)
          loadingDialog.close()
          
        }).catch(err => {
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      } else {
        this.editMode = false
      }

      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      const self = this
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.notification.content = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })
    },

    methods: {
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            
            if(this.editMode) {
              updateNotificationAction(this.id, this.notification).then(response => {
                this.$message.success('保存成功')
                if(shouldExit) {
                  history.back()
                }
                this.loading = false
              }).catch(err => {
                this.$message.error('保存失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            } else {
              storeNotificationAction(this.notification).then(response => {
                const notif = response
                this.$message.success('保存成功')
                this.$router.push({path: '/notifications/edit', query: {id : notif.id}})
              }).catch(err => {
                this.$message.error('保存失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            }
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>