<template>
	<div class="padding-div" id="classroom_apply-detail">
		<el-form label-position="right" label-width="120px" :model="classroom_apply" ref="classroom_applyForm" :rules="rules">
			<el-form-item label="申请教室" prop="classroom" :error="errors.classroom">
				<el-input v-model="classroom_apply.classroom" placeholder="请选择教室" :disabled="true" @click="chooseClassroom">
					<template slot="append">
						<el-button type="primary" @click="chooseClassroom">请选择</el-button>
					</template>
				</el-input>
			</el-form-item>

			<el-form-item label="教室使用情况">
				<div id="calendar"></div>
			</el-form-item>

			<el-form-item label="起始日期" prop="start" :error="errors.start">
				<el-date-picker
				v-model="classroom_apply.start"
				type="datetime"
				placeholder="选择日期时间">
			</el-date-picker>
		</el-form-item>

		<el-form-item label="终止日期" prop="end" :error="errors.end">
			<el-date-picker
			v-model="classroom_apply.end"
			type="datetime"
			placeholder="选择日期时间">
		</el-date-picker>
	</el-form-item>

	<el-form-item>
		<el-button class="pull-left" @click="cancel">取消</el-button>
		<div class="pull-right">
			<el-button type="primary" @click="submitForm('classroom_applyForm', true)" :loading="loading">保存后退出</el-button>
			<el-button type="info" @click="submitForm('classroom_applyForm', false)" :loading="loading">保存</el-button>
		</div>
	</el-form-item>
</el-form>


<el-dialog title="选择教室" :visible.sync="classroomDialog" size="full">
	<div class="text-center" v-show="classroomTotalPages > 1">
		<el-pagination 
		layout="total, prev, pager, next, jumper"
		@current-change="setClassroomPage"
		:current-page="classroomCurrentPage"
		:page-size="classroomPageSize"
		:total="classroomTotal">
	</el-pagination>
</div>

<div>
	<el-form :inline="true" :model="classroomForm" class="" ref="classroomForm" :rules="subFormRules" >
		<el-form-item>
			<el-input v-model="classroomForm.keywords" placeholder="关键词" size="small" style="width: 300px">
				<el-button icon="search" slot="append" @click="setClassroomPage(1)" class="search-btn"></el-button>
			</el-input>
			<el-button size="small" class="text-grey clear-btn" @click="clearClassroomSearch">清除</el-button>
		</el-form-item>
	</el-form>  
</div>

<!-- 选择教室 -->
<el-table :data="classrooms"
v-loading.body="classroomLoading"
tooltip-effect="dark"
empty-text="暂无任何教室"
@expand="loadClassroomSchedules"
:stripe="true">
<el-table-column property="id" label="ID" width="150"></el-table-column>
<el-table-column property="name" label="教室名称" ></el-table-column>
<el-table-column
fixed="right"
label="操作"
width="70">
<template scope="scope">
	<el-button-group>
		<el-tooltip class="item" effect="dark" content="选择" placement="bottom">
			<el-button
			@click="setClassroom(scope.row)"
			type="primary"
			:page-size="100"
			size="small">
			<i class="fa fa-check"></i>
		</el-button>
	</el-tooltip>
</el-button-group>
</template>
</el-table-column>
</el-table>

<div class="text-center paginator-div" v-show="classroomTotalPages > 1">
	<el-pagination 
	layout="total, prev, pager, next, jumper"
	@current-change="setClassroomPage"
	:current-page="classroomCurrentPage"
	:page-size="classroomPageSize"
	:total="classroomTotal">
</el-pagination>
</div>
</el-dialog>

</div>
</template>
<script>
	import 'fullcalendar'
	import 'fullcalendar/dist/fullcalendar.min.css'
	import 'fullcalendar/dist/locale/zh-cn'

	import {updateClassroomApplyAction, showClassroomApplyAction} from 'api/classroom_applies'
	import {getClassroomsAction, getClassroomAppliesByIdAction} from 'api/classrooms'
	import {Loading} from 'element-ui'
	import moment from 'moment'

	export default {
		name: 'classroom_apply-detail',
		data() {
			return {
				id: '',
				classroom_apply: {
					start: '',
					end: '',
					classroom: '',
					classroom_id: ''
				},
				rules: {
					classroom_id: {required: true, message: '必须选择一项教室', trigger: 'change'},
					start: {required: true, type: 'date', message: '必须填写起始时间', trigger: 'blur'},
					end: {required: true, type: 'date', message: '必须填写终止时间', trigger: 'blur'},
				},

				classroomForm: {
					keywords: ''
				},

				subFormRules: {
					keywords: {required: true, message: '关键词是必须的'},
				},
				loading: false,
				errors: {},
				classrooms: [],
				classroomLoading: false,
				classroomDialog: false,
				classroomTotalPages: 0,
				classroomCurrentPage: 1,
				classroomTotal: 0,
				classroomPageSize: 0,
				schedules: [],
				scheduleLoading: false,

        //calendar
        cal: null,
        config: {},
        sourceEvents: [],
        start_at: moment().startOf('week').format('YYYYMMDD'),
        end_at: moment().endOf('week').format('YYYYMMDD'),
        events: []
      }
    },

    mounted() {
    	this.cal = $('#calendar')

    	this.config = {
    		lang: 'zh-cn',
    		header: {
    			left:   'prev,next today',
    			center: 'title',
    			right:  'month,agendaWeek,agendaDay'
    		},
        // defaultView: 'agendaWeek',
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        
        events: this.events,

        minTime: '05:00:00',
        maxTime: '22:00:00',

        dayClick: (date) => {
        	this.cal.fullCalendar('gotoDate', date.start)
        	this.cal.fullCalendar('changeView', 'agendaDay')
        },
      }

      let loadingInstance1 = Loading.service({target: '#classroom_apply-detail'})
      const id = this.$route.query.applyId
      if(id) {
	      showClassroomApplyAction(id).then(response => {
	      	this.classroom_apply.start = new Date(response.start)
	      	this.classroom_apply.end = new Date(response.end)
	      	this.classroom_apply.id = response.id
	      	this.classroom_apply.classroom = response.classroom_name
	      	this.classroom_apply.classroom_id = response.classroom_id

	      	this.events = response.applies
	      	this.config.events = this.events
	      	this.cal.fullCalendar(this.config)
	      	loadingInstance1.close()
	      }).catch(err => {
	      	console.log(err)
	      	this.$message.error('加载失败，请重新加载')
	      	loadingInstance1.close()
	      })
	    }
    },

    methods: {
    	setClassroom (classroom) {
    		this.classroom_apply.classroom_id = classroom.id 
    		this.classroom_apply.classroom = classroom.name
    		this.classroomDialog = false
    		this.loadClassroomSchedules(classroom.id)
    	},

    	loadClassroomSchedules(classroomId) {
    		const role = this.$store.getters.role
    		let loadingInstance1 = Loading.service({target: '.fc-view-container'});

    		getClassroomAppliesByIdAction(role, classroomId).then(response => {
    			this.events = response
    			this.cal.fullCalendar(this.config)
    			this.cal.fullCalendar('removeEventSources')
    			this.cal.fullCalendar('addEventSource', {
    				events: this.events
    			})
    			loadingInstance1.close()
    		}).catch(err => {
    			console.log(err)
    			loadingInstance1.close()
    			this.$message.error('加载失败，请重新加载')
    		})
    	},

    	cancel() {
    		history.back()
    	},

    	clearClassroomSearch() {
    		this.classroomForm.keywords = ''
    		this.loadClassrooms(1) 
    	},

    	setClassroomPage (pageNumber) {
    		this.loadClassrooms(pageNumber) 
    	},

    	loadClassrooms (pageNumber) {
    		let queryStr = ''
    		if(this.classroomForm.keywords) {
    			queryStr = '?name=' + this.classroomForm.keywords
    		}
    		this.classroomLoading = true
    		const role = this.$store.getters.role
    		getClassroomsAction(role, pageNumber, queryStr).then(response => {
    			this.loading = false
    			this.classroomTotalPages = response.last_page
    			this.classroomCurrentPage = response.current_page
    			this.classrooms  = response.data
    			this.classroomTotal = response.total
    			this.classroomPageSize = parseInt(response.per_page)
    			this.classroomLoading = false
    		}).catch(err => {
    			this.$message.error('加载失败，请重新加载')
    		})     
    	},

    	chooseClassroom () {
    		this.classroomDialog = true
    		if(this.classrooms.length === 0) {
    			this.loadClassrooms(1)
    		}
    	},


    	submitForm(formName, shouldExit) {
    		this.$refs[formName].validate((valid) => {
    			if (valid) {
    				this.loading = true
    				this.errors = {}
    				updateClassroomApplyAction(this.classroom_apply).then(response => {
    					const classroom_apply = response
    					this.$message.success('保存成功')
    					this.loading = false
    					if(shouldExit) {
    						this.$router.push({path: '/classroom_applies/index'})
    					}
    				}).catch(err => {
    					this.errors = err
    					console.log(err)
    					this.$message.error('保存失败')
    					this.loading = false
    				})
    			} else {
    				this.$message.error('您还未完成该表单')
    				return false;
    			}
    		});
    	},

    	resetForm(formName) {
    		this.$refs[formName].resetFields();
    	}
    }
  }
</script>