<template>
    <div class="padding-div" id="feedback-detail">
      <el-form label-position="left" label-width="80px" :model="feedback" ref="feedbackForm" :rules="rules">
        <el-form-item label="实践名称" prop="title">
          <span>{{feedback.task.title}}</span>
        </el-form-item>
        
        <el-form-item label="内容" prop="content" :error="errors.content">
          <vue-summernote ref="editer" :height="300"></vue-summernote>
        </el-form-item>
        
        <el-form-item prop="note" label="评分" :error="errors.note">
          <el-rate
            v-model="feedback.note"
            show-text>
          </el-rate>
        </el-form-item>
        
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel" icon="arrow-left">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('feedbackForm', true)" :loading="loading">保存并退出</el-button>
            <el-button type="info" @click="submitForm('feedbackForm', false)" :loading="loading">保存</el-button>
          </div>
        </el-form-item>
      </el-form>
    </div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {updateFeedbackAction, showFeedbackAction} from 'api/feedbacks'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'student-feedback-create',
    data() {
      return {
        id: '',
        feedback : {
          task_id: '',
          content: '',
          note: 5,
          task : {
            title: ''
          }
        },
        errors: {},
        rules: {
          content: {required: true, message: '必须填写内容', trigger: 'blur'},
          note: {required: true, type: 'number', message: '必须进行评分', trigger: 'blur'},
        },
        loading: false,
      }
    },

    mounted() {
      const query = this.$route.query
      
      this.title = query.title
      this.feedback.task_id = query.id
      
      const editer = this.$refs.editer
      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      const self = this
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.feedback.content = contents
      })


      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })

      if(query.feedbackId) {
        let loadingDialog = Loading.service()
        
        const feedbackId = query.feedbackId
        showFeedbackAction(feedbackId).then(response => {
          this.feedback = response
          this.setVal(this.feedback.content)
          this.feedback.note = Number(this.feedback.note)
          loadingDialog.close()
        }).catch(err => {
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      }
    },

    methods: {
      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      
      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}

            this.feedback.content = this.feedback.content.replace(/\"/g, "'")
            updateFeedbackAction(this.feedback).then(response => {
              const feedback = response
              this.$message.success('保存成功')
              this.loading = false

              if(shouldExit) {
                this.cancel()
              }
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>