<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中反馈" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteFeedbacks"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="feedbacks"
      tooltip-effect="dark"
      empty-text="暂无任何反馈"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        prop="task.title"
        label="实践名称">
        <template scope="scope">
          <router-link :to="{path: '/student/tasks/show', query: {taskId: scope.row.task.id}}">{{scope.row.task.title}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="note"
        width="220"
        label="评分">
        <template scope="scope">
          <el-rate
            v-model="scope.row.note"
            disabled
            show-text
            text-color="#ff9900"
            text-template="{value}">
          </el-rate>
        </template>
      </el-table-column>

      <el-table-column
        prop="created_at"
        width="170"
        label="评论时间"
       >
      </el-table-column>
      
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该反馈" placement="bottom">
            <el-button
              @click="editFeedback(scope.$index)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getFeedbacksAction, deleteFeedbacksAction} from 'api/feedbacks'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        feedbacks: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        loading: true, 
        sortInfo : {}
      }
    },

    mounted() {
      this.init() 
    },

    methods: {
      setPage(pageNumber) {
        if(pageNumber != this.currentPage) {
          const path = this.$route.path
          let query = this.$route.query
          query.page = pageNumber
          const queryStr = query2Str(query)
          this.$router.push(path + queryStr)   
        }
      },
      
      init() {
        this.loading = true
        let query = this.$route.query

        let page = 1
        if(query.page) {
          page = query.page
        }

        if(query.order) {
          this.sortInfo.order = query.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        }
        
        const queryStr = query2Str(query)
        
        getFeedbacksAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.feedbacks  = response.data
          this.feedbacks.map(feedback => {
            feedback.note = Number(feedback.note)
          })
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        })    
      },

      editFeedback(row) {
        const feedbackId = this.feedbacks[row].id
        this.$router.push({path: '/student/feedbacks/edit', query: {feedbackId: feedbackId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deleteFeedbacks() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的反馈')
        } else {
          this.$confirm('此操作将永久删除反馈, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteFeedbacksAction(ids).then(response => {
              this.feedbacks = this.feedbacks.filter(feedback => {
                return !idsArray.includes(feedback.id)
              })
              this.$message.success('成功删除反馈')
            }).catch(err => {
              this.$message.error(err)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'feedbacks-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  @import '../../../styles/btn.scss';
  
  img {
    margin-top: -25px;
    width: 450px;
  }
  
  .width100 {
    width: 100px;
  }

  .collect-btn {
    background: transparent;
  }
  
  .collect-btn-active {
    color: $yellow !important;
    background: transparent;
  }

  .pointer {
    cursor: pointer;
  }

  a:hover {
    color: #20a0ff
  }
</style>
