<template>
  <div class="padding-div">
    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="删除选中采购计划" placement="bottom">
                <el-button icon="delete" size="small" @click="deletePlannings"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center">
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <!--
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <router-link :to="{path: '/admin/plannings/create'}">
              <el-button type="success" icon="plus">添加采购计划</el-button>
            </router-link> 
          </div>
        </el-col>
        -->
      </el-row>
    </div>

    <el-form :inline="true" :model="searchForm" class="" ref="searchFrom" :rules="rules" >
      <el-form-item>
        <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 400px">
          <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 100px">
            <el-option label="计划名" value="title"></el-option>
            <el-option label="发布者" value="creator_name"></el-option>
          </el-select>
          <el-button icon="search" slot="append" @click="onSearchSubmit" class="search-btn"></el-button>
        </el-input>
        <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
      </el-form-item>

       <el-form-item>
        <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSearchSubmit" style="width: 150px">
          <el-option
            v-for="item in sortByOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="plannings"
      tooltip-effect="dark"
      empty-text="暂无任何采购计划"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column type="expand">
        <template scope="props">
          <el-table
            :data="props.row.records"
            style="width: 100%">
            <el-table-column
              prop="product.id"
              label="产品ID"
              width="100">
            </el-table-column>
            <el-table-column
              prop="product.name"
              label="产品名称"
              >
            </el-table-column>
            <el-table-column
              prop="quantity"
              label="购买数量">
            </el-table-column>
          </el-table>
        </template>
      </el-table-column>

      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="title"
        show-overflow-tooltip
        label="计划名称">
      </el-table-column>

      <el-table-column
        prop="buyer_name"
        show-overflow-tooltip
        label="指定采购人">
        <template scope="scope">
          <router-link :to="{path: '/admin/buyers/edit', query: {id: scope.row.buyer_id}}">{{scope.row.buyer_name}}</router-link>
        </template>
      </el-table-column>

      <el-table-column
        prop="creator_name"
        show-overflow-tooltip
        label="发布人">
      </el-table-column>

    <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该采购计划" placement="bottom">
            <el-button
              @click="editPlanning(scope.row.id)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="paginator-div text-center">
      <el-pagination v-show="totalPages > 1"
          layout="total, prev, pager, next, jumper"
          @current-change="setPage"
          :current-page="currentPage"
          :page-size="pageSize"
          :total="total">
      </el-pagination>
    </div> 
  </div>
</template>

<script>
  import {getBuyerPlanningsAction, deletePlanningsAction} from 'api/plannings'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        plannings: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        createMode: true,
        multipleSelection: [],
        in: 1,
        searchForm: {
          select: 'title',
          keywords: '',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        newInForm: {
          name: '', 
          status: 1,
          in: 1
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'creator_name', order: 'ascending'},
            label: '按发布者升序'
          },
          {
            value: {prop: 'creator_name', order: 'descending'},
            label: '按发布者降序'
          }
        ],
        sortInfo: {prop: 'id', order: 'descending'},
      }
    },

    mounted() {
      this.in = 1
      this.init() 
    },

    methods: {
      clear() {
        this.searchForm.keywords = ''
        this.onSearchSubmit ()
      },

      onSearchSubmit () {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.select = this.searchForm.select
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)

        this.loading = true
        getBuyerPlanningsAction(1, queryStr).then(response => {
          this.loading = false
          this.plannings  = response.data
          this.total = response.total
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        }) 
      },
      
      setPage (pageNumber) {
        this.init(pageNumber) 
      },
      
      editPlanning (id) {
        this.$router.push({path: '/admin/plannings/edit', query: {planningId: id}}) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        if(query.status) {
          this.searchForm.status = query.status
        } 

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber && !Number.isInteger(pageNumber)) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 
        
        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        getBuyerPlanningsAction(page, queryStr).then(response => {
          this.loading = false
          this.plannings  = response.data
          this.total = response.total
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
        }) 
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      deletePlannings() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的采购计划')
        } else {
          this.$confirm('此操作将永久删除采购计划, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deletePlanningsAction(ids).then(response => {
              this.plannings = this.plannings.filter(planning => {
                return !idsArray.includes(planning.id)
              })
              this.$message.success('成功删除采购计划')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
    },
    name: 'plannings-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  img {
    margin-top: -25px;
    width: 450px;
  }

  a:hover {
    color: #20a0ff
  }
</style>
