<template>
  <div class="padding-div" id="task-detail">
    <el-form label-position="left" label-width="80px" :model="task" ref="taskForm" :rules="rules">
      <el-form-item label="实践名称" prop="title" :error="errors.title">
        <el-input v-model="task.title" placeholder="实践名称" :autofocus="true"></el-input>
      </el-form-item>

      <el-form-item label="选择教室" prop="classroom" :error="errors.location">
        <el-input v-model="task.classroom" placeholder="请选择教室" :disabled="true" @click="chooseClassroom">
          <template slot="append">
            <el-button type="primary" @click="chooseClassroom">请选择</el-button>
          </template>
        </el-input>
      </el-form-item>
      
      <el-form-item label="选择老师" prop="teacher" :error="errors.teacher">
        <el-input v-model="task.teacher" placeholder="选择老师" :disabled="true" @click="chooseTeacher">
          <template slot="append">
            <el-button type="primary" @click="chooseTeacher">请选择</el-button>
          </template>
        </el-input>
      </el-form-item>
      
      <el-form-item label="内容" prop="description" :error="errors.description">
        <vue-summernote ref="editer" :height="300"></vue-summernote>
      </el-form-item>
      
      <el-form-item label="标记颜色" prop="color" :error="errors.color">
        <el-col :span="2" style="width: 100px">
          <el-input v-model="task.color" placeholder="输入颜色"></el-input>
        </el-col>
        <el-col :span="2">
          <el-color-picker v-model="task.color"></el-color-picker>
        </el-col>

        <el-col :span="16">
          <el-button-group>
             <div class="color-btn" v-for="color in colors" :style="getColor(color)" @click="changeColor(color)"></div> 
          </el-button-group>
        </el-col>
      </el-form-item>
      
      <el-form-item label="开始时间" prop="start" :error="errors.start">
        <el-date-picker
          v-model="task.start"
          type="datetime"
          placeholder="选择日期时间">
        </el-date-picker>
      </el-form-item>

      <el-form-item label="结束时间" prop="end" :error="errors.end">
        <el-date-picker
          v-model="task.end"
          type="datetime"
          placeholder="选择日期时间">
        </el-date-picker>
      </el-form-item>
      
      <el-form-item>
        <el-button type="danger pull-left" @click="cancel">取消</el-button>
        <div class="pull-right">
          <el-button type="primary" @click="submitForm('taskForm', true)" :loading="loading">保存并退出</el-button>
          <el-button type="info" @click="submitForm('taskForm', false)" :loading="loading">保存</el-button>
          <el-button @click="resetForm('taskForm')" :loading="loading">重置</el-button>
        </div>
      </el-form-item>
    </el-form>
      
  <el-dialog title="选择教室" :visible.sync="classroomDialog" size="full">
    <div class="text-center" v-show="classroomTotalPages > 1">
      <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setClassroomPage"
        :current-page="classroomCurrentPage"
        :page-size="classroomPageSize"
        :total="classroomTotal">
      </el-pagination>
    </div>

    <div>
      <el-form :inline="true" :model="classroomForm" class="" ref="classroomForm" :rules="subFormRules" >
        <el-form-item>
          <el-input v-model="classroomForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-button icon="search" slot="append" @click="setClassroomPage(1)" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clearClassroomSearch">清除</el-button>
        </el-form-item>
      </el-form>  
    </div>

    <!-- 选择地点 -->
    <el-table :data="classrooms"
      v-loading.body="classroomLoading"
      tooltip-effect="dark"
      empty-text="暂无任何地点"
      :stripe="true">
      <el-table-column property="id" label="ID" width="150"></el-table-column>
      <el-table-column property="name" label="教室名称" ></el-table-column>
      <el-table-column property="room" label="容量" ></el-table-column>
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
        <template scope="scope">
          <el-button-group>
            <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
              <el-button
              @click="setClassroom(scope.row)"
              type="primary"
              :page-size="100"
              size="small">
              <i class="fa fa-check"></i>
              </el-button>
            </el-tooltip>
          </el-button-group>
        </template>
      </el-table-column>
      </el-table>

      <div class="text-center paginator-div" v-show="classroomTotalPages > 1">
        <el-pagination 
          layout="total, prev, pager, next, jumper"
          @current-change="setClassroomPage"
          :current-page="classroomCurrentPage"
          :page-size="classroomPageSize"
          :total="classroomTotal">
        </el-pagination>
      </div>
    </el-dialog>

    <!-- 选择老师 -->
    <el-dialog title="选择老师" :visible.sync="teacherDialog" size="full">
      <div class="text-center" v-show="teacherTotalPages > 1">
        <el-pagination 
          layout="total, prev, pager, next, jumper"
          @current-change="setTeacherPage"
          :current-page="teacherCurrentPage"
          :page-size="teacherPageSize"
          :total="teacherTotal">
        </el-pagination>
      </div>

      <div>
        <el-form :inline="true" :model="teacherForm" class="" ref="teacherForm" :rules="subFormRules" >
          <el-form-item>
            <el-input v-model="teacherForm.keywords" placeholder="关键词" size="small" style="width: 300px">
              <el-button icon="search" slot="append" @click="setTeacherPage(1)" class="search-btn"></el-button>
            </el-input>
            <el-button size="small" class="text-grey clear-btn" @click="clearTeacherSearch">清除</el-button>
          </el-form-item>
        </el-form>  
      </div>

      <!-- 选择老师 -->
      <el-table :data="teachers"
      v-loading.body="teacherLoading"
      tooltip-effect="dark"
      empty-text="暂无任何老师"
      :stripe="true">
      <el-table-column property="id" label="ID" width="150"></el-table-column>
      <el-table-column property="name" label="老师名称" ></el-table-column>
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
            <el-button
            @click="setTeacher(scope.row)"
            type="primary"
            :page-size="100"
            size="small">
            <i class="fa fa-check"></i>
          </el-button>
        </el-tooltip>
      </el-button-group>
      </template>
      </el-table-column>
      </el-table>

      <div class="text-center paginator-div" v-show="teacherTotalPages > 1">
        <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setTeacherPage"
        :current-page="teacherCurrentPage"
        :page-size="teacherPageSize"
        :total="teacherTotal">
      </el-pagination>
      </div>
      </el-dialog>    
</div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {storeTaskAction, updateTaskAction} from 'api/tasks'
  import {getClassroomsAction} from 'api/classrooms'
  import {getTeachersAction} from 'api/users'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../../config'
  import 'bootstrap/dist/css/bootstrap.min.css'
  import 'summernote/dist/summernote.css'
  import 'bootstrap/dist/js/bootstrap.min'
  import 'summernote/dist/summernote'
  import 'summernote/dist/lang/summernote-zh-CN.min'
  import moment from 'moment'
  
  export default {
    name: 'teacher-task-create',
    data() {
      return {
        id: '',
        task : {
          description: '',
          title: '',
          color: '#20a0ff',
          teacher: '',
          teacher_id: '',
          location: '',
          cl_id: '',
          start: '',
          end: '',
        },
        errors: {},
        rules: {
          title: {required: true, message: '实践名称不能为空', trigger: 'blur'},
          color: {required: true, message: '实践颜色不能为空', trigger: 'change'},
          teacher: {required: true, message: '实践地点不能为空', trigger: 'change'},
          classroom: {required: true, message: '必须选择一个教室', trigger: 'change'},
          start: {type: 'date', required: true, message: '实践开始时间不能为空', trigger: 'change'},
          end: {type: 'date', required: true, message: '实践结束时间不能为空', trigger: 'change'},
          description: {required: true, message: '实践描述不能为空', trigger: 'change'},
        },
        loading: false,

        classroomForm: {
					keywords: ''
				},

        subFormRules: {
					keywords: {required: true, message: '关键词不能为空'},
				},

        classrooms: [],
				classroomLoading: false,
				classroomDialog: false,
				classroomTotalPages: 0,
				classroomCurrentPage: 1,
				classroomTotal: 0,
				classroomPageSize: 0,

        teacherForm: {
					keywords: ''
				},
 
        teachers: [],
				teacherLoading: false,
				teacherDialog: false,
				teacherTotalPages: 0,
				teacherCurrentPage: 1,
				teacherTotal: 0,
				teacherPageSize: 0,

        colors : [
          '#f44336', 
          '#e91e63',
          '#9c27b0',
          '#673ab7',
          '#3f51b5',
          '#2196f3',
          '#03a9f4',
          '#00bcd4',
          '#009688',
          '#4caf50',
          '#8bc34a',
          '#cddc39',
          '#ffeb3b',
          '#ffc107',
          '#ff9800',
          '#ff5722',
          '#795548',
          '#000000',
        ]
      }
    },

    mounted() {
      const editer = this.$refs.editer
      editer.$on('onImageUpload', function (files) {
        // 这里做上传图片的操作，上传成功之后便可以用到下面这句将图片插入到编辑框中
        const image = files[0]
        let data = new FormData()
        data.append('avatar', image)
        
        uploadImageAction(data).then(response => {
          const url = response.data
          editer.run('insertImage', imageUrl + url)
        }).catch(err => {
          if(err.response && err.response.data && err.response.data.errors) {
            let errors = err.response.data.errors;
            let errStr = JSON.stringify(errors);
            this.$message.error('上传失败' + errStr)
          } else {
            this.$message.error('图片上传失败，请重新再试或联系管理员') 
          }
        })
      })
      
      
      this.task.cl_id = this.$route.query.class_id
      const self = this
      editer.$on('onChange', contents => {
        // 当富文本框内容发生变化时做什么事
        this.task.description = contents
      })

      editer.$on('onPaste', e => {
        const bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text')
        e.preventDefault()
        document.execCommand('insertText', false, bufferText)
      })
    },

    methods: {
      changeColor(color) {
        this.task.color = color   
      },
      
      setTeacher (teacher) {
    		this.task.teacher_id = teacher.id 
    		this.task.teacher = teacher.name
    		this.teacherDialog = false
    	},

    	clearTeacherSearch() {
    		this.teacherForm.keywords = ''
    		this.loadTeachers(1) 
    	},

    	setTeacherPage (pageNumber) {
    		this.loadTeachers(pageNumber) 
    	},

    	loadTeachers (pageNumber) {
    		let queryStr = ''
    		if(this.teacherForm.keywords) {
    			queryStr = '?name=' + this.teacherForm.keywords
    		}
    		this.teacherLoading = true
    		getTeachersAction(pageNumber, queryStr).then(response => {
    			this.loading = false
    			this.teacherTotalPages = response.last_page
    			this.teacherCurrentPage = response.current_page
    			this.teachers  = response.data
    			this.teacherTotal = response.total
    			this.teacherPageSize = parseInt(response.per_page)
    			this.teacherLoading = false
    		}).catch(err => {
    			this.$message.error('加载失败，请重新加载')
    		})     
    	},

    	chooseTeacher () {
    		this.teacherDialog = true
    		if(this.teachers.length === 0) {
    			this.loadTeachers(1)
    		}
    	},

      setClassroom (classroom) {
    		this.task.location = classroom.id 
    		this.task.classroom = classroom.name
    		this.classroomDialog = false
    	},

      clearClassroomSearch() {
    		this.classroomForm.keywords = ''
    		this.loadClassrooms(1) 
    	},

    	setClassroomPage (pageNumber) {
    		this.loadClassrooms(pageNumber) 
    	},

    	loadClassrooms (pageNumber) {
    		let queryStr = ''
    		if(this.classroomForm.keywords) {
    			queryStr = '?keywords=' + this.classroomForm.keywords
    		}
    		this.classroomLoading = true
    		getClassroomsAction(pageNumber, queryStr).then(response => {
    			this.loading = false
    			this.classroomTotalPages = response.last_page
    			this.classroomCurrentPage = response.current_page
    			this.classrooms  = response.data
    			this.classroomTotal = response.total
    			this.classroomPageSize = parseInt(response.per_page)
    			this.classroomLoading = false
    		}).catch(err => {
    			this.$message.error('加载失败，请重新加载')
    		})     
    	},

    	chooseClassroom () {
    		this.classroomDialog = true
    		if(this.classrooms.length === 0) {
    			this.loadClassrooms(1)
    		}
    	},

      setVal (content) {
        // 设置初始值
        this.$refs.editer.run('code', content)
      },
      getVal () {
        // 获取初始值
        return this.$refs.editer.run('code')
      },
      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}

            storeTaskAction(this.task).then(response => {
              const task = response
              this.$message.success('保存成功')
              if(shouldExit) {
                this.cancel()
              } else {
                this.$router.push({path: '/admin/tasks/edit', query: {taskId: task.id}})
              }
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields()
      },

      getColor(color) {
        return "background: " + color
      }
    }
  }
</script>

<style scoped>
  .color-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
  }

  .color-btn:hover {
    cursor: pointer; 
  }
</style>