<template>
  <div class="padding-div">
    <calendar :editable="true" :droppable="true"></calendar>
  </div>
</template>

<script>
  import calendar from '../../Calendar'

  export default {
    name: 'admin-tasks-index',
    components: {
      calendar
    }
  }
</script>