<template>
  <div id="admin-tasks-show" class="padding-div">
    <div class="button-group">
      <el-button-group>
        <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
          <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
        </el-tooltip>

        <el-button size="small" @click="print"><i class="fa fa-print" aria-hidden="true"></i></el-button>
      </el-button-group>
    </div>

    <div class="print-content">
      <h1>{{task.title}}</h1>
      
      <div class="info">
        <div><span class="author">发布人</span>{{task.teacher.name}}</div>
        <div><i class="fa fa-map-marker" aria-hidden="true"></i>  {{task.location}}</div>
        <div class="publish_at"><i class="el-icon-date" aria-hidden="true"></i>  {{task.start}} 到 {{task.end}}</div>
      </div>
        
      <p v-html="task.description" class="content"></p>
    </div>
  </div>
</template>

<script>
  import {showAdminTaskAction} from 'api/tasks'
  import {Loading} from 'element-ui'
  import moment from 'moment'
  
  export default {
    name: 'admin-tasks-show',
    data() {
      return {
        task : {
          teacher: {}
        }
      }
    },

    mounted() {
      this.init()
    },

    methods: {
      print() {
        window.print()
      },
      
      init() {
        const taskId = this.$route.query.taskId
      
        if(taskId) {
          let loadingDialog = Loading.service({target: '#admin-tasks-show'});
          console.log('admin')
          showAdminTaskAction(taskId).then(response => {
            this.task = response
            this.task.start = moment(this.task.start).foramt('LLL')
            this.task.end = moment(this.task.end).format('LLL')
            
            loadingDialog.close()
          }).catch(err => {
            loadingDialog.close()
          })
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }
</style>
