<template>
    <div class="padding-div" id="planning-detail">
      <el-form label-position="right" label-width="100px" :model="planning" ref="planningForm" :rules="rules">

        <el-form-item label="计划名称" prop="title" :error="errors.title">
          <el-input v-model="planning.title" :autofocus="true"></el-input>
        </el-form-item>

        <el-form-item label="指定采购者" prop="buyer" :error="errors.buyer">
          <el-input v-model="planning.buyer" :disabled="true" @click="chooseBuyer">
            <template slot="append">
              <el-button type="primary" @click="chooseBuyer">请选择采购者</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="截止日期" prop="expired_at" :error="errors.expired_at">
          <el-date-picker
          v-model="planning.expired_at"
          type="datetime"
          placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>

        <el-form-item label="采购产品" prop="products" :error="errors.prodcuts">
          <div>
            <div class="text-right margin-bottom">
              <el-button type="success" @click="chooseProduct"><i class="fa fa-plus"></i>添加采购产品</el-button>
            </div>
            <el-table
            :data="planning.products"
            tooltip-effect="dark"
            empty-text="暂无选择任何产品"
            :stripe="true"
            style="width: 100%">
              <el-table-column
                prop="id"
                label="ID"
                width="100">
              </el-table-column>
              <el-table-column
                prop="name"
                label="产品名称">
              </el-table-column>
              <el-table-column
                prop="quantity"
                label="采购数目">
                <template scope="scope">
                  <el-input size="small" v-model="scope.row.quantity"></el-input>
                </template>
              </el-table-column>

              <el-table-column
                fixed="right"
                label="操作"
                width="70">
                <template scope="scope">
                  <el-button-group>
                    <el-tooltip class="item" effect="dark" content="删除该采购产品" placement="bottom">
                      <el-button
                        @click="deleteProduct(scope.row.id)"
                        icon="close"
                        :page-size="100"
                        size="small">
                      </el-button>
                    </el-tooltip>
                  </el-button-group>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-form-item>

        <el-form-item>
          <el-button type="danger pull-left" @click="cancel" icon="arrow-left">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('planningForm', true)" :loading="loading">保存并退出</el-button>
            <el-button type="info" @click="submitForm('planningForm', false)" :loading="loading">保存</el-button>
          </div>
        </el-form-item>
      </el-form>

      <el-dialog title="选择采购人" :visible.sync="buyerDialog" size="full">
        <div class="text-center" v-show="buyerTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setBuyerPage"
            :current-page="buyerCurrentPage"
            :page-size="buyerPageSize"
            :total="buyerTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="buyerForm" class="" ref="buyerForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="buyerForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setBuyerPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearBuyerSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <!-- 选择签订人 -->
        <el-table :data="buyers"
          v-loading.body="buyerLoading"
          tooltip-effect="dark"
          empty-text="暂无任何采购者"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="名字"></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setBuyer(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>

        <div class="text-center paginator-div" v-show="buyerTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setBuyerPage"
            :current-page="buyerCurrentPage"
            :page-size="buyerPageSize"
            :total="buyerTotal">
          </el-pagination>
        </div>
      </el-dialog>

       <!-- 选择产品 -->
      <el-dialog title="选择产品" :visible.sync="productDialog" size="full">
        <div class="text-center paginator-div" v-show="productTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setProductPage"
            :current-page="productCurrentPage"
            :page-size="productPageSize"
            :total="productTotal">
          </el-pagination>
        </div>

        <div>
          <el-form :inline="true" :model="productForm" class="" ref="productForm" :rules="subFormRules" >
            <el-form-item>
              <el-input v-model="productForm.keywords" placeholder="关键词" size="small" style="width: 300px">
                <el-button icon="search" slot="append" @click="setProductPage(1)" class="search-btn"></el-button>
              </el-input>
              <el-button size="small" class="text-grey clear-btn" @click="clearProductSearch">清除</el-button>
            </el-form-item>
          </el-form>  
        </div>

        <el-table 
          :data="products"
          v-loading.body="productLoading"
          tooltip-effect="dark"
          empty-text="暂无任何产品"
          :stripe="true">
          <el-table-column property="id" label="ID" width="150"></el-table-column>
          <el-table-column property="name" label="名称"></el-table-column>
           <el-table-column
              fixed="right"
              label="操作"
              width="70">
              <template scope="scope">
                <el-button-group>
                  <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                    <el-button
                      @click="setProduct(scope.row)"
                      type="primary"
                      :page-size="100"
                      size="small">
                      <i class="fa fa-check"></i>
                    </el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
        </el-table>
        <div class="text-center paginator-div" v-show="productTotalPages > 1">
          <el-pagination 
            layout="total, prev, pager, next, jumper"
            @current-change="setProductPage"
            :current-page="productCurrentPage"
            :page-size="productPageSize"
            :total="productTotal">
          </el-pagination>
        </div>
      </el-dialog>
    </div>
</template>

<script>
  import {updatePlanningAction, showPlanningAction} from 'api/plannings'
  import {getBuyersAction} from 'api/users'
  import {getProductsAction} from 'api/products'
  import {Loading} from 'element-ui'
  import moment from 'moment'
  
  export default {
    name: 'admin-planning-create',
    data() {
      var checkNotEmpty = (rule, value, callback) => {
        if (!value || value == '无' || value == '') {
          callback(new Error('该项不能为空'));
        } else {
          callback();
        }
      };

      return {
        id: '',
        planning : {
          buyer_id: null,
          buyer: '无',
          title: '',
          expired_at: null,
          products: []
        },
        errors: {},
        rules: {
          buyer: {required: true,  message: '必须选择一位操作员', trigger: 'change', validator: checkNotEmpty},
          title: {required: true, message: '必须填写计划名称', trigger: 'blur'}
        },

        buyerForm: {
         keywords: '',
         section: 'name'
        },

        productForm: {
          keywords: ''
        },


        subFormRules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        loading: false,
        
        //dialog
        buyers: [],
        buyerLoading: false,
        buyerDialog: false,
        buyerTotalPages: 0,
        buyerCurrentPage: 1,
        buyerTotal: 0,
        buyerPageSize: 0,

        //product Dialog
        products: [],
        productLoading: false,
        productDialog: false,
        productTotalPages: 0,
        productCurrentPage: 1,
        productTotal: 0,
        productPageSize: 0,
      }
    },

    mounted() {
      const id = this.$route.query.planningId
      let loadingDialog = Loading.service({target: '#planning-detail'})
      showPlanningAction(id).then(response => {
        this.planning.buyer_id = response.buyer_id
        this.planning.id = response.id
        this.planning.buyer = response.buyer_name
        this.planning.title = response.title
        this.planning.expired_at = moment(response.expired_at)
        this.planning.products = response.products
        loadingDialog.close()
      }).catch(err => {
        this.$message.error('加载失败，请重新加载')
        loadingDialog.close()
      }) 
    },

    methods: {
      //buyers
      clearBuyerSearch() {
        this.buyerForm.keywords = ''
        this.loadBuyers(1) 
      },

      setBuyerPage (pageNumber) {
        this.loadBuyers(pageNumber) 
      },

      loadBuyers (pageNumber) {
        let queryStr = ''
        if(this.buyerForm.keywords) {
          queryStr = '?name=' + this.buyerForm.keywords
        }
        this.buyerLoading = true
        getBuyersAction(pageNumber, queryStr).then(response => {
          this.buyerTotalPages = response.last_page
          this.buyerCurrentPage = response.current_page
          this.buyers  = response.data
          this.buyerTotal = response.total
          this.buyerPageSize = parseInt(response.per_page)
          this.buyerLoading = false
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.buyerLoading = false
        })     
      },

      chooseBuyer () {
        this.buyerDialog = true
        if(this.buyers.length === 0) {
          this.loadBuyers(1)
        }
      },

      setBuyer (buyer) {
        this.planning.buyer_id = buyer.id 
        this.planning.buyer = buyer.name
        this.buyerDialog = false
      },

      //products
      clearProductSearch() {
        this.productForm.keywords = ''
        this.loadProducts(1)
      },

      setProduct (product) {
        this.planning.products.push({
          id: product.id,
          quantity: 0,
          name: product.name
        })
        this.productDialog = false
      },

      setProductPage (pageNumber) {
        this.loadProducts(pageNumber)
      },
      
      loadProducts (page) {
        let queryStr = ''
        if(this.productForm.keywords) {
          queryStr = '?keywords=' + this.productForm.keywords
        }
        this.productLoading = true
        getProductsAction(page, queryStr).then(response => {
          this.productLoading = false
          this.productTotalPages = response.last_page
          this.productCurrentPage = response.current_page
          this.products  = response.data
          this.productTotal = response.total
          this.productPageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.productLoading = false
        }) 
      },

      chooseProduct () {
        this.productDialog = true
        if(this.products.length === 0) {
          this.loadProducts(1)
        }
      },

      deleteProduct(id) {
        this.planning.products = this.planning.products.filter(product => {
          return product.id != id
        })
      },

      cancel () {
        history.back()
      },
      
      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}
            
            updatePlanningAction(this.planning).then(response => {
              const planning = response
              this.$message.success('保存成功')
              
              if(shouldExit) {
                this.$router.push({path: '/admin/plannings/index'})
              } else {
                this.$router.push({path: '/admin/plannings/edit', query: {planningId: planning.id}})
              }
              this.loading = false
            }).catch(err => {
              this.errors = err
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

<style scoped>
  .margin-bottom {
    margin-bottom: 20px;
  }
</style>
