<template>
  <div class="padding-div">
    <div class="text-right margin-bottom">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
            <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
          </el-tooltip>
        </el-col>
        <el-col :span="16" class="text-right">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createSchedule">添加课程安排</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div id="calendar"></div>

    <!-- 添加/修改Dialog -->
    <el-dialog :title="dialogTitle" :visible.sync="scheduleDialog" size="small">
      <el-form label-width="80px" :model="schedule" ref="scheduleForm" :rules="rules">
        <el-form-item label="课程" prop="course" :error="errors.course_id">
          <el-input v-model="schedule.course" placeholder="请选择课程" :disabled="true" @click="chooseCourse">
            <template slot="append">
              <el-button type="primary" @click="chooseCourse">请选择</el-button>
            </template>
          </el-input>
        </el-form-item>

        <el-form-item label="开始时间" prop="start" :error="errors.start">
          <el-date-picker
            v-model="schedule.start"
            type="datetime"
            placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>

        <el-form-item label="结束时间" prop="end" :error="errors.end">
          <el-date-picker
            v-model="schedule.end"
            type="datetime"
            placeholder="选择日期时间">
          </el-date-picker>
        </el-form-item>

      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button type="danger" icon="delete" @click="deleteSchedule" v-show="editMode">删除</el-button>
        <el-button type="info" @click="submitForm('scheduleForm')" :loading="loading">保存</el-button>
      </span>
    </el-dialog>

    <!-- 课程选择Dialog -->
    <el-dialog title="选择课程" :visible.sync="courseDialog" size="full">
      <div class="text-center" v-show="courseTotalPages > 1">
        <el-pagination 
          layout="total, prev, pager, next, jumper"
          @current-change="setCoursePage"
          :current-page="courseCurrentPage"
          :page-size="coursePageSize"
          :total="courseTotal">
        </el-pagination>
      </div>

      <div>
        <el-form :inline="true" :model="courseForm" class="" ref="courseForm" :rules="subFormRules" >
          <el-form-item>
            <el-input v-model="courseForm.keywords" placeholder="关键词" size="small" style="width: 300px">
              <el-button icon="search" slot="append" @click="setCoursePage(1)" class="search-btn"></el-button>
            </el-input>
            <el-button size="small" class="text-grey clear-btn" @click="clearCourseSearch">清除</el-button>
          </el-form-item>
        </el-form>  
      </div>

      <!-- 选择课程 -->
      <el-table :data="courses"
        v-loading.body="courseLoading"
        tooltip-effect="dark"
        empty-text="暂无任何课程"
        :stripe="true">
        <el-table-column property="id" label="ID" width="150"></el-table-column>
        <el-table-column property="name" label="课程名称" ></el-table-column>
        <el-table-column property="teacher_name" label="老师" ></el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="70">
          <template scope="scope">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
                <el-button
                @click="setCourse(scope.row)"
                type="primary"
                :page-size="100"
                size="small">
                <i class="fa fa-check"></i>
              </el-button>
            </el-tooltip>
          </el-button-group>
          </template>
          </el-table-column>
      </el-table>

      <div class="text-center paginator-div" v-show="courseTotalPages > 1">
        <el-pagination 
          layout="total, prev, pager, next, jumper"
          @current-change="setCoursePage"
          :current-page="courseCurrentPage"
          :page-size="coursePageSize"
          :total="courseTotal">
        </el-pagination>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import 'fullcalendar'
  import 'fullcalendar/dist/fullcalendar.min.css'
  import 'fullcalendar/dist/locale/zh-cn'
  
  import {getSchedulesAction, updateDragScheduleAction, storeScheduleAction, updateScheduleAction, deleteScheduleAction}  from 'api/schedules'
  import {getCoursesAction} from 'api/courses'
  import {getClsAction} from 'api/cls'
  import moment from 'moment'
  import {Loading} from 'element-ui'
  
  export default {
    data() {
      return {
        cal: null,
        config: {},
        sourceEvents: [],

        start_at: moment().startOf('month').format('YYYYMMDD'),
        end_at: moment().endOf('month').format('YYYYMMDD'),

        class_id : '',

        //create/edit dialog
        scheduleDialog: false,
        editMode: false,

        droppable: true,
        editable: true,

        schedule : {
          course_id: '',
          course: '',
          cl_id: '',
          cl: '',
          start: new Date(),
          end: new Date(),
        },

        errors: {},
        rules: {
          course: {required: true, message: '必须填写课程内容', trigger: 'change'},
          cl: {required: true, message: '必须填写上课班级', trigger: 'change'},
          start: {type: 'date', required: true, message: '课程开始时间必须的', trigger: 'change'},
          end: {type: 'date', required: true, message: '课程结束时间必须的', trigger: 'change'},
        },

        loading: false,

        //Courses
        courseForm: {
          keywords: ''
        },

        subFormRules: {
          keywords: {required: true, message: '关键词是必须的'},
        },
        courses: [],
        courseLoading: false,
        courseDialog: false,
        courseTotalPages: 0,
        courseCurrentPage: 1,
        courseTotal: 0,
        coursePageSize: 0,
      }
    },
    mounted() {
      var self = this
      // self.cal = $(self.$el)
      self.cal = $('#calendar')
      
      this.config = {
        lang: 'zh-cn',
        header: {
          left:   'prev,next today',
          center: 'title',
          right:  'agendaWeek,agendaDay'
        },
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        defaultView: 'agendaWeek',
        minTime: '05:00:00',
        maxTime: '22:00:00',
        
        events: self.events,
        
        dayClick: (date) => {
          self.cal.fullCalendar('gotoDate', date.start)
          self.cal.fullCalendar('changeView', 'agendaDay')
        },

        eventClick: (event) => {
          this.scheduleDialog = true
          this.editMode = true
          this.schedule = event
          this.schedule = {
            id: event.id,
            course: event.course,
            course_id: event.course_id,
            color: event.color,
            start: new Date(event.start),
            end: new Date(event.end),
            teacher: event.teacher_id,
            teacher_name: event.teacher,
            cl_id: event.cl_id
          }
        }
      }
      
      if(this.editable) {
        this.config.editable = true
          this.config.eventResize = (event) => {
          const schedule = {
            id: event.id,
            start: event.start.format(),
            end: event.end.format(),
          }
          
          updateDragScheduleAction(schedule).then(response => { }).catch(err => { })
        }
      }
    
      if(this.droppable) {
        this.config.droppable = true
        this.config.eventReceive = (event) => {
        }

        this.config.eventDrop = (event) => {
          const schedule = {
            id: event.id,
            start: event.start.format(),
            end: event.end.format(),
          }
          updateDragScheduleAction(schedule).then(response => { }).catch(err => { })
        }
      }
    
      this.cal.fullCalendar(this.config)
      this.init() 
    },

    computed: {
      dialogTitle() {
        return this.editMode ? '编辑课程安排' : '添加课程安排'
      }
    },

    methods: {
      deleteSchedule () {
        deleteScheduleAction(this.schedule.id).then(response => {
          this.init()
        }).catch(err => {
          this.$message.error('删除失败，请稍后再试')
        })
      },

      init () {
        let loadingInstance1 = Loading.service({target: '.fc-view-container'});
        let role = this.$store.getters.role
        if(role == 'superAdmin') {
          role = 'admin'
        }

        this.class_id = this.$route.query.class_id
        const query = '?classId=' + this.class_id
        getSchedulesAction(this.start_at, this.end_at, role, query).then(response => {
          this.sourceEvents = response.map(event => {
            const userId = this.$store.getters.userId
            const scheduleId = event.id
            event.title = event.course
            event.start = new Date(event.start)
            event.end = new Date(event.end)
            return event
          })
          this.events = this.sourceEvents 
          this.cal.fullCalendar('removeEventSources')
          this.cal.fullCalendar('addEventSource', {
            events: this.events
          })
          loadingInstance1.close()
        }).catch(err => {
          console.log(err)
          this.$message.error('加载课程表失败，请尝试重新连接或者联系管理员')
          loadingInstance1.close()
        }) 
      },
      
      createSchedule () {
        // this.$router.push('/admin/schedules/create')
        this.scheduleDialog = true
        this.editMode = false
        this.schedule = {
          course_id: '',
          course: '',
          cl_id: '',
          cl: '',
          start: new Date(),
          end: new Date(),
        }
      },

      //Course Dialog
      setCourse (course) {
        this.schedule.course_id = course.id 
        this.schedule.course = course.name
        this.courseDialog = false
      },

      clearCourseSearch() {
        this.courseForm.keywords = ''
        this.loadCourses(1) 
      },

      setCoursePage (pageNumber) {
        this.loadCourses(pageNumber) 
      },

      loadCourses (pageNumber) {
        let queryStr = ''
        if(this.courseForm.keywords) {
          queryStr = '?keywords=' + this.courseForm.keywords
        }
        this.courseLoading = true
        getCoursesAction(pageNumber, queryStr).then(response => {
          this.loading = false
          this.courseTotalPages = response.last_page
          this.courseCurrentPage = response.current_page
          this.courses  = response.data
          this.courseTotal = response.total
          this.coursePageSize = parseInt(response.per_page)
          this.courseLoading = false
        }).catch(err => {
          console.log(err)
          this.$message.error('加载失败，请重新加载')
        })     
      },

      chooseCourse () {
        this.courseDialog = true
        if(this.courses.length === 0) {
          this.loadCourses(1)
        }
      },

      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}

            this.schedule.cl_id = this.$route.query.class_id
            if(this.editMode) {
              updateScheduleAction(this.schedule).then(response => {
                const schedule = response
                this.$message.success('更新成功')
                this.loading = false
                this.scheduleDialog = false
                this.init()
              }).catch(err => {
                this.errors = err
                this.$message.error('更新失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            } else {
              storeScheduleAction(this.schedule).then(response => {
                const schedule = response
                this.$message.success('保存成功')
                this.scheduleDialog = false
                this.loading = false
                this.init()
              }).catch(err => {
                this.errors = err
                this.$message.error('保存失败，请稍后再试或者联系管理员')
                this.loading = false
              })
            }
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    },

    name: 'admin-schedules'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .margin-bottom { 
    margin-bottom : 20px;
  }
</style>
