<template>
    <div class="padding-div" id="student-detail">
      <el-form label-width="80px" :model="student" ref="studentForm" :rules="rules">
        
        <el-form-item label="学号" prop="userNo" :error="errors.userNo">
          <el-input v-model="student.userNo" placeholder="学号"  :disabled="true"></el-input>
        </el-form-item>
        
        <el-form-item label="姓名" prop="name" :error="errors.name" >
          <el-input v-model="student.name" placeholder="姓名"  :autofocus="true"></el-input>
        </el-form-item>

        
        <el-form-item label="选择班级" prop="cl" :error="errors.cl">
        <el-input v-model="student.cl" placeholder="选择班级" :disabled="true" @click="chooseCl">
          <template slot="append">
            <el-button type="primary" @click="chooseCl">请选择</el-button>
          </template>
        </el-input>
      </el-form-item>

         <el-form-item label="年级" prop="grade">
          <el-select v-model="student.grade" placeholder="年级">
            <el-option
              v-for="item in gradeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        
        <el-form-item label="密码" prop="password" :error="errors.password">
          <el-input v-model="student.password" placeholder="密码"></el-input>
        </el-form-item>

         
        <el-form-item label="性别" prop="sex" :error="errors.sex">
          <el-radio-group v-model="student.sex">
            <el-radio label="0">男</el-radio>
            <el-radio label="1">女</el-radio>
          </el-radio-group>
        </el-form-item>

          <el-form-item label="邮箱" prop="email" :error="errors.email">
          <el-input v-model="student.email" placeholder="邮箱" ></el-input>
        </el-form-item>
       
        
        <el-form-item label="微信" prop="wechat">
          <el-input v-model="student.wechat" placeholder="微信"></el-input>
        </el-form-item>

        <el-form-item label="电话" prop="phone">
          <el-input v-model="student.phone" placeholder="电话"></el-input>
        </el-form-item>

        <el-form-item label="学年" prop="phone">
          <el-input v-model="student.admission_year" placeholder="学年"></el-input>
        </el-form-item>

        <el-form-item label="个人简介" prop="description">
          <el-input 
          type="textarea"
          :rows="2"
          v-model="student.description" placeholder="电话"></el-input>
        </el-form-item>

        <el-form-item label="状态" prop="status">
          <el-select v-model="student.status" placeholder="请选择">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        
        <el-form-item label="出生" prop="birthday">
          <el-date-picker
            v-model="student.birthday"
            type="date"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        
        <el-form-item>
          <el-button type="danger pull-left" @click="cancel">取消</el-button>
          <div class="pull-right">
            <el-button type="primary" @click="submitForm('studentForm', true)" :loading="loading">保存后退出</el-button>
            <el-button type="info" @click="submitForm('studentForm', false)" :loading="loading">保存修改</el-button>
          </div>
        </el-form-item>
      </el-form>

            <!-- 选择班级 -->
    <el-dialog title="选择班级" :visible.sync="clDialog" size="full">
      <div class="text-center" v-show="clTotalPages > 1">
        <el-pagination 
          layout="total, prev, pager, next, jumper"
          @current-change="setClPage"
          :current-page="clCurrentPage"
          :page-size="clPageSize"
          :total="clTotal">
        </el-pagination>
      </div>

      <div>
        <el-form :inline="true" :model="clForm" class="" ref="clForm" :rules="subFormRules" >
          <el-form-item>
            <el-input v-model="clForm.keywords" placeholder="关键词" size="small" style="width: 300px">
              <el-button icon="search" slot="append" @click="setClPage(1)" class="search-btn"></el-button>
            </el-input>
            <el-button size="small" class="text-grey clear-btn" @click="clearClSearch">清除</el-button>
          </el-form-item>
        </el-form>  
      </div>

      <!-- 选择班级 -->
      <el-table :data="cls"
      v-loading.body="clLoading"
      tooltip-effect="dark"
      empty-text="暂无任何班级"
      :stripe="true">
      <el-table-column property="id" label="ID" width="150"></el-table-column>
      <el-table-column property="name" label="班级名称" ></el-table-column>
      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="选择" placement="bottom">
            <el-button
            @click="setCl(scope.row)"
            type="primary"
            :page-size="100"
            size="small">
            <i class="fa fa-check"></i>
          </el-button>
        </el-tooltip>
      </el-button-group>
      </template>
      </el-table-column>
      </el-table>

      <div class="text-center paginator-div" v-show="clTotalPages > 1">
        <el-pagination 
        layout="total, prev, pager, next, jumper"
        @current-change="setClPage"
        :current-page="clCurrentPage"
        :page-size="clPageSize"
        :total="clTotal">
      </el-pagination>
      </div>
    </el-dialog>   
    </div>
  </template>
<script>

  import {showUserAction, storeUserAction, updateUserAction} from 'api/users'
  import {getClsAction} from 'api/cls'
  import {uploadImageAction} from 'api/upload'
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../../config'
  
  export default {
    name: 'notification-detail',
    // components: { summernote },
    data() {
      return {
        id: '',
        student: {
          name: '',
          userNo: '',
          email: '',
          avatar: '',
          password: '',
          admission_year: '',
          role: 0,
          wechat: '',
          birthday: '',
          special: '1',
          phone: '',
          class_id: '',
          cl: '',
          grade: 1,
          sex: '0',
          description: '',
          status: 1,
        },
        statusOptions: [{
          value: 0,
          label: '冻结'
        }, {
          value: 1,
          label: '正常'
        }, {
          value: 2,
          label: '归档'
        }],

        gradeOptions: [{
          value: 1,
          label: '高一'
        }, {
          value: 2,
          label: '高二'
        }, {
          value: 3,
          label: '高三'

        }],
        
        rules: {
          name: {required: true, message: '姓名不能为空', trigger: 'blur'},
          userNo: {required: true, message: '学号不能为空', trigger: 'blur'},
          email: {required: true, message: '邮箱不能为空', trigger: 'blur'},
        },
        loading: false,
        editMode: false,
        errors: {},
        subFormRules: { keywords: {required: true, message: '关键词不能为空'} },

        clForm: { keywords: '' },
 
        cls: [],
        clLoading: false,
        clDialog: false,
        clTotalPages: 0,
        clCurrentPage: 1,
        clTotal: 0,
        clPageSize: 0,
      }
    },

    mounted() {
      this.id = this.$route.query.id
      
      if(this.id) {
        let loadingDialog = Loading.service()
        
        showUserAction(this.id).then(response => {
          this.student = response.user
          this.student.sex = '' + this.student.sex
          loadingDialog.close()
        }).catch(err => {
          this.$message.error('链接服务器失败，请稍后再试或联系管理员')
          loadingDialog.close()
        })
      }
    },

    methods: {
      setCl (cl) {
          this.student.class_id = cl.id 
          this.student.cl = cl.name
          this.clDialog = false
      },

      clearClSearch() {
          this.clForm.keywords = ''
          this.loadCls(1) 
      },

      setClPage (pageNumber) {
          this.loadCls(pageNumber) 
      },

      loadCls (pageNumber) {
          let queryStr = ''
          if(this.clForm.keywords) {
              queryStr = '?keywords=' + this.clForm.keywords
          }
          this.clLoading = true
          getClsAction(pageNumber, queryStr).then(response => {
              this.loading = false
              this.clTotalPages = response.last_page
              this.clCurrentPage = response.current_page
              this.cls  = response.data
              this.clTotal = response.total
              this.clPageSize = parseInt(response.per_page)
              this.clLoading = false
          }).catch(err => {
              this.$message.error('加载失败，请重新加载')
          })     
      },

      chooseCl () {
          this.clDialog = true
          if(this.cls.length === 0) {
              this.loadCls(1)
          }
      },
        
      cancel() {
        history.back()
      },

      submitForm(formName, shouldExit) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading = true
            this.errors = {}
            updateUserAction(this.id, this.student).then(response => {
              this.$message.success('保存成功')
              if(shouldExit) {
                history.back()
              }
              this.loading = false
            }).catch(err => {
              this.errors = err
              console.log(err)
              this.$message.error('保存失败，请稍后再试或者联系管理员')
              this.loading = false
            })
          } else {
            this.$message.error('您还未完成该表单')
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>