<template>
  <div class="padding-div">
    <!-- 归档学年学生Dialog -->
    <el-dialog
      title="归档学年学生"
      :visible.sync="dialogVisible"
      size="tiny"
      :before-close="handleClose">
      <p>
        <el-alert
          type="error"
          title=""
          description="请注意该操作是不可逆的"
          show-icon>
        </el-alert>
      </p>
      
      <span>请输入需要归档的学年</span>
      <el-input placeholder="请输入内容" v-model="archiveAdmissionYear">
        <template slot="prepend">学年：</template>
      </el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleArchiveAdmissionYear" :loading="archiveBtnLoading">确 定</el-button>
      </span>
    </el-dialog>

    <!-- Import dialog -->
    <el-dialog
      title="导入学生"
      :visible.sync="showImportDialog"
      size="small"
      :before-close="handleClose">

      <el-form :model="importForm" ref="importForm" :inline="true">
        <div class="importDialogUpload text-center" style="">
            <el-upload
              drag
              class="upload-demo"
              :action="importForm.action"
              :http-request="uploadStudentExcel"
              :on-remove="handleRemove"
              :file-list="importForm.files">
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
              <div class="el-upload__tip" slot="tip">上传excel文件不得超过5M</div>
            </el-upload>
        </div>
                
        <el-form-item prop="defaultPassword" label="初始密码">
          <el-input placeholder="请输入密码" v-model="importForm.defaultPassword"></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog = false">取 消</el-button>
        <el-button type="primary" @click="loadFromExcel" :loading="importLoading">导 入</el-button>
      </span>
    </el-dialog>

    <div class="diy-toolbar">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <div class="button-group">
            <el-button-group>
              <el-tooltip class="item" effect="dark" content="激活选中学生" placement="bottom">
                <el-button size="small" @click="activeStudents">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
                <el-tooltip class="item" effect="dark" content="停用选中学生" placement="bottom">
                <el-button size="small" @click="disableStudents">
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="归档选中学生" placement="bottom">
                <el-button size="small" @click="archiveStudents"><i class="fa fa-archive" aria-hidden="true"></i></el-button>
              </el-tooltip>
              <el-tooltip class="item" effect="dark" content="删除选中学生" placement="bottom">
                <el-button icon="delete" size="small" @click="deleteStudents"></el-button>
              </el-tooltip>
            </el-button-group>  
            
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>
          </div>
        </el-col>
        <el-col :span="8" class="text-center" >
           <el-pagination v-show="totalPages > 1"
              layout="total, prev, pager, next, jumper"
              @current-change="setPage"
              :current-page="currentPage"
              :page-size="pageSize"
              :total="total">
            </el-pagination>
        </el-col>
        <el-col :span="8" class="text-right">
          <div class="button-group">
            <router-link :to="{path: '/admin/students/create'}">
              <el-button type="success" icon="plus" @click="createStudent">添加新学生</el-button>
            </router-link>
          </div>
        </el-col>
      </el-row>
    </div>

    <div>
      <el-form :inline="true" :model="searchForm" class="" ref="studentForm" :rules="rules" >
        <el-form-item>
          <el-input v-model="searchForm.keywords" placeholder="关键词" size="small" style="width: 300px">
            <el-select v-model="searchForm.select" slot="prepend" placeholder="请选择" style="width: 75px">
              <el-option label="学年" value="userNo"></el-option>
              <el-option label="姓名" value="name"></el-option>
              <el-option label="邮箱" value="email"></el-option>
              <el-option label="微信" value="wechat"></el-option>
              <el-option label="手机" value="phone"></el-option>
              <el-option label="入学年份" value="admission_year"></el-option>
            </el-select>
            <el-button icon="search" slot="append" @click="onSubmit" class="search-btn"></el-button>
          </el-input>
          <el-button size="small" class="text-grey clear-btn" @click="clear">清除</el-button>
        </el-form-item>
        
        <el-form-item>
          <el-select v-model="searchForm.status" placeholder="状态" size="small" style="width: 100px;" @change="onSubmit">
            <el-option label="所有状态" value="All"></el-option>
            <el-option label="停用" value="0"></el-option>
            <el-option label="正常" value="1"></el-option>
            <el-option label="归档" value="2"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-select v-model="searchForm.grade" placeholder="年级" size="small" style="width: 100px;" @change="onSubmit">
            <el-option label="所有年级" value="All"></el-option>
            <el-option label="高一" value="1"></el-option>
            <el-option label="高二" value="2"></el-option>
            <el-option label="高三" value="3"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-select v-model="searchForm.special" placeholder="海空学员" size="small" style="width: 150px;" @change="onSubmit">
            <el-option label="显示所有学生" value="2"></el-option>
            <el-option label="只显示海空学员" value="1"></el-option>
            <el-option label="只显示非海空" value="0"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-select v-model="sortInfo" filterable size="small" placeholder="排序" @change="onSubmit" style="width: 150px">
            <el-option
              v-for="item in sortByOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item class="pull-right">
          <el-button size="small" @click="uploadDialog">由Excel导入学生</el-button>
          <el-button size="small" @click="archiveYearMessageBox">归档年级学生</el-button>
        </el-form-item>
      </el-form>  
    </div>
    <el-table
      v-loading.body="loading"
      ref="multipleTable"
      :data="students"
      tooltip-effect="dark"
      empty-text="暂无任何学生"
      class-name="pointer"
      style="width: 100%"
      :stripe="true"
      @selection-change="handleSelectionChange">
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column
        prop="id"
        width="80"
        label="ID">
      </el-table-column>

      <el-table-column
        prop="userNo"
        width="120"
        label="学年">
      </el-table-column>

      <el-table-column
        prop="name"
        width="100"
        label="姓名">
      </el-table-column>

      <el-table-column
        prop="email"
        show-overflow-tooltip
        label="邮箱">
      </el-table-column>

      <el-table-column
        prop="wechat"
        show-overflow-tooltip
        label="微信">
      </el-table-column>
      
      <el-table-column
        prop="phone"
        show-overflow-tooltip
        label="手机">
      </el-table-column>

      <el-table-column
        prop="grade"
        label="年级">
      </el-table-column>

      <el-table-column
        prop="class_name"
        label="班级">
      </el-table-column>

      <el-table-column
        prop="admission_year"
        width="100"
        show-overflow-tooltip
        label="学年">
      </el-table-column>

      <el-table-column
        prop="special"
        width="120"
        show-overflow-tooltip
        label="海空学员">
         <template scope="scope">
          <el-tag :type="scope.row.special ? 'success' : 'primary'" v-show="scope.row.special">是</el-tag>
        </template>
      </el-table-column>

      <el-table-column
        prop="status"
        label="状态"
        width="100">
        <template scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{scope.row.status | statusLabel}}</el-tag>
        </template>
      </el-table-column>

      <el-table-column
      fixed="right"
      label="操作"
      width="70">
      <template scope="scope">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="编辑该学生" placement="bottom">
            <el-button
              @click="editStudent(scope.$index)"
              type="primary"
              icon="edit"
              :page-size="100"
              size="small">
            </el-button>
          </el-tooltip>
        </el-button-group>
      </template>
    </el-table-column>
    </el-table>
    
    <div class="text-center paginator-div" v-show="totalPages > 1">
      <el-pagination
        layout="total, prev, pager, next, jumper"
        @current-change="setPage"
        :current-page="currentPage"
        :page-size="pageSize"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  import {getStudentsAction, archiveUsersAction, deleteUsersAction, disableUsersAction, activeUsersAction, archiveAdmissionYearAction, loadFromExcelAction} from 'api/users'
  import {uploadStudentExcelAction} from 'api/upload'
  import {query2Str} from 'utils/func'
  
  export default {
    data() {
      return {
        students: [],
        totalPages: 0,
        currentPage: 0,
        pageSize: 0,
        total: 0,
        multipleSelection: [],
        searchForm: {
          status: '1', 
          keywords: '',
          select: 'name',
          admission_year: '',
          special: '2',
          grade: 'All',
        },
        loading: true, 
        rules: {
          keywords: {required: true, message: '关键词不能为空'},
          select: {required: true, message: '必须选择一项'},
        },
        sortByOptions: [
          {
            value: {prop: 'id', order: 'ascending'},
            label: '按ID升序'
          },
          {
            value: {prop: 'id', order: 'descending'},
            label: '按ID降序'
          },
          {
            value: {prop: 'userNo', order: 'ascending'},
            label: '按学年升序'
          },
          {
            value: {prop: 'userNo', order: 'descending'},
            label: '按学年降序'
          },
          {
            value: {prop: 'name', order: 'ascending'},
            label: '按名字升序'
          },
          {
            value: {prop: 'name', order: 'descending'},
            label: '按名字降序'
          },
          {
            value: {prop: 'admission_year', order: 'ascending'},
            label: '按入学年份升序'
          },
          {
            value: {prop: 'admission_year', order: 'descending'},
            label: '按入学年份降序'
          },
        ],
        sortInfo: {prop: 'id', order: 'descending'}, 

        //archive dialog
        dialogVisible: false,
        archiveBtnLoading: false,
        archiveAdmissionYear: '',

        //upload
        showImportDialog: false,
        importForm: {
          defaultPassword: '',
          action: '',
          files: [],
        },
        importLoading: false
      }
    },

    mounted() {
      this.init() 
    },

    filters: {
      statusFilter(status) {
        const statusMap = {
          0: 'primary',
          1: 'success',
          2: 'danger'
        };
        return statusMap[status]
      },

      statusLabel(status) {
        const statusMap = {
          0: '停用',
          1: '正常',
          2: '归档'
        };
        return statusMap[status]
      }
    },

    methods: {
      loadFromExcel() {
        this.importLoading = true

        loadFromExcelAction('student').then(response => {
          const addNo = response.addNo
          const classNo = response.classNo
          const updateNo = response.updateNo
          this.$message.success('成功从excel文件读取: 新增'  + classNo + '个班级，新增' + addNo + '位学生, 更新' + updateNo + '位学生信息')
          this.showImportDialog = false
          this.importLoading = false
          this.init()
        }).catch(err => {
          this.$message.error(err)
          this.importLoading = false
        })
      },

      //archive dialog
      archiveYearMessageBox() {
        this.dialogVisible = true
      },

      handleClose() {
        this.dialogVisible = false
        this.showImportDialog = false
      },

      uploadDialog() {
        this.showImportDialog = true
      },

      uploadStudentExcel(obj) {
        const file = obj.file
        const size = file.size

        const maxSize = 5 * 1024 * 1024 //5M
        if(size > maxSize) {
          this.$message.error('上传文件的大小超过5M')
        } else {
          let data = new FormData()
          data.append('file', file)
          
          uploadStudentExcelAction(data).then(response => {
            const url = response.data
          }).catch(err => {
            if(err.response && err.response.data && err.response.data.errors) {
              let errors = err.response.data.errors;
              let errStr = JSON.stringify(errors);
              this.$message.error('上传失败' + errStr)
            } else {
              this.$message.error('文件上传失败，请重新再试或联系管理员') 
            }
          })
        }
      },

      clear() {
        this.searchForm.keywords = ''
        this.onSubmit()
        this.searchForm.select = 'userNo'
      },

      loadData (page, queryStr) {
        this.loading = true
        getStudentsAction(page, queryStr).then(response => {
          this.loading = false
          this.totalPages = response.last_page
          this.currentPage = response.current_page
          this.students  = response.data
          this.total = response.total
          this.pageSize = parseInt(response.per_page)
        }).catch(err => {
          this.$message.error('加载失败，请重新加载')
          this.loading = false
        })
      },

      onSubmit() {
        const path = this.$route.path
        let query = this.$route.query
        query[this.searchForm.select] = this.searchForm.keywords
        query.keywords = this.searchForm.keywords
        query.status = this.searchForm.status
        if(this.searchForm.grade !== 'All') {
          query.grade = this.searchForm.grade
        } else {
          delete query.grade
        }
        if(this.searchForm.special !== '2') {
          query.special = this.searchForm.special
        } else {
          delete query.special
        }
        query.prop = this.sortInfo && this.sortInfo.prop
        query.order = this.sortInfo && this.sortInfo.order
        const queryStr = query2Str(query)
        this.loadData(1, queryStr) 
      },

      setPage(pageNumber) {
        this.init(pageNumber) 
      },
      
      init(pageNumber) {
        this.loading = true
        let query = this.$route.query

        query.special = 1

        if(query.select) {
          this.searchForm.select = query.select
        }

        if(query.keywords) {
          this.searchForm.keywords = query.keywords
        }

        let page = pageNumber
        if(!pageNumber) {
          if(query.page) {
            page = query.page
          } else {
            page = 1
          }
        } 

        if(query.order) {
          this.sortInfo.order = query.order
        } else {
          query.order = this.sortInfo.order
        }

        if(query.sort) {
          this.sortInfo.prop = query.sort
        } else {
          query.prop = this.sortInfo.prop
        }
        
        const queryStr = query2Str(query)
        this.loadData(page, queryStr) 
      },

      createStudent() {
        this.$router.push({path: '/admin/students/create'})
      },
      
      editStudent(row) {
        const studentId = this.students[row].id
        this.$router.push({path: '/admin/students/show', query: {id : studentId}})
      },

      getSelectIds() {
        let ids = []
        this.multipleSelection.map(selection => {
          ids.push(selection.id)
        })
        return ids
      },

      disableStudents() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要停用的学生')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          disableUsersAction(ids).then(response => {
            this.students = this.students.map(student=> {
              if(idsArray.includes(student.id)) {
                student.status = 0
              }
              return student
            })
            this.$message.success('成功停用学生')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      activeStudents() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要激活的学生')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          activeUsersAction(ids).then(response => {
            this.students = this.students.map(student=> {
              if(idsArray.includes(student.id)) {
                student.status = 1
              }
              return student
            })
            this.$message.success('成功激活学生')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        } 
      },

      archieveStudent(row) {
        const student = this.students[row]
        archiveUsersAction(student.id).then(response => {
          student.status = 2
          this.$message.success('成功归档学生')
        }).catch(err => {
          this.$message.error(err.response.error)
        })
      },

      archiveStudents() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要归档的学生')
        } else {
          const idsArray = this.getSelectIds()
          const ids = idsArray.join()
          archiveUsersAction(ids).then(response => {
            this.students = this.students.map(student=> {
              if(idsArray.includes(student.id)) {
                student.status = 2
              }
              return student
            })
            this.$message.success('成功归档学生')
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }
      },

      deleteStudent(row) {
        this.$confirm('此操作将永久删除该学生, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => { 
          const studentId = this.students[row].id
          deleteUsersAction(studentId).then(response => {
            this.students = this.students.filter(student => {
              return student.id != studentId
            })
            this.$message.success('成功删除学生')
          }).catch(err => {
            this.$message.error(err.response)
          })
        }).catch(() => {
          this.$message({ type: 'info', message: '已取消删除' });          
        });
      },
      
      deleteStudents() {
        if(this.multipleSelection.length == 0) {
          this.$message.info('请选择需要删除的学生')
        } else {
          this.$confirm('此操作将永久删除学生, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            const idsArray = this.getSelectIds()
            const ids = idsArray.join()
            deleteUsersAction(ids).then(response => {
              this.students = this.students.filter(student => {
                return !idsArray.includes(student.id)
              })
              this.$message.success('成功删除学生')
            }).catch(err => {
              this.$message.error(err.response.error)
            })
          }).catch(() => {
            this.$message({ type: 'info', message: '已取消删除' });          
          });
        }
      },

      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
      },

      handleArchiveAdmissionYear() {
        this.archiveBtnLoading = true
        archiveAdmissionYearAction(this.archiveAdmissionYear).then(response => {
          this.$message.success("成功归档该年级学生")
          this.archiveBtnLoading = false
          this.init()
        }).catch(err => {
          this.archiveBtnLoading = false
        })
        this.dialogVisible = false
      },

      handleRemove(file, files) {
        this.importForm.files = this.importForm.files.filter(file => {
          return file.uid != file.uid
        })
      },
    },
    name: 'students-page'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped >
  importDialogUpload {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
</style>
