<template>
  <div>
    Hello Admin Dashboard    
  </div>
</template>

<script>
  export default {
    name: 'admin-dashboard'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
