<template>
  <div>
    <component v-bind:is="currentDashboard"> </component>
  </div>
</template>

<script>
  import AdminDashboard from '../Notifications/Mine'
  import TeacherDashboard from '../Teacher/Schedules'
  import StudentDashboard from '../Student/Schedules'

  export default {
    components: { AdminDashboard, TeacherDashboard, StudentDashboard },
    data() {
      return {
        currentDashboard: 'StudentDashboard'
      }
    },
    created() {
      const role = this.$store.getters.role
      switch(role) {
        case 'student': {
          this.currentDashboard = 'StudentDashboard'
          break
        }
        case 'teacher': {
          this.currentDashboard = 'TeacherDashboard'
          break
        }
        case 'admin': case 'superAdmin': {
          this.currentDashboard = 'AdminDashboard'
          break
        }
      }
    },
    name: 'dashboard'
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
</style>
