<template>
    <div class="padding-div" id="classroom_apply-detail">
        <div class="text-right" v-show="classroom_apply.result === 2">
            <el-button type="primary" @click="acceptApply" :loading="loading">批准</el-button>
            <el-button type="danger" @click="refuseApply" :loading="loading">拒绝</el-button>
        </div>
        <el-form label-position="right" label-width="120px" :model="classroom_apply" ref="classroom_applyForm">

            <el-form-item label="申请教室" prop="classroom" :error="errors.classroom">

                <div>{{classroom_apply.classroom}}</div>
            </el-form-item>

            <el-form-item label="申请人">
                <div>{{classroom_apply.demand_name}}</div>
            </el-form-item>

            <el-form-item label="申请结果">
                <div>
                   <el-tag type="success" v-show="classroom_apply.result === 1">已批准</el-tag> 
                   <el-tag type="danger" v-show="classroom_apply.result === 0">已拒绝</el-tag> 
                   <el-tag type="info" v-show="classroom_apply.result === 2">待处理</el-tag> 
                </div>
            </el-form-item>

            <el-form-item label="处理人" v-show="classroom_apply.result !== 2">
                <div>{{classroom_apply.admin_name}}</div>
            </el-form-item>

            <el-form-item label="起始日期" prop="start" :error="errors.start">
                <div>{{classroom_apply.start}}</div>
            </el-date-picker>
            </el-form-item>

            <el-form-item label="终止日期" prop="end" :error="errors.end">
                <div>{{classroom_apply.end}}</div>
            </el-form-item>

            <el-form-item label="教室使用情况">
                <div id="calendar"></div>
            </el-form-item>

            
        </el-form>
    </div>
</template>

<script>
import 'fullcalendar'
import 'fullcalendar/dist/fullcalendar.min.css'
import 'fullcalendar/dist/locale/zh-cn'

import {updateClassroomApplyAction, showClassroomApplyAction, acceptClassroomApplyAction, refuseClassroomApplyAction} from 'api/classroom_applies'
import {getClassroomsAction, getClassroomAppliesByIdAction} from 'api/classrooms'
import {Loading} from 'element-ui'
import moment from 'moment'

export default {
    name: 'classroom_apply-detail',
    data() {
        return {
            id: '',
            classroom_apply: {
                start: '',
                end: '',
                classroom: '',
                classroom_id: ''
            },

            loading: false,
            errors: {},
            
            schedules: [],
            scheduleLoading: false,

            //calendar
            cal: null,
            config: {},
            sourceEvents: [],
            start_at: moment().startOf('week').format('YYYYMMDD'),
            end_at: moment().endOf('week').format('YYYYMMDD'),
            events: [],
        }
    },

    mounted() {
        this.cal = $('#calendar')

        this.config = {
            lang: 'zh-cn',
            header: {
                left:   'prev,next today',
                center: 'title',
                right:  'month,agendaWeek,agendaDay'
            },
        // defaultView: 'agendaWeek',
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        
        events: this.events,

        minTime: '05:00:00',
        maxTime: '22:00:00',

        dayClick: (date) => {
            this.cal.fullCalendar('gotoDate', date.start)
            this.cal.fullCalendar('changeView', 'agendaDay')
        },
      }

      let loadingInstance1 = Loading.service({target: '#classroom_apply-detail'})
      const id = this.$route.query.applyId
      if(id) {
          showClassroomApplyAction(id).then(response => {
            this.classroom_apply.start = moment(response.start).format('LLLL')
            this.classroom_apply.end = moment(response.end).format('LLLL')
            this.classroom_apply.id = response.id
            this.classroom_apply.classroom = response.classroom_name
            this.classroom_apply.classroom_id = response.classroom_id
            this.classroom_apply.result = response.result
            this.classroom_apply.admin_id = response.admin_id
            this.classroom_apply.admin_name = response.admin_name
            this.classroom_apply.demand_id = response.demand_id
            this.classroom_apply.demand_name = response.demand_name

            this.events = response.applies
            this.config.events = this.events
            this.cal.fullCalendar(this.config)
            loadingInstance1.close()
          }).catch(err => {
            console.log(err)
            this.$message.error('加载失败，请重新加载')
            loadingInstance1.close()
          })
        }
    },

    methods: {
        acceptApply() {
            this.loading = true
            acceptClassroomApplyAction(this.classroom_apply.id).then(response => {
                this.$router.push({path: '/admin/classroom_applies/index'})
                this.loading = false
                this.$message.success('批准了该申请')
            }).catch(err => {
                console.log(err)
                this.loading = false
               this.$message.error('批准失败，请重新再试') 
            })
        },

        refuseApply() {
            this.loading = true
            refuseClassroomApplyAction(this.classroom_apply.id).then(response => {
                this.$router.push({path: '/admin/classroom_applies/index'})
                this.$message.success('拒绝了该申请')
                this.loading = false
            }).catch(err => {
                console.log(err)
                this.loading = false
               this.$message.error('批准失败，请重新再试') 
            })
        },

        setClassroom (classroom) {
            this.classroom_apply.classroom_id = classroom.id 
            this.classroom_apply.classroom = classroom.name
            this.classroomDialog = false
            this.loadClassroomSchedules(classroom.id)
        },

        loadClassroomSchedules(classroomId) {
            const role = this.$store.getters.role
            let loadingInstance1 = Loading.service({target: '.fc-view-container'});

            getClassroomAppliesByIdAction(role, classroomId).then(response => {
                this.events = response
                this.cal.fullCalendar(this.config)
                this.cal.fullCalendar('removeEventSources')
                this.cal.fullCalendar('addEventSource', {
                    events: this.events
                })
                loadingInstance1.close()
            }).catch(err => {
                console.log(err)
                loadingInstance1.close()
                this.$message.error('加载失败，请重新加载')
            })
        },

        cancel() {
            history.back()
        },

        clearClassroomSearch() {
            this.classroomForm.keywords = ''
            this.loadClassrooms(1) 
        },

        setClassroomPage (pageNumber) {
            this.loadClassrooms(pageNumber) 
        },

        loadClassrooms (pageNumber) {
            let queryStr = ''
            if(this.classroomForm.keywords) {
                queryStr = '?name=' + this.classroomForm.keywords
            }
            this.classroomLoading = true
            const role = this.$store.getters.role
            getClassroomsAction(role, pageNumber, queryStr).then(response => {
                this.loading = false
                this.classroomTotalPages = response.last_page
                this.classroomCurrentPage = response.current_page
                this.classrooms  = response.data
                this.classroomTotal = response.total
                this.classroomPageSize = parseInt(response.per_page)
                this.classroomLoading = false
            }).catch(err => {
                this.$message.error('加载失败，请重新加载')
            })     
        },

        chooseClassroom () {
            this.classroomDialog = true
            if(this.classrooms.length === 0) {
                this.loadClassrooms(1)
            }
        },


        submitForm(formName, shouldExit) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true
                    this.errors = {}
                    updateClassroomApplyAction(this.classroom_apply).then(response => {
                        const classroom_apply = response
                        this.$message.success('保存成功')
                        this.loading = false
                        if(shouldExit) {
                            this.$router.push({path: '/classroom_applies/index'})
                        }
                    }).catch(err => {
                        this.errors = err
                        console.log(err)
                        this.$message.error('保存失败')
                        this.loading = false
                    })
                } else {
                    this.$message.error('您还未完成该表单')
                    return false;
                }
            });
        },

        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    }
}
</script>