<template>
	<div class="padding-div" id="resource_apply-detail">
		<el-form label-position="right" label-width="120px" :model="resource_apply" ref="resource_applyForm" :rules="rules">
			<el-form-item label="申请资源" prop="resource" :error="errors.resource">
				<el-input v-model="resource_apply.resource" placeholder="请选择资源" :disabled="true" @click="chooseResource">
					<template slot="append">
						<el-button type="primary" @click="chooseResource">请选择</el-button>
					</template>
				</el-input>
			</el-form-item>

			<el-form-item label="资源使用情况" v-show="resource_apply.resource_id">
				<div id="calendar"></div>
			</el-form-item>

			<el-form-item label="起始日期" prop="start" :error="errors.start">
				<el-date-picker
				v-model="resource_apply.start"
				type="datetime"
				placeholder="选择日期时间">
			</el-date-picker>
		</el-form-item>

		<el-form-item label="终止日期" prop="end" :error="errors.end">
			<el-date-picker
			v-model="resource_apply.end"
			type="datetime"
			placeholder="选择日期时间">
		</el-date-picker>
	</el-form-item>

	<el-form-item>
		<el-button class="pull-left" @click="cancel">取消</el-button>
		<div class="pull-right">
			<el-button type="primary" @click="submitForm('resource_applyForm', true)" :loading="loading">创建后退出</el-button>
			<el-button type="info" @click="submitForm('resource_applyForm', false)" :loading="loading">创建</el-button>
			<el-button @click="resetForm('resource_applyForm')" :loading="loading">重置</el-button>
		</div>
	</el-form-item>
</el-form>


<el-dialog title="选择资源" :visible.sync="resourceDialog" size="full">
	<div class="text-center" v-show="resourceTotalPages > 1">
		<el-pagination 
		layout="total, prev, pager, next, jumper"
		@current-change="setResourcePage"
		:current-page="resourceCurrentPage"
		:page-size="resourcePageSize"
		:total="resourceTotal">
	</el-pagination>
</div>

<div>
	<el-form :inline="true" :model="resourceForm" class="" ref="resourceForm" :rules="subFormRules" >
		<el-form-item>
			<el-input v-model="resourceForm.keywords" placeholder="关键词" size="small" style="width: 300px">
				<el-button icon="search" slot="append" @click="setResourcePage(1)" class="search-btn"></el-button>
			</el-input>
			<el-button size="small" class="text-grey clear-btn" @click="clearResourceSearch">清除</el-button>
		</el-form-item>
	</el-form>  
</div>

<!-- 选择资源 -->
<el-table :data="resources"
v-loading.body="resourceLoading"
tooltip-effect="dark"
empty-text="暂无任何资源"
@expand="loadResourceSchedules"
:stripe="true">
<el-table-column property="id" label="ID" width="150"></el-table-column>
<el-table-column property="name" label="资源名称" ></el-table-column>
<el-table-column
fixed="right"
label="操作"
width="70">
<template scope="scope">
	<el-button-group>
		<el-tooltip class="item" effect="dark" content="选择" placement="bottom">
			<el-button
			@click="setResource(scope.row)"
			type="primary"
			:page-size="100"
			size="small">
			<i class="fa fa-check"></i>
		</el-button>
	</el-tooltip>
</el-button-group>
</template>
</el-table-column>
</el-table>

<div class="text-center paginator-div" v-show="resourceTotalPages > 1">
	<el-pagination 
	layout="total, prev, pager, next, jumper"
	@current-change="setResourcePage"
	:current-page="resourceCurrentPage"
	:page-size="resourcePageSize"
	:total="resourceTotal">
</el-pagination>
</div>
</el-dialog>

</div>
</template>
<script>
	import 'fullcalendar'
	import 'fullcalendar/dist/fullcalendar.min.css'
	import 'fullcalendar/dist/locale/zh-cn'

	import {storeResourceApplyAction} from 'api/resource_applies'
	import {getStudentResourcesAction, getResourceAppliesByIdAction} from 'api/resources'
	import {Loading} from 'element-ui'
	import moment from 'moment'

	export default {
		name: 'resource_apply-detail',
		data() {
			return {
				id: '',
				resource_apply: {
					start: '',
					end: '',
					resource: '',
					resource_id: ''
				},
				rules: {
					resource_id: {required: true, message: '必须选择一项资源', trigger: 'change'},
					start: {required: true, type: 'date', message: '必须填写起始时间', trigger: 'blur'},
					end: {required: true, type: 'date', message: '必须填写终止时间', trigger: 'blur'},
				},

				resourceForm: {
					keywords: ''
				},

				subFormRules: {
					keywords: {required: true, message: '关键词是必须的'},
				},
				loading: false,
				errors: {},
				resources: [],
				resourceLoading: false,
				resourceDialog: false,
				resourceTotalPages: 0,
				resourceCurrentPage: 1,
				resourceTotal: 0,
				resourcePageSize: 0,
				schedules: [],
				scheduleLoading: false,

        //calendar
        cal: null,
        config: {},
        sourceEvents: [],
        start_at: moment().startOf('week').format('YYYYMMDD'),
        end_at: moment().endOf('week').format('YYYYMMDD'),
        events: []
      }
    },

    mounted() {
    	this.cal = $('#calendar')

    	this.config = {
    		lang: 'zh-cn',
    		header: {
    			left:   'prev,next today',
    			center: 'title',
    			right:  'month,agendaWeek,agendaDay'
    		},
        // defaultView: 'agendaWeek',
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        
        events: this.events,

        minTime: '05:00:00',
        maxTime: '22:00:00',

        dayClick: (date) => {
        	this.cal.fullCalendar('gotoDate', date.start)
        	this.cal.fullCalendar('changeView', 'agendaDay')
        },
      }
      
    },

    methods: {
    	setResource (resource) {
    		this.resource_apply.resource_id = resource.id 
    		this.resource_apply.resource = resource.name
    		this.resourceDialog = false
    		this.loadResourceSchedules(resource.id)
    	},

    	loadResourceSchedules(resourceId) {
    		let loadingInstance1 = Loading.service({target: '.fc-view-container'});

    		getResourceAppliesByIdAction(resourceId).then(response => {
    			this.events = response
    			this.cal.fullCalendar(this.config)
    			this.cal.fullCalendar('removeEventSources')
    			this.cal.fullCalendar('addEventSource', {
    				events: this.events
    			})
    			loadingInstance1.close()
    		}).catch(err => {
    			console.log(err)
    			loadingInstance1.close()
    			this.$message.error('加载失败，请重新加载')
    		})
    	},

    	cancel() {
    		history.back()
    	},

    	clearResourceSearch() {
    		this.resourceForm.keywords = ''
    		this.loadResources(1) 
    	},

    	setResourcePage (pageNumber) {
    		this.loadResources(pageNumber) 
    	},

    	loadResources (pageNumber) {
    		let queryStr = ''
    		if(this.resourceForm.keywords) {
    			queryStr = '?name=' + this.resourceForm.keywords
    		}
    		this.resourceLoading = true
    		getStudentResourcesAction(pageNumber, queryStr).then(response => {
    			this.loading = false
    			this.resourceTotalPages = response.last_page
    			this.resourceCurrentPage = response.current_page
    			this.resources  = response.data
    			this.resourceTotal = response.total
    			this.resourcePageSize = parseInt(response.per_page)
    			this.resourceLoading = false
    		}).catch(err => {
    			this.$message.error('加载失败，请重新加载')
    		})     
    	},

    	chooseResource () {
    		this.resourceDialog = true
    		if(this.resources.length === 0) {
    			this.loadResources(1)
    		}
    	},

    	submitForm(formName, shouldExit) {
    		this.$refs[formName].validate((valid) => {
    			if (valid) {
    				this.loading = true
    				this.errors = {}
    				storeResourceApplyAction(this.resource_apply).then(response => {
    					const resource_apply = response
    					this.$message.success('保存成功')
    					this.loading = false
    					if(shouldExit) {
    						this.$router.push({path: '/resource_applies/index'})
    					} else {
    						this.$router.push({path: '/resource_applies/edit', query: {applyId : resource_apply.id}})
    					}
    				}).catch(err => {
    					this.errors = err
    					console.log(err)
    					this.$message.error('保存失败')
    					this.loading = false
    				})
    			} else {
    				this.$message.error('您还未完成该表单')
    				return false;
    			}
    		});
    	},

    	resetForm(formName) {
    		this.$refs[formName].resetFields();
    	}
    }
  }
</script>