<template>
    <div class="padding-div" id="notification-detail">
      <div class="button-group">
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="收藏该通知" placement="bottom" >
            <el-button size="small" :icon="getIcon" :class="getCollectClass" @click="collectNotification" :loading="collectLoading" ></el-button> 
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="删除该通知" placement="bottom">
            <el-button icon="delete" size="small" @click="deleteNotifications"></el-button>
          </el-tooltip>
        </el-button-group>  
        
        <el-button-group>
          <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
            <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
          </el-tooltip>
          <el-button size="small" @click="print"><i class="fa fa-print" aria-hidden="true"></i></el-button>
        </el-button-group>  
      </div>

      <div class="print-content">
        <h1>{{notification.title}}</h1>
        
        <div class="info">
          <div><span class="author">发布人</span>{{notification.from.name}}</div>
          <span class="publish_at">{{notification.publish_at}}</span>
        </div>
          
        <p v-html="notification.content" class="content"></p>
      </div>
    </div>
</template>

<script>
 
  // import summernote from '../Summernote.vue'
  import {showNotificationAction, collectNotificationAction, deleteNotificationAction} from 'api/notifications' 
  import {Loading} from 'element-ui'
  import {imageUrl} from '../../config'
  import moment from 'moment'
  
  export default {
    name: 'notification-show',
    data() {
      return {
        id: '',
        notification : {
          content: '',
          title: '',
          to: 0,
          publish_at: '',
          from : {
            name: ''
          },
          state: 0
        },
        collectLoading: false
      }
    },

    mounted() {
      this.init() 
    },

    computed: {
      getIcon() {
        const state = this.notification.state
        if(state === 1) {
          return 'star-on' 
        } else {
          return 'star-off' 
        }
      }, 

      getCollectClass() {
        const state = this.notification.state
        if(state === 1) {
          return 'collect-btn-active' 
        } else {
          return 'collect-btn'
        }
      }, 
    },

    methods: {
      print() {
        window.print()
      },

      init() {
        this.id = this.$route.query.id
      
        if(this.id) {
          let loadingDialog = Loading.service({target: '#notification-detail'});
          
          showNotificationAction(this.id).then(response => {
            this.notification = response
            const publish = moment(this.notification.publish_at)
            if(moment().diff(publish, 'days') < 2) {
              this.notification.publish_at = publish.fromNow()
            } else {
              this.notification.publish_at = publish.format('LLL') 
            }
            loadingDialog.close()
            this.$store.dispatch('unreadNotification').then(() => { }).catch(err => { })
          }).catch(err => {
            loadingDialog.close()
          })
        } else {
          this.editMode = false
        }
      },

      collectNotification() {
        const id = this.notification.id
        this.collectLoading = true
        collectNotificationAction(id).then(response => {
          this.collectLoading = false
          if(this.notification.state) {
            this.notification.state = 0
            this.$message.success('已将该通知设为重要通知')
          } else {
            this.notification.state = 1
            this.$message.success('取消设置为重要通知')
          }
        }).catch(err => {
          this.collectLoading = false
          this.$message.error(err.response.error)
        }) 
      },

      deleteNotifications() {
        this.$confirm('此操作将永久删除通知, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const ids = this.notification.id
          
          deleteNotificationAction(ids).then(response => {
            this.$message.success('成功删除通知')
            this.cancel()
          }).catch(err => {
            this.$message.error(err.response.error)
          })
        }).catch(() => {
          this.$message({ type: 'info', message: '已取消删除' });          
        });
      },

      cancel() {
        history.back()
      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '../../styles/btn.scss';
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }

  .collect-btn {
  }
  
  .collect-btn-active {
    color: $yellow !important;
  }

</style>