<template>
  <div>
    <div class="text-right margin-bottom">
      <el-row type="flex">
        <el-col :span="8" class="text-left">
          <el-button-group>
            <el-tooltip class="item" effect="dark" content="刷新" placement="bottom">
              <el-button size="small" @click="init"><i class="fa fa-refresh" aria-hidden="true"></i></el-button>
            </el-tooltip>

            <el-button size="small" @click="print"><i class="fa fa-print" aria-hidden="true"></i></el-button>
          </el-button-group>
          
          <!-- 
          <el-button-group v-show="isTeacher">
            <el-button @click="showOnlyMyTask" size="small" :icon="showTaskIcon">{{showTaskText}}</el-button>
          </el-button-group>  
          -->
        </el-col>
        <el-col :span="16" class="text-right" v-show="editable">
          <div class="button-group">
            <el-button type="success" icon="plus" @click="createTask">添加新实践</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div id="calendar" class="print-content"></div>

    <el-dialog
      title="实践详细"
      :visible.sync="dialogVisible"
      size="large">

      <div id="admin-tasks-show">
        <h1>{{task.title}}</h1>
        
        <div class="info">
          <div><span class="author">发布人</span>{{task.teacher.name}}</div>
          <div><i class="fa fa-map-marker" aria-hidden="true"></i>  {{task.cl}}</div>
          <div class="publish_at"><i class="el-icon-date" aria-hidden="true"></i>  {{task.start}} 到 {{task.end}}</div>
        </div>
          
        <p v-html="task.description" class="content"></p> 

        <span slot="footer" class="dialog-footer ">
          <el-button @click="deleteTask" :loading="deleteLoading" v-show="!isStudent">删 除</el-button>
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="editTask" v-show="!isStudent">编 辑</el-button>
        </span>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import 'fullcalendar'
  import 'fullcalendar/dist/fullcalendar.min.css'
  import 'fullcalendar/dist/locale/zh-cn'
  
  import {getTasksAction, updateDragTaskAction, showAdminTaskAction, deleteTaskAction}  from 'api/tasks'
  import moment from 'moment'
  import {Loading} from 'element-ui'
  
  export default {
    props: {
      droppable : {
        type: Boolean,
        required: false,
        default: false 
      },
      editable : {
        type: Boolean,
        required: false,
        default: false
      }
    },
    data() {
      return {
        cal: null,
        config: {},
        sourceEvents: [],
        start_at: moment().startOf('month').format('YYYYMMDD'),
        end_at: moment().endOf('month').format('YYYYMMDD'),
        // onlyMe: false,
        dialogVisible: false,
        task : {
          teacher: {}
        },
        deleteLoading: false,
      }
    },
    mounted() {
      var self = this
      // self.cal = $(self.$el)
      self.cal = $('#calendar')
      
      this.config = {
        lang: 'zh-cn',
        header: {
          left:   'prev,next today',
          center: 'title',
          right:  'agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',
        height: "auto",
        allDaySlot: false,
        slotEventOverlap: false,
        timeFormat: 'HH:mm',
        minTime: '05:00:00',
        maxTime: '22:00:00',
        
        events: self.events,
        
        dayClick: (date) => {
          self.cal.fullCalendar('gotoDate', date.start)
          self.cal.fullCalendar('changeView', 'agendaDay')
        },

        eventClick: (event) => {
          const role = this.$store.getters.role
          const userId = this.$store.getters.userId
          const taskId = event.id
          
          
          if(role === 'student') {
            this.$router.push({path: '/student/tasks/show', query: {taskId}})
          } else {
            this.showTask(taskId)
          }
          // if(role === 'teacher') {
          //   if(event.teacher_id == userId) {
          //     this.$router.push({path: '/teacher/tasks/edit', query: {taskId}})
          //   } else {
          //     this.$router.push({path: '/teacher/tasks/show', query: {taskId}})
          //   }
          // } else if(role === 'student') {
          //   this.$router.push({path: '/student/tasks/show', query: {taskId}})
          // } else {
          //   this.showTask(taskId)
          // }
        }
      }
      
      if(this.editable) {
        this.config.editable = true
          this.config.eventResize = (event) => {
          const task = {
            id: event.id,
            start: event.start.format(),
            end: event.end.format(),
          }
          updateDragTaskAction(task).then(response => { }).catch(err => { })
        }
      }
    
      if(this.droppable) {
        this.config.droppable = true
        this.config.eventReceive = (event) => {
        }

        this.config.eventDrop = (event) => {
          const task = {
            id: event.id,
            start: event.start.format(),
            end: event.end.format(),
          }
          updateDragTaskAction(task).then(response => { }).catch(err => { })
        }
      }
    
      this.cal.fullCalendar(this.config)
      this.init() 
    },

    computed: {
      // isTeacher() {
        // return this.$store.getters.role == 'teacher'
      // },

      isStudent() {
        return this.$store.getters.role == 'student'
      }
      
      // showTaskText() {
      //   return this.onlyMe ? '显示所有' : '只显示我的实践'   
      // },

      // showTaskIcon() {
      //   return this.onlyMe ? 'plus' : 'minus'
      // }
    },

    methods: {
      print() {
        window.print()
      },

      editTask() {
        const role = this.$store.getters.role 
        const taskId = this.task.id
        if(role == 'teacher') {
          this.$router.push({path: '/teacher/tasks/edit', query: {taskId}})
        } else if(role == 'admin' || role == 'superAdmin') {
          this.$router.push({path: '/admin/tasks/edit', query: {taskId}})
        }
      },

      showTask(taskId) {
        this.dialogVisible = true
        let loadingDialog = Loading.service({target: '#admin-tasks-show'});
        showAdminTaskAction(taskId).then(response => {
          this.task = response
          this.task.start = moment(this.task.start).foramt('LLL')
          this.task.end = moment(this.task.end).format('LLL')
          
          loadingDialog.close()
        }).catch(err => {
          loadingDialog.close()
        })
      },

      init () {
        let loadingInstance1 = Loading.service({target: '.fc-view-container'});
        let role = this.$store.getters.role
        if(role == 'superAdmin') {
          role = 'admin'
        }
        const query = '?class_id=' + this.$route.query.class_id
        getTasksAction(this.start_at, this.end_at, role, query).then(response => {
          this.sourceEvents = response.map(event => {
            const userId = this.$store.getters.userId
            const taskId = event.id
            if(event.teacher_id == userId) {
              event.editable = true
              event.droppable = true
            } else {
              event.editable = false
              event.droppable = false
            }
            event.title = event.title + '\n' + event.teacher.name + '\n' + event.location_name
            return event
          })
          this.events = this.sourceEvents 
          this.cal.fullCalendar('removeEventSources')
          this.cal.fullCalendar('addEventSource', {
            events: this.events
          })
          loadingInstance1.close()
        }).catch(err => {
          this.$message.error('加载实践任务失败，请尝试重新连接或者联系管理员')
          loadingInstance1.close()
        }) 
      },

      deleteTask() {
        if(this.task && this.task.id) {
          this.deleteLoading = true
          deleteTaskAction(this.task.id).then(response => {
            this.deleteLoading = false
            
            this.dialogVisible = false
            this.events = this.events.filter(event => {
              return event.id != this.task.id
            })
            this.cal.fullCalendar('removeEventSources')
            this.cal.fullCalendar('addEventSource', {
              events: this.events
            })
            this.$message.success('删除成功')
          }).catch(err => {
            console.log(err)
            this.$message.error("删除失败，请稍后再试")
            this.deleteLoading = false
          })
        }
      },
      // showOnlyMyTask() {
      //   this.onlyMe = !this.onlyMe
      //   if(this.onlyMe) {
      //     this.events = this.sourceEvents.filter(event => {
      //       return event.teacher_id === this.$store.getters.userId 
      //     })
      //   } else {
      //     this.events = this.sourceEvents 
      //   }
      //   this.cal.fullCalendar('removeEventSources')
      //   this.cal.fullCalendar('addEventSource', {
      //     events: this.events
      //   })
      // },
      createTask () {
        const role = this.$store.getters.role
        const class_id = this.$route.query.class_id
        if(role == 'teacher') {
          this.$router.push({path: '/teacher/tasks/create', query: {class_id}})
        } else {
          this.$router.push({path: '/admin/tasks/create', query: {class_id}})
        }
      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .margin-bottom { 
    margin-bottom : 20px;
  }
  .publish_at {
    margin-top: 5px;
    color: #969696;
    font-size: 12px;
  }

  .info {
    margin: 30px 0 40px;

    div {
      margin-top: 5px;
    }
  }

  .author {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    margin-right: 4px;
    border-radius: 3px;
  }
</style>